pkgbase = haskell-extra
	pkgdesc = Extra functions I use.
	pkgver = 1.7.14
	pkgrel = 38
	url = https://github.com/ndmitchell/extra#readme
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = haskell-quickcheck
	makedepends = haskell-quickcheck-instances
	depends = ghc-libs
	depends = haskell-clock
	source = https://hackage.haskell.org/packages/archive/extra/1.7.14/extra-1.7.14.tar.gz
	sha512sums = 9505a6b2b6aecdb0400a4bdf79e1888a2f5db30242903c50f0653df90960f53b8484ea782cde1e7aa5339bcc6e5b3417aa3494efeafebfa49fe318b57878b00b

pkgname = haskell-extra
