pkgbase = package-notes
	pkgdesc = ELF Package Notes Reference Implementation
	pkgver = 0.20
	pkgrel = 1
	url = https://github.com/systemd/package-notes
	arch = any
	license = CC0-1.0
	makedepends = git
	depends = python
	depends = python-pyelftools
	depends = python-rich
	source = git+https://github.com/systemd/package-notes.git?signed#tag=v0.20
	validpgpkeys = A9EA9081724FFAE0484C35A1A81CEA22BC8C7E2E
	sha256sums = cd23355f0c7b2632d2dcf0cad2aca92d1447c600b9ba5333c0294d2b381fb644

pkgname = package-notes
