pkgbase = haskell-chimera
	pkgdesc = Lazy infinite streams with O(1) indexing and applications for memoization
	pkgver = 0.3.3.0
	pkgrel = 37
	url = https://github.com/Bodigrim/chimera#readme
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-quickcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	makedepends = haskell-tasty-smallcheck
	depends = ghc-libs
	depends = haskell-adjunctions
	depends = haskell-distributive
	depends = haskell-primitive
	depends = haskell-vector
	source = https://hackage.haskell.org/packages/archive/chimera/0.3.3.0/chimera-0.3.3.0.tar.gz
	sha512sums = 2b27b16930d8b0aff634c7f026d51890646c1b550dca78508d86b148299aa13342e570b4c107d818420906fa02123767d98c89a5dad873e26a846c7b5ac10e48

pkgname = haskell-chimera
