pkgbase = haskell-chimera
	pkgdesc = Lazy infinite streams with O(1) indexing and applications for memoization
	pkgver = 0.3.4.0
	pkgrel = 13
	url = https://github.com/Bodigrim/chimera#readme
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-quickcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	makedepends = haskell-tasty-smallcheck
	depends = ghc-libs
	depends = haskell-adjunctions
	depends = haskell-distributive
	depends = haskell-infinite-list
	depends = haskell-primitive
	depends = haskell-vector
	source = https://hackage.haskell.org/packages/archive/chimera/0.3.4.0/chimera-0.3.4.0.tar.gz
	sha512sums = 90ed751f35f31c57b7e496f770bfd93ab8122a2565a23e3f102e1390723aa6d47a534fc0d48a001d6d7908c8d7972e61de74651b9c1b61dfe0de1d75f3cfbf65

pkgname = haskell-chimera
