pkgbase = libretro-desmume
	pkgdesc = Nintendo DS core
	pkgver = 6361
	pkgrel = 1
	url = https://github.com/libretro/desmume
	arch = x86_64
	groups = libretro
	license = GPL2
	makedepends = git
	makedepends = libpcap
	makedepends = mesa
	depends = libgl
	depends = libretro-core-info
	source = libretro-desmume::git+https://github.com/libretro/desmume.git#commit=7f05a8d447b00acd9e0798aee97b4f72eb505ef9
	sha256sums = 9b3e33569e3943b01f441fbcc3ca45e29c8d49b5893985479ae8868d425bceb2

pkgname = libretro-desmume
