pkgbase = typstyle
	pkgdesc = Beautiful and reliable typst code formatter
	pkgver = 0.14.4
	pkgrel = 2
	url = https://github.com/typstyle-rs/typstyle
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	optdepends = typst: For typst compilation
	source = git+https://github.com/typstyle-rs/typstyle.git#tag=v0.14.4
	sha256sums = a15a149af4ab68ea518beb971e6f913f05acdf697619d19784dfd7fd9adbea62

pkgname = typstyle
