pkgbase = lib32-libxcomposite
	pkgdesc = X11 Composite extension library (32-bit)
	pkgver = 0.4.6
	pkgrel = 2
	url = https://xorg.freedesktop.org/
	arch = x86_64
	license = custom
	makedepends = xorg-util-macros
	makedepends = gcc-multilib
	depends = lib32-libxfixes
	depends = libxcomposite
	source = https://xorg.freedesktop.org//releases/individual/lib/libXcomposite-0.4.6.tar.xz
	sha512sums = f35a0da8f9f22fd788eee01209557fe3a1b1abdc9744f76330ba42b21b6e3af5464ca4451c33415856417c30da5aa5624e3707980c644327249bfeda5a62a59b

pkgname = lib32-libxcomposite
