pkgbase = stress-ng
	pkgdesc = Software to stress test a computer system in various selectable ways
	pkgver = 0.18.05
	pkgrel = 1
	url = https://github.com/ColinIanKing/stress-ng
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = attr
	makedepends = eigen
	makedepends = keyutils
	makedepends = libaio
	makedepends = libcap
	makedepends = libgcrypt
	makedepends = libglvnd
	makedepends = libmd
	depends = apparmor
	depends = gmp
	depends = judy
	depends = kmod
	depends = libbsd
	depends = libglvnd
	depends = libjpeg-turbo
	depends = lksctp-tools
	depends = mpfr
	depends = xxhash
	optdepends = intel-ipsec-mb: support for IPsec tests
	optdepends = linux-headers: include some headers from the Arch kernel
	optdepends = linux-lts-headers: include some headers from the LTS kernel
	optdepends = linux-zen-headers: include some headers from the ZEN kernel
	optdepends = linux-hardened-headers: include some headers from the HARDENED kernel
	source = stress-ng-0.18.05.tar.gz::https://github.com/ColinIanKing/stress-ng/archive/refs/tags/V0.18.05.tar.gz
	b2sums = df32cedb1316627bcab92577f010c4978c9db3d7b636188b9c9519e0afbc1e68755f0012805bdaaf0d29b95e9338e712eba56bb7c941f13cd0b0621a12388ef2

pkgname = stress-ng
