pkgbase = python-pytimeparse
	pkgdesc = A small library to parse various kinds of time expressions
	pkgver = 1.1.9
	pkgrel = 1
	url = https://github.com/wroberts/pytimeparse
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/p/pytimeparse/pytimeparse-1.1.9.tar.gz
	sha256sums = 1f1c0bedcfbe481b78f7cb11dba7d81039455af8ba014eafc6df060c9c0ab156

pkgname = python-pytimeparse
