pkgbase = repgrep
	pkgdesc = An interactive command line replacer for ripgrep
	pkgver = 0.17.1
	pkgrel = 1
	url = https://github.com/acheronfail/repgrep
	arch = x86_64
	license = MIT
	license = Apache
	license = Unlicense
	makedepends = cargo
	makedepends = asciidoctor
	depends = libgcc
	depends = ripgrep
	source = repgrep-0.17.1.tar.gz::https://github.com/acheronfail/repgrep/archive/0.17.1.tar.gz
	sha512sums = 39562cb62bb34035efc3b24cb9778e8c9f19ec2af7458b0751ae6a12314037ecc18a4b90e92dfd1935b50007f5b45de3599b1b92d61a33d3c0d72738ec01d2f9

pkgname = repgrep
