pkgbase = mergiraf
	pkgdesc = A syntax-aware git merge driver for a growing collection of programming languages and file formats
	pkgver = 0.5.1
	pkgrel = 1
	url = https://mergiraf.org/
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = git
	makedepends = rust
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = mergiraf-0.5.1.tar.gz::https://codeberg.org/mergiraf/mergiraf/archive/v0.5.1.tar.gz
	sha512sums = f2aa3c1610b83fbc322b37a48dff46213b2ed84905e51c5f526cf12bd2d0c46d058291e2c631bfcc901ee031fdff8326900dc3c57c0a4acc8fd6592069308f74

pkgname = mergiraf
