pkgbase = python-dask
	pkgdesc = Parallel computing with task scheduling
	pkgver = 2025.5.0
	pkgrel = 1
	url = https://dask.org
	arch = any
	license = BSD-3-Clause
	checkdepends = ipython
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-pytest-xdist
	checkdepends = python-aiohttp
	checkdepends = python-boto3
	checkdepends = python-botocore
	checkdepends = python-cytoolz
	checkdepends = python-distributed
	checkdepends = python-graphviz
	checkdepends = python-h5py
	checkdepends = python-httpretty
	checkdepends = python-jinja
	checkdepends = python-jsonschema
	checkdepends = python-lz4
	checkdepends = python-matplotlib
	checkdepends = python-moto
	checkdepends = python-numexpr
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-psutil
	checkdepends = python-pyarrow
	checkdepends = python-pytables
	checkdepends = python-requests
	checkdepends = python-scikit-learn
	checkdepends = python-scipy
	checkdepends = python-snappy
	checkdepends = python-sqlalchemy
	checkdepends = python-xarray
	checkdepends = python-xxhash
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-versioneer
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-cloudpickle
	depends = python-fsspec
	depends = python-importlib-metadata
	depends = python-packaging
	depends = python-partd
	depends = python-yaml
	depends = python-toolz
	optdepends = python-distributed: distributed computing
	optdepends = python-numpy: arrays and dataframes support
	optdepends = python-pandas: dataframes support
	optdepends = python-psutil: more accurate CPU count
	optdepends = python-pyarrow: Apache Arrow, for parquet support
	optdepends = python-sqlalchemy: writing and reading from SQL databases
	optdepends = python-xxhash: faster hashing of arrays
	source = https://github.com/dask/dask/archive/2025.5.0/python-dask-2025.5.0.tar.gz
	b2sums = 338948c687064b4cb8ac4526d1991cf3e4390971e9f0056359ce7f77455eb740c8a766801d5455471491783f7515e86b0054632c7b14c0e54bf43d69bc4e96ce

pkgname = python-dask
