pkgbase = haskell-what4
	pkgdesc = Solver-agnostic symbolic values support for issuing queries
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/GaloisInc/what4
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = cvc4
	checkdepends = yices
	checkdepends = z3
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-contravariant
	makedepends = haskell-hedgehog
	makedepends = haskell-lumberjack
	makedepends = haskell-quickcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-checklist
	makedepends = haskell-tasty-expected-failure
	makedepends = haskell-tasty-hedgehog
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	makedepends = haskell-tasty-sugar
	depends = ghc-libs
	depends = haskell-async
	depends = haskell-attoparsec
	depends = haskell-bimap
	depends = haskell-bifunctors
	depends = haskell-boundedchan
	depends = haskell-bv-sized
	depends = haskell-concurrent-extra
	depends = haskell-config-value
	depends = haskell-deriving-compat
	depends = haskell-fingertree
	depends = haskell-hashable
	depends = haskell-hashtables
	depends = haskell-io-streams
	depends = haskell-lens
	depends = haskell-libbf
	depends = haskell-megaparsec
	depends = haskell-ordered-containers
	depends = haskell-panic
	depends = haskell-parameterized-utils
	depends = haskell-prettyprinter
	depends = haskell-s-cargot
	depends = haskell-scientific
	depends = haskell-temporary
	depends = haskell-th-lift
	depends = haskell-th-lift-instances
	depends = haskell-unliftio
	depends = haskell-unordered-containers
	depends = haskell-utf8-string
	depends = haskell-vector
	depends = haskell-versions
	depends = haskell-zenc
	optdepends = cvc4
	optdepends = yices
	optdepends = z3
	source = https://hackage.haskell.org/packages/archive/what4/1.6.2/what4-1.6.2.tar.gz
	sha512sums = 53d8aa9eee2462921554208de04ead67050d7d3b700f2840917ae23f0a0161839c2eb267aa2e9772a1fb82b5617255d3f2d73ce62d500f789693faafc364b43b

pkgname = haskell-what4
