pkgbase = haskell-ipython-kernel
	pkgdesc = A library for creating kernels for IPython frontends
	pkgver = 0.12.1.0
	pkgrel = 8
	url = https://github.com/gibiansky/IHaskell
	arch = x86_64
	license = MIT
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base16-bytestring
	depends = haskell-cryptohash-sha256
	depends = haskell-temporary
	depends = haskell-unordered-containers
	depends = haskell-uuid
	depends = haskell-zeromq4-haskell
	source = https://hackage.haskell.org/packages/archive/ipython-kernel/0.12.1.0/ipython-kernel-0.12.1.0.tar.gz
	sha256sums = 4684df66006d02e6dc11d41b4c2be0763482867e92b64c75a62a44795b0991e7

pkgname = haskell-ipython-kernel
