pkgbase = libchardet
	pkgdesc = Mozilla's Universal Charset Detector C/C++ API
	pkgver = 1.0.6
	pkgrel = 4
	url = http://ftp.oops.org/pub/oops/libchardet
	arch = x86_64
	license = MPL-1.1
	makedepends = git
	depends = bash
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = git+https://github.com/Joungkyun/libchardet.git#tag=1.0.6
	b2sums = 558022aa6b25bd65e514439f9b81e439d201aecaa635f72834e1e56a58d4f937915420dcbde35bf1f44db87b4a57321be0b375c5907c4aa77f8eef33cc4e2009

pkgname = libchardet
