pkgbase = qutebrowser
	pkgdesc = A keyboard-driven, vim-like browser based on Python and Qt
	pkgver = 3.5.0
	pkgrel = 1
	url = https://www.qutebrowser.org/
	arch = any
	license = GPL-3.0-only
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = python-jinja
	depends = python-pyqt6
	depends = python-yaml
	depends = qt6-base
	depends = python-pyqt6-webengine
	optdepends = python-adblock: adblocking backend
	optdepends = python-pygments
	optdepends = pdfjs: displaying PDF in-browser
	options = !emptydirs
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v3.5.0/qutebrowser-3.5.0.tar.gz
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v3.5.0/qutebrowser-3.5.0.tar.gz.asc
	validpgpkeys = 27F3BB4FC217EECB858578AEEF7EE4D039690B7B
	sha256sums = fa142c8d1c2825b068b71b3604a8b2d682e2ed84a14c3e68b6de7844331d80bb
	sha256sums = SKIP

pkgname = qutebrowser
