pkgbase = qcad
	pkgdesc = A 2D CAD package based upon Qt
	pkgver = 3.29.4.1
	pkgrel = 1
	url = https://www.qcad.org
	arch = x86_64
	license = GPL3
	makedepends = glu
	depends = qt5-script
	depends = qt5-svg
	depends = gcc-libs
	depends = qt5-xmlpatterns
	depends = qt5-tools
	depends = qt5-wayland
	source = qcad-3.29.4.1-9070c59ebf8de950525d121231effb4f79e1119e.tar.gz::https://github.com/qcad/qcad/archive/9070c59ebf8de950525d121231effb4f79e1119e.tar.gz
	sha512sums = 2067cf45bcd380d066db7121787f8a68ebd9e7fb0ef36b1db676c3b80a28f34b41ac4ec34752cba1ee938b2c6fc66de72755414bcc0df751454fbb158fa4baa6

pkgname = qcad
