pkgbase = lincity-ng
	pkgdesc = A city simulation game
	pkgver = 2.14.2
	pkgrel = 3
	url = https://github.com/lincity-ng/lincity-ng
	arch = x86_64
	license = CC-BY-SA-2.0
	license = GPL-2.0-or-later
	license = LicenseRef-ArevFontsCopyright
	license = LicenseRef-BitstreamVeraFontsCopyright
	makedepends = cmake
	makedepends = git
	makedepends = libxslt
	depends = fmt
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libstdc++
	depends = libxml++-5.0
	depends = libxml2
	depends = sdl2
	depends = sdl2_image
	depends = sdl2_mixer
	depends = sdl2_ttf
	depends = zlib
	source = git+https://github.com/lincity-ng/lincity-ng.git#tag=lincity-ng-2.14.2
	b2sums = 58cc1c1db1a6fb4601f3863af3190803684df930816dcc417b1a7b3c5bf7f95664d2495c2ade7ec34e7fee464d4957ebb1bfd0a90c7de00b924a2ff1cf1c600c

pkgname = lincity-ng
