pkgbase = phpldapadmin
	pkgdesc = A PHP and hence web-based tool to administrate LDAP over the WWW
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/leenooks/phpLDAPadmin
	arch = any
	license = GPL
	makedepends = optipng
	makedepends = git
	makedepends = npm
	makedepends = composer
	depends = libldap
	depends = php
	backup = etc/phpldapadmin/env
	source = phpldapadmin-2.3.0.tar.gz::https://github.com/leenooks/phpLDAPadmin/archive/refs/tags/2.3.0.tar.gz
	source = phpldapadmin.service
	sha256sums = 440c024defcd4d23d3a00733f489a6b959a5f35a48dc37ba8d4c939d0f6c9fca
	sha256sums = 0887bf62f9b1b59133b12110150e4e9de22253cc3fa0c2a7c3d47b577b866b85

pkgname = phpldapadmin
