pkgbase = haskell-doclayout
	pkgdesc = A prettyprinting library for laying out text documents
	pkgver = 0.5.0.2
	pkgrel = 1
	url = https://github.com/jgm/doclayout
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	makedepends = haskell-tasty
	makedepends = haskell-tasty-golden
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	depends = haskell-emojis
	depends = haskell-safe
	source = https://hackage.haskell.org/packages/archive/doclayout/0.5.0.2/doclayout-0.5.0.2.tar.gz
	sha512sums = 8a1d114e1a4ca1a080647e070fd107a4a379fdc530867a9658a24dc5f9068458da0d83d2301923b3cd068150c896e33396abf21acbd475e7fce11a82b08a02a5

pkgname = haskell-doclayout
