pkgbase = deepin-icon-theme
	pkgdesc = Deepin Icons
	pkgver = 2025.03.27
	pkgrel = 1
	url = https://github.com/linuxdeepin/deepin-icon-theme
	arch = any
	groups = deepin
	license = GPL3
	makedepends = git
	depends = papirus-icon-theme
	conflicts = deepin-cursor-theme
	replaces = deepin-cursor-theme
	source = git+https://github.com/linuxdeepin/deepin-icon-theme.git#tag=2025.03.27
	sha512sums = 94d0db9f72586c8c8df8e1cdf12c7c19d102ecebcff77ec230c7487e244883a034c848f6cabd7e9addaf5ca809d3e451327a304dbd5359e587b9023fe51bd1a7

pkgname = deepin-icon-theme
