pkgbase = gnome-tweaks
	pkgdesc = Graphical interface for advanced GNOME 3 settings (Tweak Tool)
	pkgver = 46.0
	pkgrel = 3
	url = https://wiki.gnome.org/Apps/Tweaks
	arch = any
	groups = gnome-extra
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = meson
	depends = dconf
	depends = glib2
	depends = gnome-desktop-4
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgudev
	depends = libnotify
	depends = pango
	depends = python
	depends = python-gobject
	source = git+https://gitlab.gnome.org/GNOME/gnome-tweaks.git#tag=46.0
	validpgpkeys = A3C5EBBF43FBA5F829F1A2548D66762250C07E85
	b2sums = f6de88d985864a2eedc3e7dce9030379c952826ef4d4295b665d47d36d67d001bf3574b68c71596d9edd93204cf13359a559663340b694800f8409c3159e0465

pkgname = gnome-tweaks
