pkgbase = archinstall
	pkgdesc = Just another guided/automated Arch Linux installer with a twist
	pkgver = 3.0.10
	pkgrel = 1
	url = https://github.com/archlinux/archinstall
	arch = any
	license = GPL-3.0-only
	makedepends = ruff
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-wheel
	makedepends = python-sphinx_rtd_theme
	makedepends = python-pylint
	makedepends = python-pylint-pydantic
	depends = arch-install-scripts
	depends = btrfs-progs
	depends = coreutils
	depends = cryptsetup
	depends = dosfstools
	depends = e2fsprogs
	depends = glibc
	depends = kbd
	depends = libcrypt.so
	depends = libxcrypt
	depends = pciutils
	depends = procps-ng
	depends = python
	depends = python-cryptography
	depends = python-pydantic
	depends = python-pyparted
	depends = systemd
	depends = util-linux
	depends = xfsprogs
	depends = lvm2
	depends = f2fs-tools
	depends = ntfs-3g
	optdepends = python-systemd: for systemd-journald support
	provides = python-archinstall
	source = archinstall-3.0.10.tar.gz::https://github.com/archlinux/archinstall/archive/refs/tags/3.0.10.tar.gz
	source = archinstall-3.0.10.tar.gz.sig::https://github.com/archlinux/archinstall/releases/download/3.0.10/archinstall-3.0.10.tar.gz.sig
	validpgpkeys = 8AA2213C8464C82D879C8127D4B58E897A929F2E
	sha512sums = aae0e31c0ad1442f5fed866a989e3c897ec707e4292a4565f32641d3b4b145165f2e95f9c6a7c71ac65b0f09cde9bc00cd2179814f9c73ae978c1333cacaa3f4
	sha512sums = SKIP
	b2sums = 439618f88f17c5dd0061db5390d0e8285a4364bd072eebc9702520d339e23ab02b599d376fe837c8fa78605f7d92e3f34ebbc231fa449666f347a71143049772
	b2sums = SKIP

pkgname = archinstall
