pkgbase = rime-bopomofo
	pkgdesc = Bopomofo input for rime
	pkgver = 0.0.0.20251223
	pkgrel = 1
	url = https://github.com/rime/rime-bopomofo
	arch = x86_64
	license = LGPL-3.0-only
	makedepends = git
	makedepends = librime
	makedepends = rime-prelude
	makedepends = rime-essay
	depends = rime-cangjie
	depends = rime-terra-pinyin
	source = git+https://github.com/rime/rime-bopomofo.git#commit=18764b0a516600babe827a3a29fb273fa2e5e4cf
	sha512sums = 5195a846f672d655fb4554a2d1383e8f08f5e052129373a0814f266db59ee5a55682f1b10896e6651946010990c2c53ba60730692c516b571982b5c49ff12c5b

pkgname = rime-bopomofo
