pkgbase = haskell-jose
	pkgdesc = JSON Object Signing and Encryption (JOSE) and JSON Web Token (JWT) library
	pkgver = 0.11
	pkgrel = 8
	url = https://github.com/frasertweedale/hs-jose
	arch = x86_64
	license = Apache-2.0
	makedepends = ghc
	makedepends = haskell-hedgehog
	makedepends = haskell-hspec
	makedepends = haskell-pem
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hspec
	makedepends = haskell-tasty-hedgehog
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base64-bytestring
	depends = haskell-concise
	depends = haskell-crypton
	depends = haskell-crypton-x509
	depends = haskell-lens
	depends = haskell-memory
	depends = haskell-monad-time
	depends = haskell-network-uri
	source = https://hackage.haskell.org/packages/archive/jose/0.11/jose-0.11.tar.gz
	sha512sums = 0da9cb2b995f597e77354d4b0c3bbdf6192d1cfefa4ee27195c27afaef357d5030cc1f631e6d10e4d4cd26a5040102840c3baebd643294915748d711ab54caf6

pkgname = haskell-jose
