pkgbase = python-uv-dynamic-versioning
	pkgdesc = Dynamic versioning based on VCS tags for uv/hatch projects
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/ninoseki/uv-dynamic-versioning
	arch = any
	license = MIT
	checkdepends = python-gitpython
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-dunamai
	depends = python-hatchling
	depends = python-jinja
	depends = python-tomlkit
	source = python-uv-dynamic-versioning::git+https://github.com/ninoseki/uv-dynamic-versioning#tag=v0.14.0
	b2sums = 80f4e51eb17d38c55d611da753edf104800fedb3aa0b1cd5e408f0bff84c474e288b417565d7cae9ee4e39288e985f9402eb1b4c2a5064396f2a24c67f70452c

pkgname = python-uv-dynamic-versioning
