pkgbase = rssguard
	pkgdesc = Simple (yet powerful) Qt feed reader
	pkgver = 4.8.5
	pkgrel = 1
	url = https://github.com/martinrotter/rssguard
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = git
	makedepends = qt6-tools
	makedepends = qt6-webengine
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = mpv
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sqlite
	optdepends = clang: Support for beautification of message filter scripts
	optdepends = mariadb-libs: Support for MariaDB-based data storage
	source = git+https://github.com/martinrotter/rssguard#tag=4.8.5
	sha256sums = 9a2ee919f9e657818e9ddbdf9a7810797443bccbcee0991a0dec770e6fcca8e2

pkgname = rssguard
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = mpv
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sqlite
	depends = qt6-webengine

pkgname = rssguard-lite
	pkgdesc = Simple (yet powerful) Qt feed reader without WebEngine support
	provides = rssguard=4.8.5
	conflicts = rssguard
	replaces = rssguard-nowebengine
