pkgbase = ast-grep
	pkgdesc = CLI tool for code structural search, lint and rewriting
	pkgver = 0.41.0
	pkgrel = 1
	url = https://ast-grep.github.io/
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = https://github.com/ast-grep/ast-grep/archive/0.41.0/ast-grep-0.41.0.tar.gz
	sha512sums = 1dfa0b53ac0a5651922e373ef8737c11d953791e86d6904419229b8501fa2763bc571752eed68cb4c4ac42e5345dccc60f2d9956ae0cd8e53f41c573d6fb435f
	b2sums = 1bfb50dee5544ff3bdc6ba3247f844528f7b795b654bdbbdb35e7414158b288173493c1a8f61be301576b8945c0efa0c8be6236bc00cf25caa91867966f799ab

pkgname = ast-grep
	depends = gcc-libs
	depends = glibc

pkgname = python-ast-grep
	depends = gcc-libs
	depends = glibc
	depends = python
