pkgbase = haskell-tasty-quickcheck
	pkgdesc = QuickCheck support for the Tasty test framework.
	pkgver = 0.11.1
	pkgrel = 8
	url = https://github.com/UnkindPartition/tasty
	arch = x86_64
	license = MIT
	checkdepends = haskell-tasty-hunit
	checkdepends = haskell-regex-tdfa
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-optparse-applicative
	depends = haskell-quickcheck
	depends = haskell-random
	depends = haskell-tagged
	depends = haskell-tasty
	source = https://hackage.haskell.org/packages/archive/tasty-quickcheck/0.11.1/tasty-quickcheck-0.11.1.tar.gz
	sha512sums = 6e669a5ad95b4126aab0248d97f35247e3c3299341a3bf61e2650c5c3c7d05b12a187e2228d0116ab8dc2d6ee0c23e40dd4cd3339cc7f0a7d08b2235230d2651

pkgname = haskell-tasty-quickcheck
