pkgbase = otf-ipamjfont
	pkgdesc = Japanese outline Mincho fonts implementing IVS compliant with Hanyo-Denshi collection (based on IPAex Mincho fonts)
	pkgver = 006.01
	pkgrel = 3
	url = https://moji.or.jp/mojikiban/font/
	arch = any
	groups = ipa-fonts
	license = custom
	source = https://dforest.watch.impress.co.jp/library/i/ipamjfont/10750/ipamjm00601.zip
	sha256sums = 35494e0f2896f38b3f7369a8421a895cea6440a42c0a66ac95eab47d6ed25b68

pkgname = otf-ipamjfont
