pkgbase = deepin-launchpad
	pkgdesc = The "launcher" or "start menu" component for DDE - next generation
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-launchpad
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = ninja
	makedepends = gtest
	makedepends = qt6-tools
	makedepends = clang
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quickcontrols2
	depends = qt6-svg
	depends = dtk6core
	depends = dtk6gui
	depends = glib2
	depends = appstream-qt
	depends = dtk6declarative
	depends = glibc
	depends = gcc-libs
	provides = deepin-launcher
	conflicts = deepin-launcher
	replaces = deepin-launcher
	source = https://github.com/linuxdeepin/dde-launchpad/archive/0.4.1/deepin-launchpad-0.4.1.tar.gz
	sha512sums = 47a890e53cd09de3800b090acedfe44a40cbf1f4b15453d5013054d8f7aacd5b63ee5a3a228c2ca5c291103925e34a7d1b5ef472616a3d00c1fe9827df77f58c

pkgname = deepin-launchpad
