pkgbase = deepin-application-manager
	pkgdesc = App manager of Deepin Desktop Environment
	pkgver = 1.2.36
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-application-manager
	arch = x86_64
	groups = deepin
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = gtest
	depends = dtk6core
	depends = qt6-base
	depends = glibc
	depends = gcc-libs
	depends = systemd-libs
	depends = startdde
	source = git+https://github.com/linuxdeepin/dde-application-manager.git#tag=1.2.36
	sha512sums = 9237645a5af7af4e320dd553d13e63a6dc61a934d79ee34630ed7ae764c5892ae67d0dc800d6683dda18cebb7f0cd2a5f8b9b0098309c90aa9fe7b0243ad5739

pkgname = deepin-application-manager
