pkgbase = deepin-application-manager
	pkgdesc = App manager of Deepin Desktop Environment
	pkgver = 1.2.30
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-application-manager
	arch = x86_64
	groups = deepin
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = gtest
	depends = dtk6core
	depends = qt6-base
	depends = glibc
	depends = gcc-libs
	depends = systemd-libs
	depends = startdde
	source = git+https://github.com/linuxdeepin/dde-application-manager.git#tag=1.2.30
	sha512sums = 6a214b04e16a7d8024812c588aa231d9730869d0bebf839ab20886fd9515022660cb92d9ded38db1c6bdab2ba3537b620f1670b290281bca3d160a14f0f2c3d1

pkgname = deepin-application-manager
