pkgbase = cosmic-panel
	pkgdesc = XDG Shell Wrapper Panel for Cosmic
	pkgver = 1.0.0.beta.1.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-panel
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-panel.git#tag=1cbfafc68b68ef822f346b2c3c3a04dc04ab0e9a
	b2sums = e25bc9d530f5b3a2c9ea8cbb0831da9e54a9fe467f7da84a329363f1ae7a302827e2248f94283bc26b2f1b3560900ac251d981cad995c83d8d25a4733c4efe47

pkgname = cosmic-panel
