pkgbase = python-zxcvbn-rs
	pkgdesc = Python bindings for zxcvbn-rs, the Rust implementation of zxcvbn
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/fief-dev/zxcvbn-rs-py
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = maturin
	makedepends = python-installer
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = python
	source = git+https://github.com/fief-dev/zxcvbn-rs-py#tag=v0.2.0
	b2sums = cad84718b1c9aff9326c7c6368ff515f668b44eba217ad0eb76b4468e2c1a2651372d74f97a595c62f938319ff9070e4e21326c9590d0a77d6697f445c63a71e

pkgname = python-zxcvbn-rs
