pkgbase = git-cliff
	pkgdesc = A highly customizable changelog generator
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/orhun/git-cliff
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libgit2
	source = git-cliff-2.6.0.tar.gz::https://github.com/orhun/git-cliff/archive/v2.6.0.tar.gz
	sha512sums = 4ee0bd099cc9b6f368af76cb0167d2532cd5741b7dc5b8b3d0ab40fba24d39fd9de4cea3c82c03c5d8315eac85554904f7021b380564305b108ac33401f9f68c

pkgname = git-cliff
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libgit2
	depends = libgit2.so
	depends = libz.so
