pkgbase = pnpm
	pkgdesc = Fast, disk space efficient package manager
	pkgver = 10.8.1
	pkgrel = 1
	url = https://pnpm.io
	arch = any
	license = MIT
	makedepends = git
	makedepends = pnpm
	makedepends = python
	depends = node-gyp
	source = git+https://github.com/pnpm/pnpm.git#tag=v10.8.1?signed
	validpgpkeys = 7B74D1299568B586BA9962B5649E4D4AF74E7DEC
	b2sums = d8b80fd5ee642037a2dd306750951fd87b03489ef7f917e80567f7d7d4934c6b81d4055b7bf557046f6d1b7cfe1e29da026d3e8d5923a6dee1baf7a29d40feba

pkgname = pnpm
