pkgbase = pnpm
	pkgdesc = Fast, disk space efficient package manager
	pkgver = 10.7.1
	pkgrel = 1
	url = https://pnpm.io
	arch = any
	license = MIT
	makedepends = git
	makedepends = pnpm
	makedepends = python
	depends = node-gyp
	source = git+https://github.com/pnpm/pnpm.git#tag=v10.7.1?signed
	validpgpkeys = 7B74D1299568B586BA9962B5649E4D4AF74E7DEC
	b2sums = 5a58f4711e04c7b32e86d829eb954e51d7926f6a74f53ea2b5b1b9b80ffd471c01eaff31f76ec1f89a49804c995bcba9cb6069ff967660e51adf201d3d264589

pkgname = pnpm
