pkgbase = ananta
	pkgdesc = A command-line tool to execute commands on multiple remote hosts
	pkgver = 1.3.7
	pkgrel = 1
	url = https://sr.ht/~cwt/ananta/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-asyncssh
	depends = python-urwid
	optdepends = python-uvloop: for improved performance
	source = git+https://github.com/cwt/ananta.git#tag=v1.3.7
	sha512sums = 958aa976c0d0c11933f0a62d1ee58321ec857ca1b4ab5445581b5586f8517ad3a80817615bb7ef1ba8c9f99b0055820f66d387bf366ac85d8cdd06b16061f341

pkgname = ananta
