pkgbase = ananta
	pkgdesc = A command-line tool to execute commands on multiple remote hosts
	pkgver = 1.1.8
	pkgrel = 1
	url = https://sr.ht/~cwt/ananta/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = mercurial
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-asyncssh
	optdepends = python-uvloop: for improved performance
	source = hg+https://hg.sr.ht/~cwt/ananta#tag=v1.1.8
	sha512sums = b0ae833a4cc4246a9f2b05db2dc02c6b8b7b2ae3023bc2305781ad77442382695b3734a9a9d9ae76981bab85183ce003dbe478ad70d113f2a83003a3960757f1

pkgname = ananta
