pkgbase = python-mwparserfromhell
	pkgdesc = A Python parser for MediaWiki wikicode
	pkgver = 0.6.6
	pkgrel = 2
	url = https://github.com/earwig/mwparserfromhell
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = python-mwparserfromhell-0.6.6.tar.gz::https://github.com/earwig/mwparserfromhell/archive/refs/tags/v0.6.6.tar.gz
	b2sums = a8dc2b23edd1d0ebcde3ac1fbc052669e650ab39791e5f63542e7aacc6e2ecc7424fca39a9949612810159f44c86fb08b63b81e0c87bec8a64bfab572984305e

pkgname = python-mwparserfromhell
