pkgbase = python-pysnmp
	pkgdesc = Open source and free implementation of v1/v2c/v3 SNMP engine
	pkgver = 7.1.24
	pkgrel = 1
	url = https://www.pysnmp.com/
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-cryptography
	depends = python-pyasn1
	depends = python-pysmi
	source = https://github.com/lextudio/pysnmp/archive/v7.1.24/pysnmp-v7.1.24.tar.gz
	sha512sums = c5554855d324e7e80b5ecac4475a95048bf2baf111b21f847912854b561f1a716043ba229735fc005d945a7f4e92b2d9c8c00bd49a20c27ea86c17e5b0042c61

pkgname = python-pysnmp
