pkgbase = python-textual
	pkgdesc = Modern Text User Interface framework
	pkgver = 0.82.0
	pkgrel = 1
	url = https://github.com/Textualize/textual
	arch = any
	license = MIT
	checkdepends = python-pytest-asyncio
	checkdepends = python-time-machine
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-rich
	depends = python-markdown-it-py
	depends = python-typing_extensions
	depends = python-platformdirs
	optdepends = python-tree-sitter: for syntax highlighting support
	optdepends = python-tree-sitter-languages: for custom languages support
	optdepends = python-textual-dev: tools for developers
	source = textual-0.82.0.tar.gz::https://github.com/Textualize/textual/archive/v0.82.0.tar.gz
	sha512sums = 8e9fd8f6f8b0f70fb6dc47091314d8e596e5404fec260c71f5113ff57573f6f876bcfbd40afa131edcb12b028fa5551918d33bbf6960dc727ea6bd587622004e

pkgname = python-textual
