pkgbase = croc
	pkgdesc = Easily and securely send things from one computer to another.
	pkgver = 10.4.14
	pkgrel = 1
	epoch = 1
	url = https://github.com/schollz/croc
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = croc-v10.4.14.tar.gz::https://github.com/schollz/croc/releases/download/v10.4.14/croc_v10.4.14_src.tar.gz
	sha256sums = 7d52384a98d71fa5a04ae34aaa0db7ddf92f510e15fc1cacc224682719255268

pkgname = croc
