pkgbase = qsopt-ex
	pkgdesc = Exact linear programming solver
	pkgver = 2.5.10.3
	pkgrel = 2
	url = https://github.com/jonls/qsopt-ex
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	depends = bzip2
	depends = glibc
	depends = gmp
	depends = zlib
	source = git+https://github.com/jonls/qsopt-ex#tag=v2.5.10.3
	sha256sums = b963557f0a15efd843eff155b1b8962f60339834a2d90d1439fb2d3a6c25e0b9

pkgname = qsopt-ex
