pkgbase = uboot-tools
	pkgdesc = U-Boot bootloader utility tools
	pkgver = 2024.07
	pkgrel = 1
	url = https://www.denx.de/wiki/U-Boot/WebHome
	arch = x86_64
	license = GPL
	makedepends = python
	makedepends = python-setuptools
	makedepends = swig
	depends = openssl
	options = !lto
	source = https://ftp.denx.de/pub/u-boot/u-boot-2024.07.tar.bz2
	source = https://ftp.denx.de/pub/u-boot/u-boot-2024.07.tar.bz2.sig
	validpgpkeys = 1A3C7F70E08FAB1707809BBF147C39FF9634B72C
	sha1sums = f72be61e3284b76f09ca890e91e807b2f78eddee
	sha1sums = SKIP
	sha256sums = f591da9ab90ef3d6b3d173766d0ddff90c4ed7330680897486117df390d83c8f
	sha256sums = SKIP

pkgname = uboot-tools
