pkgbase = cargo-generate
	pkgdesc = Use pre-existing git repositories as templates
	pkgver = 0.22.1
	pkgrel = 1
	url = https://github.com/cargo-generate/cargo-generate
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = cargo
	depends = curl
	depends = libgit2
	depends = libssh2
	depends = openssl
	source = cargo-generate-0.22.1.tar.gz::https://github.com/cargo-generate/cargo-generate/archive/v0.22.1.tar.gz
	sha256sums = f912f1c172a5a51ac7a693f44acaef99f5b9278723aa4daaeb96278807e025bd

pkgname = cargo-generate
