pkgbase = miopen-hip
	pkgdesc = AMD's Machine Intelligence Library (HIP backend)
	pkgver = 5.7.1
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/MIOpen/doc/html/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = rocm-cmake
	makedepends = boost
	makedepends = lbzip2
	makedepends = nlohmann-json
	makedepends = eigen
	makedepends = half
	makedepends = functional-plus
	makedepends = frugally-deep
	depends = rocblas
	depends = rocm-clang-ocl
	depends = hip
	depends = composable-kernel
	depends = sqlite
	provides = miopen
	conflicts = miopen
	options = !lto
	source = miopen-hip-5.7.1.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/rocm-5.7.1.tar.gz
	source = miopen-hip-rocmlir-5.7.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocMLIR/archive/rocm-5.7.1.tar.gz
	sha256sums = 912a658fe21ce6f1982b0f2ff251c3f7bb618f2e7e9876d983bcb54e3cd7129e
	sha256sums = 87b1d28db1ccc921aed31f06fb0df4e85881f8e5fb5ea8d3f9bb9d9df476637e

pkgname = miopen-hip
