pkgbase = python-pydantic
	pkgdesc = Data parsing and validation using Python type hints
	pkgver = 2.11.5
	pkgrel = 1
	url = https://github.com/pydantic/pydantic
	arch = any
	license = MIT
	checkdepends = python-ansi2html
	checkdepends = python-cloudpickle
	checkdepends = python-dirty-equals
	checkdepends = python-email-validator
	checkdepends = python-faker
	checkdepends = python-greenlet
	checkdepends = python-hypothesis
	checkdepends = python-jsonschema
	checkdepends = python-packaging
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-pretty
	checkdepends = python-pytest-run-parallel
	checkdepends = python-pytz
	checkdepends = python-sqlalchemy
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-wheel
	depends = python
	depends = python-annotated-types
	depends = python-pydantic-core
	depends = python-typing_extensions
	depends = python-typing-inspection
	optdepends = mypy: for type validation with mypy
	optdepends = python-dotenv: for .env file support
	optdepends = python-email-validator: for email validation
	optdepends = python-hypothesis: for hypothesis plugin when using legacy v1
	source = https://github.com/pydantic/pydantic/archive/v2.11.5/pydantic-v2.11.5.tar.gz
	sha512sums = 08a45bc92efed12f2b8606dc194bfd5736bf3c018f137255b92f05517ea4073bc1e70ac314196fe96fe819b1867e393cd66b5292605ed2144f72d82f76c00df5
	b2sums = 896734c326379c49af35f2f58c3ed9c60cf41367e4ce8a9ff202e17939e5efbb331c2b211cb5c2799b4e4703e0ae59191a6c5272359f6dad2298a77e77b356f2

pkgname = python-pydantic
