pkgbase = pg-safeupdate
	pkgdesc = A simple extension to PostgreSQL that requires criteria for UPDATE and DELETE
	pkgver = 1.4
	pkgrel = 5
	url = https://github.com/eradman/pg-safeupdate
	arch = x86_64
	license = ISC
	checkdepends = pifpaf
	checkdepends = ruby
	depends = postgresql
	source = https://github.com/eradman/pg-safeupdate/archive/1.4/pg-safeupdate-1.4.tar.gz
	sha512sums = a2aed61f995df5e6bd182213abcd95541ceafa07756c3fa5f012f910643c00c0ada2c1ea04a4d6c70c7e0bacd23ba022aca03c7e88dd7ad05bf816b4c1a36037

pkgname = pg-safeupdate
