pkgbase = cyme
	pkgdesc = List system USB buses and devices; a lib and modern cross-platform lsusb
	pkgver = 2.2.2
	pkgrel = 1
	url = https://github.com/tuna-f1sh/cyme
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = libusb
	source = cyme-2.2.2.tar.gz::https://github.com/tuna-f1sh/cyme/archive/refs/tags/v2.2.2.tar.gz
	sha256sums = 1455b2ecd42f5da64e1d679d248599f09805c8c3f84fb2cb41aa76d638d4c462

pkgname = cyme
