pkgbase = python-sse-starlette
	pkgdesc = SSE plugin for Starlette
	pkgver = 3.4.5
	pkgrel = 1
	url = https://github.com/sysid/sse-starlette
	arch = any
	license = BSD-3-Clause
	checkdepends = python-asgi-lifespan
	checkdepends = python-httpx
	checkdepends = python-portend
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-tenacity
	checkdepends = uvicorn
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-anyio
	depends = python-starlette
	source = git+https://github.com/sysid/sse-starlette.git#tag=v3.4.5
	b2sums = e0ccabe11d80f799a4bb17d15c4cd5e15868bce4a9139dd68e87220d6e809dadfd2f17ffa4a2846f8dfc9e429e98ae038f40e0ef538ccc9dadd65ec5f249b86b

pkgname = python-sse-starlette
