pkgbase = cosmic-text-editor
	pkgdesc = Text editor for the COSMIC desktop
	pkgver = 1.0.0.alpha.3
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-edit
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = oniguruma
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-edit.git#tag=3d9240927588efe9a33e16c014979798f78e1d7a
	source = cosmic-text-editor-lto.patch
	b2sums = d931743dcd515d30ccba0f9dc48c9c68a5e4e76a27f3a9e2c1d80e9ed8c163db468820050c59ba96065ff5e3a5e77b9570884efad0a1bcb98f21111c9708a34d
	b2sums = d0ac6a0caa849a4445812f574787c5f99e42e73dbc53dcbf0c0a212cc97382dcd3cdbce58f6203fb2d920fc45d4a0a4b5d086308bcb5e2a92b86f1bebf1dd6da

pkgname = cosmic-text-editor
