pkgbase = deepin-calendar
	pkgdesc = Calendar for Deepin Desktop Environment
	pkgver = 6.5.32
	pkgrel = 2
	url = https://github.com/linuxdeepin/dde-calendar
	arch = x86_64
	groups = deepin
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = qt5-declarative
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = libical
	depends = qt5-base
	depends = qt5-svg
	source = git+https://github.com/linuxdeepin/dde-calendar.git#tag=6.5.32
	source = libical-4.patch
	sha512sums = 61bdd09b23319b22ddf50745d29305d09b971a21ad3344a60858c1a38a19a4df9dd839213623a5f88611f2da0dc631d71a08b10f388f5e7e080f35d378a454f7
	sha512sums = d7f494f1ddbbe3afb733790de115fab8fb9c14fd36fc836d06e7c538e134cbb28ea3e61b33500234f05e00f8d02cf5b7c4c4007f2a6cb70d9052945b09f2c89b

pkgname = deepin-calendar
