pkgbase = deepin-calendar
	pkgdesc = Calendar for Deepin Desktop Environment
	pkgver = 6.6.0
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-calendar
	arch = x86_64
	groups = deepin
	license = GPL-3.0-or-later
	license = LGPL-2.0-or-later
	license = LGPL-3.0-or-later
	license = CC-BY-4.0
	license = CC0-1.0
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	depends = dtk6core
	depends = dtk6gui
	depends = dtk6widget
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = libical
	depends = qt6-base
	depends = qt6-svg
	source = git+https://github.com/linuxdeepin/dde-calendar.git#tag=6.6.0
	source = libical-4.patch
	sha512sums = 048374868dd978297944b5c07d45b48fae6c6f0c20436cf8cfdb4c39934b43e847b79e9d7b97011c33cac747323f8925b84f6e3abe6f4e68572917dd3dbe5494
	sha512sums = d7f494f1ddbbe3afb733790de115fab8fb9c14fd36fc836d06e7c538e134cbb28ea3e61b33500234f05e00f8d02cf5b7c4c4007f2a6cb70d9052945b09f2c89b

pkgname = deepin-calendar
