pkgbase = python-django-rest-framework
	pkgdesc = A powerful and flexible toolkit for building Web APIs.
	pkgver = 3.16.0
	pkgrel = 1
	url = https://www.django-rest-framework.org/
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-django
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-django
	depends = python-pytz
	optdepends = python-django-filter: for dynamic queryset filters
	optdepends = python-django-guardian: for a per-object permission model
	optdepends = python-markdown: for markdown support
	optdepends = python-psycopg2: for PostgreSQL support
	optdepends = python-pygments: for syntax highlighting
	optdepends = python-yaml: for YAML support
	source = django-rest-framework-3.16.0.tar.gz::https://github.com/encode/django-rest-framework/archive/refs/tags/3.16.0.tar.gz
	sha512sums = 60df1226a18f833c3f79f103cc13df06d72438862272e59d875bddbbefb7bc737b13ca92458c3e0a624f18f9ab5ecd2f035bcc515416a5aaf5b5b680d973fb77
	b2sums = 22527415f7181f9657ded599726b90f705c9123b0b530090a10e6cf810ccb16978ba5b4c0ad7f125b457c3eeb0db8a7d9633ddfdff26caef8fe556a9271350bd

pkgname = python-django-rest-framework
