pkgbase = haskell-cryptohash-md5
	pkgdesc = Fast, pure and practical MD5 implementation
	pkgver = 0.11.101.0
	pkgrel = 169
	url = https://github.com/hvr/cryptohash-md5
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-base16-bytestring
	makedepends = haskell-puremd5
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/cryptohash-md5/0.11.101.0/cryptohash-md5-0.11.101.0.tar.gz
	sha512sums = 6116b384e76927aed06748fac6088280d1ecc7eb5886692c287e971761b98960657b106ba8a700bd0c5b2e552797079e143836af3463acd75bbac207633867a4

pkgname = haskell-cryptohash-md5
