pkgbase = haskell-yesod-persistent
	pkgdesc = Some helpers for using Persistent from Yesod.
	pkgver = 1.6.0.9
	pkgrel = 5
	url = http://www.yesodweb.com/
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	makedepends = haskell-wai-extra
	makedepends = haskell-persistent-sqlite
	depends = ghc-libs
	depends = haskell-blaze-builder
	depends = haskell-conduit
	depends = haskell-persistent
	depends = haskell-resource-pool
	depends = haskell-resourcet
	depends = haskell-yesod-core
	source = https://hackage.haskell.org/packages/archive/yesod-persistent/1.6.0.9/yesod-persistent-1.6.0.9.tar.gz
	sha512sums = 5181c3169b949c73d6605e82d6d554dcd0bcd380c745f28aacd8d4262a553ebc7645e0c48cb062d045ffa4e794302e213985031eefd5b09007087170dd137ef7

pkgname = haskell-yesod-persistent
