pkgbase = lua-lanes
	pkgdesc = a lightweight, native, lazy evaluating multithreading library
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/LuaLanes/lanes
	arch = x86_64
	license = MIT
	makedepends = lua
	makedepends = lua51
	makedepends = lua52
	makedepends = lua53
	makedepends = luarocks
	source = https://github.com/LuaLanes/lanes/archive/v4.0.0/lanes-4.0.0-1.tar.gz
	sha256sums = e680253ce5d64da1fd5c8d44d31dd1eb4fe7e24cfa5ddded10fa34cbee92d179

pkgname = lua-lanes
	depends = lua

pkgname = lua51-lanes
	depends = lua51

pkgname = lua52-lanes
	depends = lua52

pkgname = lua53-lanes
	depends = lua53
