pkgbase = step-cli
	pkgdesc = A zero trust swiss army knife for working with X509, OAuth, JWT, OATH OTP, etc.
	pkgver = 0.27.1
	pkgrel = 1
	url = https://github.com/smallstep/cli
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	optdepends = step-ca: setup CA/SSO/ACME server
	source = step-cli-0.27.1.tar.gz::https://github.com/smallstep/cli/archive/refs/tags/v0.27.1.tar.gz
	sha512sums = f04012d684d18d37a274b1ff273792fb3f48808c2a21b4daf1189fd03a01ac9f5c579d8b4381600b14b7656c5b8427a056c582ea852f3cde4bd44dcee50058db

pkgname = step-cli
