pkgbase = hawkeye
	pkgdesc = Simple license header checker and formatter
	pkgver = 6.0.3
	pkgrel = 1
	url = https://github.com/korandoru/hawkeye
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo-nightly
	depends = gcc-libs
	options = !lto
	source = hawkeye-6.0.3.tar.gz::https://github.com/korandoru/hawkeye/archive/v6.0.3.tar.gz
	sha256sums = 339a5d9b9461637b90b518158568607ba50bda4f27799af40d6cef28436255bc

pkgname = hawkeye
