pkgbase = avfs
	pkgdesc = Virtual filesystem that allows browsing compressed files
	pkgver = 1.3.0
	pkgrel = 1
	url = http://avf.sourceforge.net/
	arch = x86_64
	license = GPL
	license = LGPL
	depends = fuse3
	depends = lzlib
	depends = perl
	depends = xz
	depends = zstd
	options = !emptydirs
	source = https://downloads.sourceforge.net/sourceforge/avf/avfs-1.3.0.tar.bz2
	sha512sums = 97791f9b2e10aeaba80d7866f2289375c1d1ab20548096f9df67f4e0c70c7ce88d7ef29ae9fe56cdbdec1951e1ccd53a3ed0518947ab70782d6f09fe68914732

pkgname = avfs
