pkgbase = mediainfo
	pkgdesc = Supplies technical and tag information about media files
	pkgver = 24.06
	pkgrel = 1
	url = https://mediaarea.net
	arch = x86_64
	license = BSD-2-Clause
	makedepends = wxwidgets-gtk3
	depends = libmediainfo=24.06
	source = mediainfo-24.06.tar.gz::https://github.com/MediaArea/MediaInfo/archive/v24.06.tar.gz
	sha512sums = 93e0f0732cafd1186376f897e0be4b4978d43986c0983e5d7b0ca74e7593467775ea937f6b37a89b3e3d5bd6104e90ba3376cc358db54f7af2f0c4fb3ab51b76
	b2sums = dfacbec813ab814f29ea53afe08db6aea777f94425a1d2f3af873c728f43d9fd6c0641932e3e0e3c196d8503f3ed8900dcc6a18f3512dcf90c3a42fac260bde6

pkgname = mediainfo
	pkgdesc = Supplies technical and tag information about media files (CLI interface)

pkgname = mediainfo-gui
	pkgdesc = Supplies technical and tag information about media files (GUI interface)
	depends = libmediainfo=24.06
	depends = wxwidgets-gtk3
	depends = hicolor-icon-theme
