pkgbase = singular
	pkgdesc = Computer Algebra System for polynomial computations
	pkgver = 4.3.2.p10
	pkgrel = 1
	url = https://www.singular.uni-kl.de/
	arch = x86_64
	license = GPL
	depends = bash
	depends = cddlib
	depends = flint
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = ntl
	depends = readline
	provides = singular-factory
	options = !zipman
	source = ftp://jim.mathematik.uni-kl.de/pub/Math/Singular/SOURCES/4-3-2/singular-4.3.2p10.tar.gz
	sha256sums = 28c2c9fcfee954e00dfa56eb1a7d418d5b1de67c4398d25a0f2b8f73e71552a8

pkgname = singular
