pkgbase = swayimg
	pkgdesc = A lightweight image viewer for Wayland display servers
	pkgver = 5.1
	pkgrel = 1
	url = https://github.com/artemsen/swayimg
	install = swayimg.install
	arch = x86_64
	license = MIT
	makedepends = bash-completion
	makedepends = meson
	makedepends = ninja
	makedepends = wayland-protocols
	depends = cairo
	depends = glibc
	depends = hicolor-icon-theme
	depends = imath
	depends = libavif
	depends = libdrm
	depends = libexiv2.so
	depends = libfontconfig.so
	depends = libfreetype.so
	depends = libgcc
	depends = libgif.so
	depends = libgobject-2.0.so
	depends = libheif
	depends = libjpeg.so
	depends = libjxl.so
	depends = libpng
	depends = libraw
	depends = librsvg-2.so
	depends = libsixel
	depends = libstdc++
	depends = libtiff.so
	depends = libwayland-client.so
	depends = libwebp.so
	depends = libwebpdemux.so
	depends = libxkbcommon
	depends = luajit
	depends = openexr
	source = swayimg-5.1.tar.gz::https://github.com/artemsen/swayimg/archive/v5.1.tar.gz
	sha256sums = 782344351a7509a7d4d169f0069ad8c9c15e35c4dfed05244c2e7c8fc74200bd

pkgname = swayimg
