pkgbase = deepin-control-center
	pkgdesc = Control panel of Deepin Desktop Environment
	pkgver = 6.1.66
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-control-center
	arch = x86_64
	groups = deepin
	license = GPL-3.0-or-later
	license = LGPL-3.0-or-later
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = deepin-tray-loader
	makedepends = gmock
	makedepends = gtest
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = deepin-gettext-tools
	makedepends = doxygen
	makedepends = libsystemd
	makedepends = extra-cmake-modules
	makedepends = treeland-protocols
	depends = dtk6core
	depends = dtk6declarative
	depends = dtk6gui
	depends = dtk6widget
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = qt6-wayland
	depends = deepin-account-faces
	depends = deepin-api
	depends = libpwquality
	depends = deepin-daemon
	depends = startdde
	depends = deepin-pw-check
	depends = deepin-network-core
	depends = deepin-desktop-theme
	depends = icu
	depends = polkit-qt6
	conflicts = dde-control-center
	conflicts = dde-dock-applets
	replaces = dde-control-center
	replaces = dde-dock-applets
	source = git+https://github.com/linuxdeepin/dde-control-center.git#tag=6.1.66
	sha512sums = dce89327b5bb3a99c5ba67b267f728fa010f91a97f372e3e6e9d9bd600f784cc9bee9d2fe4c9b1ee15b2228d1e0dc6d7da105608ca0d64f931ca965097366fb8

pkgname = deepin-control-center
