pkgbase = lua-language-server
	pkgdesc = Lua Language Server coded by Lua
	pkgver = 3.14.0
	pkgrel = 1
	url = https://luals.github.io
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = ninja
	makedepends = rsync
	depends = bash
	depends = gcc-libs
	source = git+https://github.com/LuaLS/lua-language-server.git#tag=3.14.0
	source = git+https://github.com/actboy168/luamake.git
	source = git+https://github.com/actboy168/bee.lua.git
	source = git+https://github.com/sqmedeiros/lpeglabel.git
	source = git+https://github.com/love2d-community/love-api.git
	source = git+https://github.com/bjornbytes/lovr-docs.git
	source = git+https://github.com/CppCXY/EmmyLuaCodeStyle.git
	source = git+https://github.com/actboy168/json.lua.git
	source = git+https://github.com/LuaCATS/OpenResty.git
	source = git+https://github.com/LuaCATS/bee.git
	source = git+https://github.com/LuaCATS/busted.git
	source = git+https://github.com/LuaCATS/Cocos4.0.git
	source = git+https://github.com/LuaCATS/Defold.git
	source = git+https://github.com/LuaCATS/Jass.git
	source = git+https://github.com/LuaCATS/luafilesystem.git
	source = git+https://github.com/LuaCATS/love2d.git
	source = git+https://github.com/LuaCATS/lovr.git
	source = git+https://github.com/LuaCATS/luaecs.git
	source = git+https://github.com/LuaCATS/luassert.git
	source = git+https://github.com/LuaCATS/skynet.git
	source = git+https://github.com/LuaCATS/ffi-reflect.git
	source = git+https://github.com/LuaCATS/luv.git
	source = wrapper
	b2sums = 5f671460e06869678c8dd26b1c8d0592ed570e1d582e56bb48b84cecf315e5c70a9cd4e0361d09c0b0cd4bb140893245ba85553c95519619fa0e03e67cc50201
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 8fabeb8f601c7577891119168b69561cba58c12fbc0db909a5fb26b1f696b881cee00d264d20fa818ae46421c8ef7bae980c3033ca14420cbaa4884a4b697d28

pkgname = lua-language-server
