pkgbase = haskell-data-fix
	pkgdesc = Fixpoint data types
	pkgver = 0.3.3
	pkgrel = 5
	url = https://github.com/spell-music/data-fix
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-hashable
	source = https://hackage.haskell.org/packages/archive/data-fix/0.3.3/data-fix-0.3.3.tar.gz
	sha512sums = fb441b7ad52a676adf503198112d18ae8afeb6d130e4b6e1f92a7dbd15d75cb4108d77c8f8752ab0ddefe19e1e8790ed18332bdb54595749c1b23f1425c232a7

pkgname = haskell-data-fix
