pkgbase = ruby-polyglot
	pkgdesc = Allows custom language loaders to be hooked into require
	pkgver = 0.3.5
	pkgrel = 12
	url = http://polyglot.rubyforge.org/
	arch = any
	license = MIT
	depends = ruby
	noextract = polyglot-0.3.5.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/polyglot-0.3.5.gem
	sha256sums = 59d66ef5e3c166431c39cb8b7c1d02af419051352f27912f6a43981b3def16af

pkgname = ruby-polyglot
