pkgbase = uusi
	pkgdesc = Tweak .cabal files
	pkgver = 0.4.3.0
	pkgrel = 27
	url = https://github.com/berberman/uusi
	arch = x86_64
	license = MIT
	checkdepends = haskell-hunit
	makedepends = ghc
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/uusi/0.4.3.0/uusi-0.4.3.0.tar.gz
	sha512sums = a7a7c7b352aba0edb33aa2c7663bfdc179ba5338281b72373670e57a1ed4c26ce1a6ae8c7f72e9841837bb43007b40715d70ee3408e4049fd47167b8151aeceb

pkgname = uusi
