pkgbase = perl-mouse
	pkgdesc = Moose minus the antlers
	pkgver = 2.5.10
	pkgrel = 6
	url = https://search.cpan.org/dist/Mouse
	arch = x86_64
	license = PerlArtistic
	license = GPL
	checkdepends = perl-path-class
	makedepends = perl-test-exception
	makedepends = perl-test-fatal
	makedepends = perl-module-build
	makedepends = perl-module-build-xsutil
	makedepends = perl-test-requires
	makedepends = perl-test-leaktrace
	makedepends = perl-test-output
	makedepends = perl-test-deep
	makedepends = perl-io-string
	depends = perl
	source = https://search.cpan.org/CPAN/authors/id/S/SK/SKAJI/Mouse-v2.5.10.tar.gz
	sha512sums = 949a2f18257a5afcf4dbbb84094974f4d80e1e4531b4b9d8618cf141252fd11b09b79daafe1de79faa620905988f649627bc2fceac357ea2f180db74cd48f711

pkgname = perl-mouse
