pkgbase = dbmail
	pkgdesc = Fast and scalable sql based mail services
	pkgver = 3.4.1
	pkgrel = 3
	url = https://github.com/dbmail/dbmail
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = docbook-xsl
	makedepends = docbook-xml
	makedepends = git
	makedepends = libldap
	makedepends = libsieve
	makedepends = mariadb-libs
	makedepends = postgresql-libs
	makedepends = sqlite
	makedepends = systemd
	makedepends = xmlto
	depends = glib2
	depends = glibc
	depends = gmime3
	depends = libevent
	depends = libzdb
	depends = libxcrypt
	depends = mhash
	depends = openssl
	depends = systemd-libs
	optdepends = libldap: for LDAP authentication
	optdepends = libsieve: for dbmail-sieve
	source = dbmail-3.4.1.tar.gz::https://github.com/dbmail/dbmail/archive/refs/tags/v3.4.1.tar.gz
	source = https://github.com/dbmail/dbmail/commit/01d5d422f88c5edd6f1f77787cd6459d756d00b4.patch
	source = https://raw.githubusercontent.com/dbmail/dbmail/main/man/dbmail-sieved.txt
	source = noop-fetch-response-fix2.patch
	sha256sums = eb11ec7c1a09b206a6b1816f18bb53aa41600a8de6e169ab61effa856a621e4e
	sha256sums = 96c2ad95d24a016c900caddcd43dd7e193a2da3b9a5e18a11b117296aae9b25b
	sha256sums = 0d8d5d27864071823d69cf3ae731a522043d4ce058baf9c00e7c02a1ae98ad64
	sha256sums = 8d775abeb55f60969641a61b895df22577255f212737f4db01b138dbb40d2064

pkgname = dbmail
