pkgbase = xdg-desktop-portal-lxqt
	pkgdesc = A backend implementation for xdg-desktop-portal using Qt/KDE Frameworks/libfm-qt
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/lxqt/xdg-desktop-portal-lxqt
	arch = x86_64
	groups = lxqt
	license = LGPL-2.1-or-later
	makedepends = cmake
	depends = qt6-base
	depends = kwindowsystem
	depends = xdg-desktop-portal
	depends = libfm-qt
	provides = xdg-desktop-portal-impl
	source = https://github.com/lxqt/xdg-desktop-portal-lxqt/releases/download/1.0.2/xdg-desktop-portal-lxqt-1.0.2.tar.xz
	source = https://github.com/lxqt/xdg-desktop-portal-lxqt/releases/download/1.0.2/xdg-desktop-portal-lxqt-1.0.2.tar.xz.asc
	source = lxqt-portals.conf
	validpgpkeys = 19DFDF3A579BD509DBB572D8BE793007AD22DF7E
	sha256sums = f5ddcf868b0f7d2945193b4584e68610a9d2c72f02fbc4fd83c78fdbcfdb6130
	sha256sums = SKIP
	sha256sums = 867b15caa72e2a85d2ef566cce9f35d8cdea9ed181fbb0290e5ab50e18a8d4aa

pkgname = xdg-desktop-portal-lxqt
