pkgbase = fcitx5-table-extra
	pkgdesc = Extra tables for Fcitx5
	pkgver = 5.1.5
	pkgrel = 1
	url = https://github.com/fcitx/fcitx5-table-extra
	arch = any
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = boost
	depends = fcitx5-chinese-addons
	source = git+https://github.com/fcitx/fcitx5-table-extra.git#tag=5.1.5?signed
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 910549f785aaf067d1d5525df8eb8c47e1f9efbed15c06848126bacdcfb67ea6d7a74e1d4364cfda0257406e5a9413ba1aea1e32ca5435187f1f2a76759108e9

pkgname = fcitx5-table-extra
