pkgbase = budgie-control-center
	pkgdesc = Budgie's main interface to configure various aspects of the system
	pkgver = 1.4.1
	pkgrel = 4
	url = https://github.com/BuddiesOfBudgie/budgie-control-center
	arch = x86_64
	groups = budgie
	license = GPL-2.0-or-later
	makedepends = docbook-xsl
	makedepends = modemmanager
	makedepends = meson
	makedepends = glib2-devel
	makedepends = colord
	depends = accountsservice
	depends = gcr
	depends = gnome-desktop
	depends = gnome-settings-daemon
	depends = libibus
	depends = libgtop
	depends = libpwquality
	depends = smbclient
	depends = libnma
	depends = udisks2
	depends = libhandy
	depends = gsound
	depends = colord-gtk
	depends = libwacom
	optdepends = system-config-printer: Printer settings
	optdepends = gnome-user-share: WebDAV file sharing
	optdepends = rygel: Media sharing
	optdepends = openssh: Remote login
	optdepends = power-profiles-daemon: Power profiles support
	source = https://github.com/BuddiesOfBudgie/budgie-control-center/releases/download/v1.4.1/budgie-control-center-1.4.1.tar.xz
	source = https://github.com/BuddiesOfBudgie/budgie-control-center/releases/download/v1.4.1/budgie-control-center-1.4.1.tar.xz.asc
	source = budgie-control-center-dark-mode.patch::https://github.com/BuddiesOfBudgie/budgie-control-center/commit/859fad15.patch
	source = budgie-control-center-optional-bluetooth.patch::https://github.com/BuddiesOfBudgie/budgie-control-center/commit/810f8af9.patch
	validpgpkeys = 1E1FB0017C998A8AE2C498A6C2EAA8A26ADC59EE
	validpgpkeys = 0E0D97562A4EC8BD8E329DCDAA7A2325E04B609B
	b2sums = 1e2e80013f91d22b86782123395e0621b80e225a34a2a3a316bc66c7148dccf76cb7d918e3fd17be74a8a44ae54bd938d54136069c30eedda13e9de2af39f885
	b2sums = SKIP
	b2sums = de69fc47a01da306745fff00096e43beffcbbb69fd8acbccf5b92f43940a7f3fec38e7124e15801e88e161985c289faae05db01438fb0bed7e13513fa9e9516e
	b2sums = ee1c4fb0787340f74ec67163b0ffb7ab0bb114fd0bd7238194eb9a70a56865b5e5b2c1c956a53a1583f198efd5fcaf57ac0bca07a261f1e543f7a648fd7462a4

pkgname = budgie-control-center
