pkgbase = pysolfc
	pkgdesc = PySol (Fan Club edition) is an exciting collection of more than 1000 solitaire games
	pkgver = 3.6.1
	pkgrel = 1
	url = http://pysolfc.sourceforge.net/
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = hicolor-icon-theme
	depends = pysolfc-cardsets
	depends = python
	depends = python-attrs
	depends = python-configobj
	depends = python-pillow
	depends = python-pygame
	depends = python-pysol_cards
	depends = tk
	optdepends = python-kivy: Kivy based interface
	source = https://downloads.sourceforge.net/pysolfc/pysolfc-3.6.1.tar.xz
	b2sums = f828ec45d5c141285e0ce5970af38757704a5d9121cc87e7cbeb83b92f4bac8f3f617c6dc5bcf2477e990fc12230ce988657bff0ab3909397a49da50307d2fae

pkgname = pysolfc
