pkgbase = python-pikepdf
	pkgdesc = Read and write PDFs with Python, powered by qpdf
	pkgver = 9.5.2
	pkgrel = 2
	url = https://github.com/pikepdf/pikepdf
	arch = x86_64
	license = MPL-2.0
	checkdepends = python-hypothesis
	checkdepends = python-psutil
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-toml
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-lxml
	depends = python-packaging
	depends = python-pillow
	depends = qpdf
	source = git+https://github.com/pikepdf/pikepdf#tag=v9.5.2
	sha256sums = 9419d79dc287109ff7a6e5cc8e4fa4a1f13d2742b329285497aa08e14b8f4a9c

pkgname = python-pikepdf
