pkgbase = python-pikepdf
	pkgdesc = Read and write PDFs with Python, powered by qpdf
	pkgver = 10.1.0
	pkgrel = 1
	url = https://github.com/pikepdf/pikepdf
	arch = x86_64
	license = MPL-2.0
	checkdepends = python-hypothesis
	checkdepends = python-psutil
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-toml
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-lxml
	depends = python-packaging
	depends = python-pillow
	depends = qpdf
	source = git+https://github.com/pikepdf/pikepdf#tag=v10.1.0
	sha256sums = 7c6a42ea531a0d832b9cf5757651fff39ef372771b70af9ea39b89a0db0956c3

pkgname = python-pikepdf
