pkgbase = cockpit-files
	pkgdesc = A Featureful File Browser for Cockpit
	pkgver = 34
	pkgrel = 1
	url = https://github.com/cockpit-project/cockpit-files
	arch = any
	license = LGPL-2.1-or-later
	depends = cockpit
	source = https://github.com/cockpit-project/cockpit-files/releases/download/34/cockpit-files-34.tar.xz
	sha256sums = dc08cff6eddb04c07b39086e569e2238ae25fa6c44d3725df97986b90f6a3256

pkgname = cockpit-files
