pkgbase = haskell-criterion-measurement
	pkgdesc = Criterion measurement functionality and associated types
	pkgver = 0.2.5.0
	pkgrel = 5
	url = https://github.com/haskell/criterion
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base-compat
	depends = haskell-vector
	source = https://hackage.haskell.org/packages/archive/criterion-measurement/0.2.5.0/criterion-measurement-0.2.5.0.tar.gz
	sha512sums = 5b2323ab940dcc9badd5f40fab30abe1cb6da1c54e8dd098f3b3440904cb5e9902b86a6cc8f58421933c5dff8059a4081f8d437b04a36209802e29db61386b83

pkgname = haskell-criterion-measurement
