pkgbase = umbrello
	pkgdesc = UML modeller
	pkgver = 23.08.5
	pkgrel = 1
	url = https://apps.kde.org/umbrello/
	arch = x86_64
	groups = kde-applications
	groups = kdesdk
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = kdesignerplugin
	makedepends = kdevelop-pg-qt
	makedepends = llvm
	makedepends = kinit
	makedepends = doxygen
	depends = kdelibs4support
	depends = kdevelop-php
	source = https://download.kde.org/stable/release-service/23.08.5/src/umbrello-23.08.5.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.5/src/umbrello-23.08.5.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 4c404222ee5a41976f2c561220c6f74867e9828a0d09a36a8166b9ee1b64c780
	sha256sums = SKIP

pkgname = umbrello
