pkgbase = opam
	pkgdesc = OCaml package manager
	pkgver = 2.4.1
	pkgrel = 1
	url = https://opam.ocaml.org/
	arch = x86_64
	license = LGPL-2.1-only
	depends = bubblewrap
	depends = ocaml-compiler-libs
	depends = unzip
	optdepends = darcs: For downloading packages with darcs
	optdepends = git: For downloading packages with git
	optdepends = mercurial: For downloading packages with mercurial
	optdepends = rsync: For downloading packages with rsync
	source = https://github.com/ocaml/opam/releases/download/2.4.1/opam-full-2.4.1.tar.gz
	b2sums = 5b2fbca21955c4ce88ab4ef05e7cabe32e4fe9b787b333a1641e735b440ffc1b0b6c3f4c3e4cc3fbe13265ca39c6a896067553a6db4fc0d5ee09aa76106160d5

pkgname = opam
