pkgbase = bore
	pkgdesc = A command line tool for making tunnels to localhost
	pkgver = 0.5.3
	pkgrel = 1
	url = https://github.com/ekzhang/bore
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = bore-0.5.3.tar.gz::https://github.com/ekzhang/bore/archive/v0.5.3.tar.gz
	sha512sums = 1dd5a3847e3fb2cee713a4e98401aeb09b752c14169cf3604bbdca2d55b3ef5b144763597dd1e7a9c0ae6d17307541ed6d60a73fcc7db9a73dd55898025d40a4

pkgname = bore
