pkgbase = haskell-http-client
	pkgdesc = An HTTP client engine
	pkgver = 0.7.17
	pkgrel = 41
	url = https://github.com/snoyberg/http-client
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	makedepends = haskell-monad-control
	makedepends = haskell-zlib
	depends = ghc-libs
	depends = haskell-async
	depends = haskell-base64-bytestring
	depends = haskell-blaze-builder
	depends = haskell-case-insensitive
	depends = haskell-cookie
	depends = haskell-http-types
	depends = haskell-iproute
	depends = haskell-mime-types
	depends = haskell-network
	depends = haskell-network-uri
	depends = haskell-random
	depends = haskell-streaming-commons
	source = https://hackage.haskell.org/packages/archive/http-client/0.7.17/http-client-0.7.17.tar.gz
	sha512sums = 0ba5399a7bdcf8cb01e18dea9f92eaee707884a026c95cfb0657acf070ee6ead8c2758a0ee1299d23c84a02c129fbe7a96d32af0b10834ba5f134697b7b5f63b

pkgname = haskell-http-client
