pkgbase = bazaar
	pkgdesc = A new app store for GNOME with focus on flatpaks, particularly Flathub
	pkgver = 0.7.7
	pkgrel = 1
	url = https://github.com/kolunmi/bazaar
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	makedepends = pkgconf
	makedepends = git
	makedepends = glib2-devel
	makedepends = blueprint-compiler
	depends = glibc
	depends = gcc-libs
	depends = glib2
	depends = gtk4
	depends = glycin-gtk4
	depends = json-glib
	depends = glycin
	depends = cairo
	depends = pango
	depends = graphene
	depends = flatpak
	depends = appstream
	depends = dconf
	depends = md4c
	depends = webkitgtk-6.0
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libdex
	depends = libxmlb
	depends = libyaml
	depends = libsoup3
	depends = libsecret
	optdepends = krunner-bazaar: krunner integration
	source = git+https://github.com/kolunmi/bazaar#tag=v0.7.7
	sha256sums = 41eaa2abd23d4f2ad8641b46010c64a50c38b6bc2c42830a29a8d0c4a6a2cf60

pkgname = bazaar
