pkgbase = firefox-adblock-plus
	pkgdesc = Extension for firefox which block ads and banners
	pkgver = 4.1
	pkgrel = 1
	url = https://adblockplus.org/
	arch = any
	groups = firefox-addons
	license = GPL3
	checkdepends = jq
	noextract = adblock-plus-4.1.xpi
	source = https://addons.mozilla.org/firefox/downloads/file/4294453/adblock-plus-4.1.xpi
	sha256sums = 98b2c9ba936456a646f396356a705bd16711483530d997225dcb95170a8e4a2a

pkgname = firefox-adblock-plus
	depends = firefox
