pkgbase = moor
	pkgdesc = A pager designed to just do the right thing without any configuration.
	pkgver = 2.15.1
	pkgrel = 1
	url = https://github.com/walles/moor
	arch = x86_64
	license = BSD-2-Clause-Views
	makedepends = go
	depends = glibc
	conflicts = moar
	conflicts = moar-bin
	conflicts = moar-git
	conflicts = moor-bin
	conflicts = moor-git
	replaces = moar
	source = moor-2.15.1.tar.gz::https://github.com/walles/moor/archive/v2.15.1.tar.gz
	sha256sums = efef9649f11aae825423381513a44b28840a009bf928edd436068cab0fdb5551

pkgname = moor
