pkgbase = moor
	pkgdesc = A pager designed to just do the right thing without any configuration.
	pkgver = 2.16.1
	pkgrel = 1
	url = https://github.com/walles/moor
	arch = x86_64
	license = BSD-2-Clause-Views
	makedepends = go
	depends = glibc
	conflicts = moar
	conflicts = moar-bin
	conflicts = moar-git
	conflicts = moor-bin
	conflicts = moor-git
	replaces = moar
	source = moor-2.16.1.tar.gz::https://github.com/walles/moor/archive/v2.16.1.tar.gz
	sha256sums = 9d12679262274f7234cf9b16ee8d52260cfac0b694756218d3a29de89f31a6e5

pkgname = moor
