pkgbase = haskell-x509
	pkgdesc = X509 reader and writer
	pkgver = 1.7.7
	pkgrel = 124
	url = https://github.com/vincenthz/hs-certificate
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-asn1-encoding
	depends = haskell-asn1-parse
	depends = haskell-asn1-types
	depends = haskell-cryptonite
	depends = haskell-hourglass
	depends = haskell-memory
	depends = haskell-pem
	source = https://hackage.haskell.org/packages/archive/x509/1.7.7/x509-1.7.7.tar.gz
	sha512sums = 36f7f703e3bd2e0f2780091901f0558fd49c568c565cabb4a638a7428e212e882aaf8e1ec0de9b1cf97296858293418d7030a4d4fe9eddb5b07656d6ee84eea6

pkgname = haskell-x509
