pkgbase = libertinus-font
	pkgdesc = Fonts based on Linux Libertine/Biolinum, with extended math support
	pkgver = 7.050
	pkgrel = 1
	url = https://github.com/alerque/libertinus
	arch = any
	license = OFL-1.1-RFN
	source = https://github.com/alerque/libertinus/releases/download/v7.050/Libertinus-7.050.tar.zst
	sha256sums = cbb54c4c482376eb17bb6397494489baacff0755d3864f9b5c772e2f3d43d429

pkgname = otf-libertinus
	provides = libertinus-font=7.050
	replaces = libertinus-font
