pkgbase = python-cssselect2
	pkgdesc = CSS selectors for Python ElementTree
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/Kozea/cssselect2
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python
	depends = python-tinycss2
	depends = python-webencodings
	source = python-cssselect2::git+https://github.com/Kozea/cssselect2#tag=0.10.0
	sha512sums = 82cd15f7fe63cce447b2bcffe8174a7e43d1a6a4c617ea5e01da4638a17a01d9fa9a164c1506591b29a858fc7547c556958fe80f9edbdcdf0c5641d1d7c7e054
	b2sums = f743e8d32d7c12ea4da5ee72f6c7c2dc7292221d57d2322bb1bf00f4f5e282c42e0dca2c3f0b6d245ddf489dfca6445f3cc3a0a5af8afd8ee5a0e12c886b55dd

pkgname = python-cssselect2
