pkgbase = python-marshmallow-sqlalchemy
	pkgdesc = SQLAlchemy integration with marshmallow
	pkgver = 1.5.0
	pkgrel = 1
	url = https://marshmallow-sqlalchemy.readthedocs.io/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-marshmallow
	depends = python-sqlalchemy
	source = git+https://github.com/marshmallow-code/marshmallow-sqlalchemy.git#tag=1.5.0
	b2sums = b5706c073a88b51c20438bd69b9d08210cb63f619884951a5790604823a6b137b3fe37c52633e09ed71c8541cba2869195d32827d743bb50f09e269fe237cd6b

pkgname = python-marshmallow-sqlalchemy
