pkgbase = haskell-pandoc-server
	pkgdesc = Pandoc document conversion as an HTTP servant-server
	pkgver = 0.1.0.8
	pkgrel = 12
	url = https://pandoc.org
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = ghc
	makedepends = uusi
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base64-bytestring
	depends = haskell-data-default
	depends = haskell-doctemplates
	depends = haskell-pandoc
	depends = haskell-pandoc-types
	depends = haskell-servant-server
	depends = haskell-skylighting
	depends = haskell-unicode-collation
	depends = haskell-wai
	depends = haskell-wai-cors
	source = https://hackage.haskell.org/packages/archive/pandoc-server/0.1.0.8/pandoc-server-0.1.0.8.tar.gz
	sha256sums = 459931468251617bce54d073a529b23c2962ef17d9b920bb019d8219435cdab9

pkgname = haskell-pandoc-server
