pkgbase = ssh-tpm-agent
	pkgdesc = ssh-agent for TPMs
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/Foxboron/ssh-tpm-agent
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = systemd
	depends = glibc
	source = ssh-tpm-agent-0.6.0.tar.gz::https://github.com/Foxboron/ssh-tpm-agent/archive/v0.6.0.tar.gz
	sha256sums = 897cdd7a83162d6330ecc5da493bddf9ab59e25d6dbc5337eafbdf8856030fac

pkgname = ssh-tpm-agent
