pkgbase = python-django-allauth
	pkgdesc = Authentication, registration, account management and 3rd party account authentication
	pkgver = 65.11.2
	pkgrel = 1
	url = https://codeberg.org/allauth/django-allauth
	arch = any
	license = MIT
	checkdepends = python-cryptography
	checkdepends = python-django-ninja
	checkdepends = python-django-rest-framework
	checkdepends = python-fido2
	checkdepends = python-oauthlib
	checkdepends = python-openid
	checkdepends = python-pillow
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-django
	checkdepends = python-pyjwt
	checkdepends = python-psycopg2
	checkdepends = python-qrcode
	checkdepends = python-requests
	checkdepends = python-requests-oauthlib
	checkdepends = python-saml
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-asgiref
	depends = python-django
	depends = python-pyyaml
	optdepends = python-cryptography: for social account support
	optdepends = python-fido2: for MFA support
	optdepends = python-openid: for OpenID and Steam support
	optdepends = python-oauthlib: for OIDC IdP support
	optdepends = python-pyjwt: for social account and OIDC IdP support
	optdepends = python-qrcode: for MFA support
	optdepends = python-requests: for social account support
	optdepends = python-requests-oauthlib: for social account support
	optdepends = python-saml: for SAML support
	source = python-django-allauth::git+https://codeberg.org/allauth/django-allauth.git#tag=65.11.2
	sha512sums = be6a7207b6c50d6d2bd5e8aa33478bede657f151822e3cc6f65e207431840e6efa1c1a77533bc7dec636e6242f83543ecf18b2e2ae98595f6e717e8997d5a054
	b2sums = 9f5c24432c0e650d879da9e2164f98ad934eb2caf8c338bd8796aa2bd7c41cc9b50bb1b76d7f45696b9044b1d0e81a04fadf0b6a372daea7972d79a341b4e0ab

pkgname = python-django-allauth
