pkgbase = kubetui
	pkgdesc = A TUI for real-time monitoring and exploration of Kubernetes resources
	pkgver = 1.10.1
	pkgrel = 1
	url = https://github.com/sarub0b0/kubetui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = kubetui-1.10.1.tar.gz::https://github.com/sarub0b0/kubetui/archive/v1.10.1.tar.gz
	sha512sums = 045a21f423c3360dcd5a91d87c43b72fb632b2c7dc812b97f94f24c150940167734b2f7dfa1722f049e0dde4d7c9101c150b83b46aacca64a1fadf95ad1ebce3

pkgname = kubetui
