pkgbase = ali
	pkgdesc = Generate HTTP load and plot the results in real-time
	pkgver = 0.7.5
	pkgrel = 3
	url = https://github.com/nakabonne/ali
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = ali-0.7.5.tar.gz::https://github.com/nakabonne/ali/archive/v0.7.5.tar.gz
	sha512sums = 6ae745556bec663abcb2a8d6c5e090fdd5e6b5a8bb889f85c528f749de79eb0e33d794265a801983f8de81629e19a1a38fe147e5095108310b1a353766866ff3

pkgname = ali
