pkgbase = eslint
	pkgdesc = An AST-based pattern checker for JavaScript
	pkgver = 9.22.0
	pkgrel = 1
	url = https://eslint.org
	arch = any
	license = MIT
	makedepends = git
	makedepends = jq
	makedepends = npm
	makedepends = python
	depends = acorn
	depends = nodejs
	options = !emptydirs
	source = git+https://github.com/eslint/eslint.git#tag=v9.22.0
	b2sums = c855772b0a5ad81093906994a9a8b62fb40db6fd8c84828751aeee0ac87d0e54457b5778998fffb9bcf11648d3d2c0ad56e225b18fde754e4bd4275f72010de9

pkgname = eslint
