pkgbase = ptyxis
	pkgdesc = A container oriented terminal
	pkgver = 48.5
	pkgrel = 1
	url = https://gitlab.gnome.org/chergert/ptyxis
	arch = x86_64
	license = GPL-3.0-only
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libportal
	depends = libportal-gtk4
	depends = pango
	depends = vte4
	source = git+https://gitlab.gnome.org/chergert/ptyxis.git#tag=48.5
	b2sums = 39c48fed59a5c2c12f6d91811d277daa154e7edced8fc135501c2d72a191304cebd6731b068b3d0c7e58caca2289a6261de3a61002d02c92822bfaa66e55d89b

pkgname = ptyxis
