pkgbase = python-openai
	pkgdesc = Python client library for the OpenAI API
	pkgver = 1.70.0
	pkgrel = 1
	url = https://github.com/openai/openai-python
	arch = any
	license = MIT
	checkdepends = npm
	checkdepends = procps-ng
	checkdepends = python-dirty-equals
	checkdepends = python-inline-snapshot
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-nest-asyncio
	checkdepends = python-respx
	checkdepends = python-rich
	makedepends = python-build
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-anyio
	depends = python-distro
	depends = python-h2
	depends = python-httpx
	depends = python-jiter
	depends = python-pydantic
	depends = python-pydantic-core
	depends = python-sniffio
	depends = python-tqdm
	depends = python-typing_extensions
	optdepends = python-numpy: Datalib support
	optdepends = python-pandas: Datalib support
	optdepends = python-websockets: Realtime support
	source = openai-python-1.70.0.tar.gz::https://github.com/openai/openai-python/archive/v1.70.0.tar.gz
	source = https://storage.googleapis.com/stainless-sdk-openapi-specs/openai%2Fopenai-6663c59193eb95b201e492de17dcbd5e126ba03d18ce66287a3e2c632ca56fe7.yml
	sha256sums = 22a7426d746b8f14ea8a8fe3108b2ac8b4756fe9b03af3e798cda41310e5cd39
	sha256sums = 6663c59193eb95b201e492de17dcbd5e126ba03d18ce66287a3e2c632ca56fe7

pkgname = python-openai
