pkgbase = python-openai
	pkgdesc = Python client library for the OpenAI API
	pkgver = 1.65.3
	pkgrel = 1
	url = https://github.com/openai/openai-python
	arch = any
	license = MIT
	checkdepends = npm
	checkdepends = procps-ng
	checkdepends = python-dirty-equals
	checkdepends = python-inline-snapshot
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-nest-asyncio
	checkdepends = python-respx
	checkdepends = python-rich
	makedepends = python-build
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-anyio
	depends = python-distro
	depends = python-h2
	depends = python-httpx
	depends = python-jiter
	depends = python-pydantic
	depends = python-pydantic-core
	depends = python-sniffio
	depends = python-tqdm
	depends = python-typing_extensions
	optdepends = python-numpy: Datalib support
	optdepends = python-pandas: Datalib support
	optdepends = python-websockets: Realtime support
	source = openai-python-1.65.3.tar.gz::https://github.com/openai/openai-python/archive/v1.65.3.tar.gz
	source = https://storage.googleapis.com/stainless-sdk-openapi-specs/openai-5d30684c3118d049682ea30cdb4dbef39b97d51667da484689193dc40162af32.yml
	sha256sums = 8e0a8bbe057dff73b727926a3d8e879de70107ce281777ef72665311bb9a97c3
	sha256sums = 5d30684c3118d049682ea30cdb4dbef39b97d51667da484689193dc40162af32

pkgname = python-openai
