pkgbase = haskell-primitive
	pkgdesc = Wrappers for primitive operations
	pkgver = 0.8.0.0
	pkgrel = 13
	url = https://hackage.haskell.org/package/primitive
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = haskell-base-orphans
	checkdepends = haskell-quickcheck
	checkdepends = haskell-quickcheck-classes-base
	checkdepends = haskell-tasty
	checkdepends = haskell-tasty-quickcheck
	checkdepends = haskell-tagged
	checkdepends = haskell-transformers-compat
	makedepends = ghc
	makedepends = uusi
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/primitive/0.8.0.0/primitive-0.8.0.0.tar.gz
	sha512sums = 730b5687a89c99266a766a90d16352447c557ab58e8e71907d5a730f5d251e7f092fc8e80d3ac82a1bc2f45996f608dd32563dbd8b8b1ac3235fd893241101a4

pkgname = haskell-primitive
