pkgbase = postgresql-old-upgrade
	pkgdesc = Older PostgreSQL for migrating major versions with pg_upgrade
	pkgver = 17.9
	pkgrel = 1
	url = https://www.postgresql.org/
	arch = x86_64
	license = PostgreSQL
	makedepends = clang
	makedepends = llvm
	makedepends = perl
	makedepends = python
	makedepends = systemd
	makedepends = tcl
	makedepends = util-linux
	depends = glibc
	depends = icu
	depends = libicui18n.so
	depends = libicuuc.so
	depends = krb5
	depends = libgssapi_krb5.so
	depends = libgcc
	depends = libgcc_s.so
	depends = libldap
	depends = libstdc++
	depends = libstdc++.so
	depends = libxml2
	depends = libxml2.so
	depends = llvm-libs
	depends = lz4
	depends = liblz4.so
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = pam
	depends = libpam.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = util-linux-libs
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	source = https://ftp.postgresql.org/pub/source/v17.9/postgresql-17.9.tar.bz2
	md5sums = e443d2b4a7edb8dbcbbe7a05a712d881
	sha256sums = 3b9a62538a8da151e807a3ddb1198e8605f2032544d78f403ae883d27ecf1ee4
	b2sums = e5deeed82f710b38ed959a2f873e8ac0c27fc68b2ced22f70e9e89a34e473e1368231328351d300e617e61554cce68a8cec3731e6d3b31c620f93a2b2672470d

pkgname = postgresql-old-upgrade
	depends = glibc
	depends = icu
	depends = libicui18n.so
	depends = libicuuc.so
	depends = krb5
	depends = libgssapi_krb5.so
	depends = libgcc
	depends = libgcc_s.so
	depends = libldap
	depends = libstdc++
	depends = libstdc++.so
	depends = libxml2
	depends = libxml2.so
	depends = llvm-libs
	depends = lz4
	depends = liblz4.so
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = pam
	depends = libpam.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = util-linux-libs
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	depends = postgresql-libs>=17.9
	optdepends = perl: for PL/Perl support
	optdepends = python: for PL/Python 3 support
	optdepends = tcl: for PL/Tcl support
