pkgbase = grafana-zabbix
	pkgdesc = Zabbix plugin for Grafana dashboard
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/alexanderzobnin/grafana-zabbix
	arch = any
	license = Apache-2.0
	makedepends = yarn
	makedepends = libfaketime
	makedepends = go
	makedepends = git
	makedepends = nodejs-lts-iron
	makedepends = mage
	depends = grafana
	source = grafana-zabbix-4.5.0.tar.gz::https://github.com/alexanderzobnin/grafana-zabbix/archive/v4.5.0.tar.gz
	sha256sums = e0abd3430b998a423998cfbebccd4c2efc5310bebcf16a6037258410ffd6b745

pkgname = grafana-zabbix
