pkgbase = gopass-jsonapi
	pkgdesc = jsonapi for gopass used for bridging to browsers
	pkgver = 1.15.17
	pkgrel = 1
	url = https://github.com/gopasspw/gopass-jsonapi
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	options = !lto
	source = gopass-jsonapi-1.15.17.tar.gz::https://github.com/gopasspw/gopass-jsonapi/archive/refs/tags/v1.15.17.tar.gz
	sha512sums = bc2b9d72f410f354185958001d28c5caaccec6600e2c26e862709adc846bb69e14ff8aa8b224b6bbae0d4ff1efe8b016fafa9c2eef85ea21f59f083fd75c4309

pkgname = gopass-jsonapi
