pkgbase = lib32-amdvlk
	pkgdesc = AMD's standalone Vulkan driver
	pkgver = 2023.Q4.2
	pkgrel = 1
	url = https://github.com/GPUOpen-Drivers
	arch = x86_64
	license = MIT
	makedepends = perl-xml-xpath
	makedepends = python
	makedepends = lib32-wayland
	makedepends = lib32-libxrandr
	makedepends = xorg-server-devel
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = lib32-zstd
	provides = lib32-vulkan-driver
	options = !lto
	source = https://github.com/GPUOpen-Drivers/AMDVLK/archive/v-2023.Q4.2.tar.gz
	sha256sums = 61cd3b82e84afb6bd78969724f7414a3df36d902f120f2ed2a265cc49a9f8ced

pkgname = lib32-amdvlk
	depends = lib32-glibc
	depends = lib32-gcc-libs
	depends = lib32-zlib
	depends = lib32-zstd
