pkgbase = parla
	pkgdesc = Native Gnome DeltaChat client
	pkgver = 0.6.6
	pkgrel = 1
	url = https://github.com/trufae/parla
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = vala
	depends = deltachat-rpc-server
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = pango
	source = parla-0.6.6.tar.gz::https://github.com/trufae/parla/archive/refs/tags/0.6.6.tar.gz
	sha512sums = 82a3480772c6e0b898d7e9d1d5b516719101c85ae4d932357201bd1aef757c817821e062687e008cfef39714edd4252aaae42519376497cb4e59273bd6e9d5cb
	b2sums = 92fd02666f6128ffb2b8744f90dcf97a301e1162f184a21f52dc0743dc2c5bf4a86e57a9a13ce9dbd19879e50e6d8afd4893f90267d22382f12698bc1600d289

pkgname = parla
