pkgbase = fennel
	pkgdesc = A Lua Lisp language
	pkgver = 1.5.3
	pkgrel = 1
	url = https://fennel-lang.org
	arch = any
	license = MIT
	makedepends = git
	depends = lua
	source = fennel::git+https://git.sr.ht/~technomancy/fennel#tag=1.5.3
	sha256sums = cde1e6f2c30a32dbdc8159a80babbe956b5a42f506d0d9d8e08a01501b46ab8d

pkgname = fennel
