pkgbase = 3cpio
	pkgdesc = Manage Linux kernel initramfs cpio files written in Rust
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/bdrung/3cpio
	arch = x86_64
	license = ISC
	checkdepends = bzip2
	checkdepends = gzip
	checkdepends = lz4
	checkdepends = lzop
	checkdepends = xz
	checkdepends = zstd
	makedepends = git
	makedepends = rust
	depends = glibc
	depends = gcc-libs
	optdepends = bzip2: Support for bzip2 compressed initramfs image
	optdepends = lz4: Support for lz4 compressed initramfs image
	optdepends = lzop: Support for lzo compressed initramfs image
	optdepends = xz: Support for lzma or xz compressed initramfs image
	optdepends = zstd: Support for zstd compressed initramfs image
	source = git+https://github.com/bdrung/3cpio.git#tag=0.5.1?signed
	validpgpkeys = A62D2CFBD50B9B5BF360D54B159EB5C4EFC8774C
	b2sums = 92529c2137535f10fa50e8e232a62aafaa2bc7f5a875d5117afefac986061875f29831d2fe77536796b3862ed73379cac8259f7c5c7d4280bbb004d25d3594be

pkgname = 3cpio
