pkgbase = gitoxide
	pkgdesc = An idiomatic, lean, fast & safe pure Rust implementation of Git
	pkgver = 0.35.0
	pkgrel = 1
	url = https://github.com/Byron/gitoxide
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = cmake
	options = !lto
	source = https://github.com/Byron/gitoxide/archive/v0.35.0/gitoxide-0.35.0.tar.gz
	sha256sums = 4f074b30830ff37da8ae9de11b0441addea9f1552f0fcac1fa6fb56435d5bbea
	b2sums = c6ab4fe7926b0cbc8cdb111abf276d142351b4c4fcd5d7350f163e8038ff38e4e8a282339efad63240a7f8513c25f28cfc6a4a709172b38c846f066dda4b418d

pkgname = gitoxide
