pkgbase = python-geoip2
	pkgdesc = MaxMind GeoIP2 API
	pkgver = 4.8.0
	pkgrel = 2
	url = https://github.com/maxmind/GeoIP2-python
	arch = any
	license = Apache
	checkdepends = python-mocket
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-aiohttp
	depends = python-maxminddb
	depends = python-requests
	depends = python-setuptools
	source = https://github.com/maxmind/GeoIP2-python/archive/v4.8.0/python-geoip2-4.8.0.tar.gz
	source = MaxMind-DB-1271107ccad72c320bc7dc8aefd767cba550101a.tar.gz::https://github.com/maxmind/MaxMind-DB/archive/1271107ccad72c320bc7dc8aefd767cba550101a.tar.gz
	sha512sums = e22fac4c5016d6bc17a2e7902ea61f5ac43526a3d86c21a3199a409d084fd7a60001ed553a2c3d355636a06a73baad15014dc0ed41e5bb0eb93cefde5a14509e
	sha512sums = a028b07cfdb84b98629e66937472feb291e0c022cf226513d765b21c420672620ff00b9004aa4cf1519d76a428a33600c453335e2fa9832e78e4621307b5723b

pkgname = python-geoip2
