pkgbase = deepin-editor
	pkgdesc = Simple editor for Deepin
	pkgver = 6.5.2
	pkgrel = 1
	url = https://github.com/linuxdeepin/deepin-editor
	arch = x86_64
	groups = deepin-extra
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = gmock
	makedepends = gtest
	makedepends = ninja
	makedepends = qt5-tools
	depends = deepin-qt5integration
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = deepin-qt-dbus-factory
	depends = gcc-libs
	depends = icu
	depends = qt5-base
	depends = qt5-svg
	depends = kcodecs5
	depends = syntax-highlighting5
	depends = libchardet
	depends = uchardet
	source = git+https://github.com/linuxdeepin/deepin-editor.git#tag=6.5.2
	sha512sums = 74afc7b002550b19b5434c28e39f261cf48e0936d412c4c49538212a0b3b66b92afb842515ea234b3c140b4af000fd522441258076ec1cce52aba6d3fdfb96a8

pkgname = deepin-editor
