pkgbase = deepin-editor
	pkgdesc = Simple editor for Deepin
	pkgver = 6.5.37
	pkgrel = 1
	url = https://github.com/linuxdeepin/deepin-editor
	arch = x86_64
	groups = deepin-extra
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = gmock
	makedepends = gtest
	makedepends = ninja
	makedepends = qt6-tools
	depends = dtk6core
	depends = dtk6gui
	depends = dtk6widget
	depends = dtk6declarative
	depends = gcc-libs
	depends = icu
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-svg
	depends = kcodecs
	depends = syntax-highlighting
	depends = libchardet
	depends = uchardet
	source = git+https://github.com/linuxdeepin/deepin-editor.git#tag=6.5.37
	sha512sums = cf71a5a60af2913771af445b3bfc5e364ba2441ea83e5cf172f6fd9a56e37fe5ae286a55c4fda965a4e216e1c602df9fda4403010154fb1e9eafd85469c073ac

pkgname = deepin-editor
