pkgbase = dark-reader
	pkgdesc = Inverts brightness of web pages and aims to reduce eyestrain while browsing the web
	pkgver = 4.9.89.1
	pkgrel = 1
	url = https://darkreader.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = npm
	source = git+https://github.com/darkreader/darkreader.git#tag=v4.9.89.1
	b2sums = a2bfaa506883af01419a857e2bb3e4866117ee7443772ec99a911d4646262c0031ca72e222cbcfff1d9dd5c47aec7e3f1601ead82530692179a0987a16e36487

pkgname = dark-reader
	pkgdesc = Inverts brightness of web pages and aims to reduce eyestrain while browsing the web (unpacked webextension)

pkgname = firefox-dark-reader
	groups = firefox-addons

pkgname = thunderbird-dark-reader
	groups = thunderbird-addons
