pkgbase = allure
	pkgdesc = Near-future Sci-Fi roguelike and tactical squad combat game
	pkgver = 0.11.0.0
	pkgrel = 198
	url = http://allureofthestars.com
	arch = x86_64
	license = AGPL
	makedepends = ghc
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	depends = ghc-libs
	depends = haskell-lambdahack
	depends = haskell-async
	depends = haskell-enummapset
	depends = haskell-file-embed
	depends = haskell-hsini
	depends = haskell-optparse-applicative
	depends = haskell-primitive
	depends = haskell-splitmix
	depends = haskell-th-lift-instances
	source = https://hackage.haskell.org/packages/archive/Allure/0.11.0.0/Allure-0.11.0.0.tar.gz
	sha256sums = 6125cc585e2a5f28c88855c3c328385c1f21bed093d7606478f1b2af0cb2b6d6

pkgname = allure
