pkgbase = dmidecode
	pkgdesc = Desktop Management Interface table related utilities
	pkgver = 3.5
	pkgrel = 2
	url = https://www.nongnu.org/dmidecode
	arch = x86_64
	license = GPL
	depends = glibc
	source = https://sources.archlinux.org/other/dmidecode/dmidecode-3.5.tar.xz
	source = https://sources.archlinux.org/other/dmidecode/dmidecode-3.5.tar.xz.sig
	validpgpkeys = 7CA69F4460F1BDC41FD2C858A5526B9BB3CD4E6A
	sha256sums = 79d76735ee8e25196e2a722964cf9683f5a09581503537884b256b01389cc073
	sha256sums = SKIP

pkgname = dmidecode
