pkgbase = seahorse
	pkgdesc = GNOME application for managing PGP keys.
	pkgver = 47.0.1
	pkgrel = 1
	epoch = 1
	url = https://wiki.gnome.org/Apps/Seahorse
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later AND LGPL-2.1-or-later AND CC-BY-SA-3.0
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	depends = dconf
	depends = gcc-libs
	depends = gcr
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gpgme
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libhandy
	depends = libldap
	depends = libpwquality
	depends = libsecret
	depends = libsoup3
	depends = org.freedesktop.secrets
	provides = x11-ssh-askpass
	source = git+https://gitlab.gnome.org/GNOME/seahorse.git?signed#tag=47.0.1
	validpgpkeys = A7C626E13F9AD776776BD9CA1D8A57CF2E8D36A3
	b2sums = e8d8fae487e872c180ee1e8743a95a58445f89b41471067c065745c052703f57b003b49364f350a4fe76fdcdf0ce38b7c8b16baab4a86120dcc90906b5aab390

pkgname = seahorse
