pkgbase = yq
	pkgdesc = Command-line YAML, XML, TOML processor - jq wrapper for YAML/XML/TOML documents
	pkgver = 4.4.2
	pkgrel = 1
	url = https://github.com/kislyuk/yq
	arch = any
	license = Apache-2.0
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	depends = jq
	depends = python-argcomplete
	depends = python-tomlkit
	depends = python-xmltodict
	depends = python-yaml
	conflicts = go-yq
	source = git+https://github.com/kislyuk/yq.git#tag=v4.4.2
	sha256sums = 25fc731fe187505a142637a9191140094a39eca4e93f429340be66ea19f3a009
	b2sums = 9ee2dbcb943e648ae9fadce2e784ff71cca9c535993f7bfa5aa3a169287293109253d54bf5f4f864640d55ee7694bfa2e7e58c6bf6107a882cb013d2af9d537a

pkgname = yq
