pkgbase = gaupol
	pkgdesc = Editor for text-based subtitles
	pkgver = 1.15
	pkgrel = 1
	url = https://otsaloma.io/gaupol/
	arch = any
	license = GPL
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-gobject
	depends = gtk3
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	depends = gst-plugin-gtk
	depends = gspell
	depends = iso-codes
	depends = python-charset-normalizer
	depends = python-cairo
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	optdepends = mpv: subtitle preview
	optdepends = vlc: subtitle preview
	optdepends = mplayer: subtitle preview
	source = gaupol-1.15.tar.gz::https://github.com/otsaloma/gaupol/archive/1.15.tar.gz
	sha256sums = 4128aa01f2ed3ecbcf12676e99087351251a9f105c14567786b31e77ba9fbfd7

pkgname = gaupol
