pkgbase = dtk6core
	pkgdesc = DTK core modules
	pkgver = 6.0.15
	pkgrel = 1
	url = https://github.com/linuxdeepin/dtk6core
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = gtest
	makedepends = doxygen
	depends = deepin-desktop-base
	depends = dtkcommon
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = libsystemd
	depends = lshw
	depends = qt6-base
	depends = uchardet
	depends = spdlog
	source = git+https://github.com/linuxdeepin/dtk6core.git#tag=6.0.15
	source = qt-6.7.1.patch
	sha512sums = f3ede48ab4851fb3de98d72a8146f99c9737fb327a1a5c9c011416b4a18501deedee7d9c6110f6165eb07d6c7cb55795ac984617977c9d3171e423a91f785961
	sha512sums = 39130b23e52e864ad5ed47085af89c0f558f4b246073d1452b3f2ebfc4e8cdfc473e2e487215e72b49b883e361522c29bed67ec6084a43484fe797e1aed7f103

pkgname = dtk6core
