pkgbase = flatpak-builder
	pkgdesc = Tool to build flatpaks from source
	pkgver = 1.4.12
	pkgrel = 1
	url = https://flatpak.org
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = docbook-xsl
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = xmlto
	depends = 7zip
	depends = appstream
	depends = binutils
	depends = breezy
	depends = cpio
	depends = curl
	depends = debugedit
	depends = elfutils
	depends = flatpak
	depends = fuse3
	depends = git
	depends = glib2
	depends = glibc
	depends = json-glib
	depends = libarchive
	depends = libelf
	depends = libgcc
	depends = libxml2
	depends = libyaml
	depends = ostree
	depends = patch
	depends = rpmextract
	depends = tar
	replaces = flatpak<0.9.10
	source = git+https://github.com/flatpak/flatpak-builder#tag=1.4.12
	source = git+https://gitlab.gnome.org/GNOME/libglnx.git
	source = 0001-Support-versioned-fusermount.patch
	b2sums = 65de64eb6db541548a45a378fe3ac2e623b15adaaca2bc259befbda5c43f82a0e87ad9737210343355c0d263ecc4a7818a412c2762f36d789f7092809e213ae5
	b2sums = SKIP
	b2sums = 6cc29d172f2d8c6a334e99ee0cf81433f4e9bb8c3fe52a890dcbd00be12432d903784cd9b3724842afd74282a9a2c62cf99fff48c3a8d09023b10d87e1fb4bd4

pkgname = flatpak-builder
