pkgbase = nvidia
	pkgdesc = NVIDIA drivers for linux
	pkgver = 555.58.02
	pkgrel = 2
	url = https://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = linux-headers
	makedepends = nvidia-dkms=555.58.02
	provides = NVIDIA-MODULE
	options = !strip

pkgname = nvidia
	depends = linux
	depends = nvidia-utils=555.58.02
	depends = libglvnd
