pkgbase = acorn
	pkgdesc = A tiny, fast JavaScript parser, written completely in JavaScript.
	pkgver = 8.19.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/acornjs/acorn
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = acorn-8.19.0.tgz
	source = https://registry.npmjs.org/acorn/-/acorn-8.19.0.tgz
	sha512sums = a09940dd78919bb0b293aa850f6267f1a93d07b8d2cb4ab2d340033b7fbc7694f42d28c58a1418bf80b4d8b142498255dd0dfbc58c30472e66f88a48894cea5b

pkgname = acorn
