pkgbase = python-pydantic-core
	pkgdesc = Core validation logic for pydantic written in rust
	pkgver = 2.16.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/pydantic/pydantic-core
	arch = x86_64
	license = MIT
	checkdepends = python-dirty-equals
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-typing-extensions
	options = !lto
	source = python-pydantic-core-2.16.1.tar.gz::https://github.com/pydantic/pydantic-core/archive/refs/tags/v2.16.1.tar.gz
	sha512sums = ea1db768be6da7472d53814a99d3b7ee478542e02ce51d52b273f82fb6edbaa0f0a3b0591f6fc117d6f6a98211c92e8b18abd9066c648929237c9c37c41c360f
	b2sums = b220e74db4d8daa5b75cf8de7101bae62ff38a273e73316039843b3e54e9a44463e5405efd019c358d3e7cbb87879e8cd1dcbb2d3e6552be389f561c776b7aa0

pkgname = python-pydantic-core
