pkgbase = gnome-shell-extension-weather-oclock
	pkgdesc = GNOME Shell extension that displays the current weather inside the pill next to the clock
	pkgver = 49.0
	pkgrel = 1
	url = https://github.com/CleoMenezesJr/weather-oclock
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = gnome-shell
	optdepends = gnome-weather: Configure location
	source = git+https://github.com/CleoMenezesJr/weather-oclock.git#tag=v49.0
	b2sums = 6af3054cb681ee0bbf3d15a668c347a88517977bf104013ce9455bc7f24e0736fc1794dae04c9a7e940abf84e121de872896f7649f7859129de5cc74d7dd02fc

pkgname = gnome-shell-extension-weather-oclock
