pkgbase = miniserve
	pkgdesc = Tool to serve files via HTTP
	pkgver = 0.33.0
	pkgrel = 2
	url = https://github.com/svenstaro/miniserve
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = libgcc
	depends = glibc
	options = !lto
	source = miniserve-0.33.0.tar.gz::https://github.com/svenstaro/miniserve/archive/v0.33.0.tar.gz
	sha512sums = 4b6f640585ba912c60d0fe0977153cb2e13ed175a3501ca1afe585e5ae0c58fcef2a14b4abf0a190c1ed262defdd70a158da47f5e1d50f5cf05aea0340176206

pkgname = miniserve
