pkgbase = jupyter-metakernel
	pkgdesc = A Jupyter/IPython kernel template
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/Calysto/metakernel
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	checkdepends = man-db
	makedepends = python-build
	makedepends = python-poetry-core
	makedepends = python-installer
	depends = python
	depends = python-comm
	depends = python-ipykernel
	depends = python-jedi
	depends = python-jupyter-core
	depends = python-pexpect
	depends = ipython
	depends = python-jupyter-client
	depends = python-parso
	depends = python-pyzmq
	depends = python-traitlets
	optdepends = python-ipywidgets: for activity magics
	optdepends = python-ipyparallel: for parallel magics
	optdepends = python-matplotlib: for matplotlib magics
	optdepends = python-pydot: for dot magics
	source = jupyter-metakernel-1.0.2.tar.gz::https://github.com/Calysto/metakernel/archive/refs/tags/v1.0.2.tar.gz
	source = pyproject.patch
	b2sums = 4b1373f980fea496ec64e02bd06831382c223f6318776481e61ca803cb1c9cbbc384b4bb59eeda243a2933eaeef25ea8eef57f03bd5a48c9aa7d8314a15c646d
	b2sums = 98a15400cafd460bf557baaf1aa2c9f5471ea43211a2daca37da6a3e894c1973fd4643fc24b67a7bc0812426f639a85823cf197a176877b714bff9b3b3eb74bb

pkgname = jupyter-metakernel
