pkgbase = jupyter-metakernel
	pkgdesc = A Jupyter/IPython kernel template
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Calysto/metakernel
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	checkdepends = man-db
	makedepends = python-build
	makedepends = python-poetry-core
	makedepends = python-installer
	depends = python
	depends = python-comm
	depends = python-ipykernel
	depends = python-jedi
	depends = python-jupyter-core
	depends = python-pexpect
	depends = ipython
	depends = python-jupyter-client
	depends = python-parso
	depends = python-pyzmq
	depends = python-traitlets
	optdepends = python-ipywidgets: for activity magics
	optdepends = python-ipyparallel: for parallel magics
	optdepends = python-matplotlib: for matplotlib magics
	optdepends = python-pydot: for dot magics
	source = jupyter-metakernel-1.0.0.tar.gz::https://github.com/Calysto/metakernel/archive/refs/tags/v1.0.0.tar.gz
	source = pyproject.patch
	b2sums = 23bef21a1742cb982e1c88ac4e30b005458b200058038e29d9fc63af0855326371fe54908736197004c29e84a6ac5e3ca4035d943ecae983a2419a6bb65163f9
	b2sums = 7080f3016d0091fb25379955d481ba0dc11a6dfaa01056926ea670efdb5fe58c8c86845c59aa01e84b100a30cbfbbdcca548f46eb7eeab95324ff5c8d47916b5

pkgname = jupyter-metakernel
