pkgbase = tokio-console
	pkgdesc = A debugger for async rust!
	pkgver = 0.1.13
	pkgrel = 3
	url = https://github.com/tokio-rs/console
	arch = x86_64
	license = MIT
	checkdepends = protobuf
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = gcc-libs
	source = tokio-console::git+https://github.com/tokio-rs/console.git#tag=tokio-console-v0.1.13
	sha256sums = 35f0c6fb405f39d79ae85af3d080f23816c7ad6fc7eb36b30938a1ac100f9e29

pkgname = tokio-console
