pkgbase = haskell-curve25519
	pkgdesc = Fast implementations of the curve25519 elliptic curve primitives.
	pkgver = 0.2.8
	pkgrel = 34
	url = https://github.com/acw/curve25519
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = haskell-hunit
	makedepends = haskell-quickcheck
	makedepends = haskell-tagged
	makedepends = haskell-test-framework
	makedepends = haskell-test-framework-hunit
	makedepends = haskell-test-framework-quickcheck2
	depends = ghc-libs
	depends = haskell-crypto-api
	source = https://hackage.haskell.org/packages/archive/curve25519/0.2.8/curve25519-0.2.8.tar.gz
	sha256sums = 31a113ff43215b07a9093d7897a4f55a9f0893d25b06512ebae74f9a260cc2ec

pkgname = haskell-curve25519
