pkgbase = ufmt
	pkgdesc = Safe, atomic formatting with black and µsort
	pkgver = 2.1.0
	pkgrel = 2
	url = https://github.com/omnilib/ufmt
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	makedepends = python-wheel
	depends = python-black
	depends = python-click
	depends = python-libcst
	depends = python-moreorless
	depends = python-tomlkit
	depends = python-trailrunner
	depends = python-typing_extensions
	depends = usort
	source = ufmt-2.1.0.tar.gz::https://github.com/omnilib/ufmt/archive/v2.1.0.tar.gz
	sha512sums = 4165d2aefc3f8e1ff913da858ffae006aa8ad632010accd7ced35f474755ae6061e626ca3cadf9213dd55b603e85ef8a6f9cd9247a5b3a54f06220f5a28516ab

pkgname = ufmt
