pkgbase = intel-gmmlib
	pkgdesc = Intel Graphics Memory Management Library
	pkgver = 22.3.16
	pkgrel = 1
	url = https://github.com/intel/gmmlib/
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = gcc-libs
	provides = gmmlib
	conflicts = gmmlib
	replaces = gmmlib
	options = !emptydirs
	source = https://github.com/intel/gmmlib/archive/intel-gmmlib-22.3.16.tar.gz
	sha256sums = 083b86fd65ec9515971723872e56e1ba72e83ff75a9737d41a55938c0f2d4ac2

pkgname = intel-gmmlib
