pkgbase = python-freetype-py
	pkgdesc = FreeType Python bindings
	pkgver = 2.5.1
	pkgrel = 3
	url = https://github.com/rougier/freetype-py
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = freetype2
	source = freetype-py-2.5.1.tar.gz::https://github.com/rougier/freetype-py/archive/v2.5.1.tar.gz
	b2sums = c9017b4e6c258dda25f8e51a399df08a9a6ed5d96a4c7790b86bd8193ba7cc6dec085754ccb13b8d415dda38e707e238f0e1b666de14da2891a90749369c18c3

pkgname = python-freetype-py
