pkgbase = sox
	pkgdesc = The Swiss Army knife of sound processing tools
	pkgver = 14.7.1.1
	pkgrel = 1
	url = https://codeberg.org/sox_ng/sox_ng/
	arch = x86_64
	license = GPL-2.0-only
	checkdepends = time
	makedepends = alsa-lib
	makedepends = flac
	makedepends = fftw
	makedepends = git
	makedepends = lame
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libogg
	makedepends = opencore-amr
	makedepends = speexdsp
	depends = glibc
	depends = ffmpeg
	depends = file
	depends = gsm
	depends = libao
	depends = libid3tag
	depends = libltdl
	depends = libmad
	depends = libgcc
	depends = libgomp
	depends = libpng
	depends = opusfile
	depends = twolame
	depends = wavpack
	depends = zlib
	optdepends = alsa-lib: alsa plugin
	optdepends = flac: flac plugin
	optdepends = fftw: fftw support
	optdepends = lame: mp3 plugin
	optdepends = libpulse: pulse plugin
	optdepends = libsndfile: caf, fap, mat4, mat5, paf, pvf, sd2, sndfile, w64 and xi plugins
	optdepends = libvorbis: vorbis plugin
	optdepends = libogg: ogg plugin
	optdepends = opencore-amr: amr_nb and amr_wb plugins
	optdepends = speexdsp: speexdsp plugin/effect
	provides = libsox.so
	provides = libsox_ng.so
	source = sox::git+https://codeberg.org/sox_ng/sox_ng.git#tag=sox_ng-14.7.1.1
	sha512sums = d3461397dc936a28712444aeaa5a0ca924a06564a25e642a90584530c3c58357124cbe66b4e1e209ce0f91a396d08b3267c7ec43c5e59483ce19203d6c064051
	b2sums = 3e8132e21e7c00a98a65bbcf627b9210b0be9352d2dddee38a5444feccea33bda36dec03567cc30076ee6fc57893595a87a3ea74c6568eb392c8b49ca4c2a3bb

pkgname = sox
