pkgbase = haskell-tasty-silver
	pkgdesc = A fancy test runner, including support for golden tests
	pkgver = 3.3.2
	pkgrel = 27
	url = https://github.com/phile314/tasty-silver
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = haskell-tasty-hunit
	depends = ghc-libs
	depends = haskell-ansi-terminal
	depends = haskell-async
	depends = haskell-optparse-applicative
	depends = haskell-process-extras
	depends = haskell-regex-tdfa
	depends = haskell-silently
	depends = haskell-tagged
	depends = haskell-tasty
	depends = haskell-temporary
	source = https://hackage.haskell.org/packages/archive/tasty-silver/3.3.2/tasty-silver-3.3.2.tar.gz
	sha512sums = 7274bce61b9915f364b4d33b7c82fc712c250a22410f11cac8f2710dd4122bbcb033d177ad866e38293476e8d6fd68d94e891f94e00f45f3f1ecec17d49e93cf

pkgname = haskell-tasty-silver
