pkgbase = opensearch-notifications-plugin
	pkgdesc = OpenSearch Notifications Plugin
	pkgver = 2.17.1.0
	pkgrel = 1
	url = https://opensearch.org/docs/latest/notifications-plugin/index/
	arch = x86_64
	license = Apache-2.0
	makedepends = java-environment=11
	makedepends = unzip
	depends = opensearch=2.17.1
	source = opensearch-notifications-plugin-2.17.1.0.tar.gz::https://github.com/opensearch-project/notifications/archive/2.17.1.0.tar.gz
	sha256sums = 663053323501030407439129d8bbfeaf12d65dcf65f0a0a1daa832f70132aa1a

pkgname = opensearch-notifications-plugin
