pkgbase = python-pycrdt
	pkgdesc = CRDTs based on Yrs
	pkgver = 0.8.20
	pkgrel = 1
	url = https://github.com/jupyter-server/pycrdt
	arch = x86_64
	license = MIT
	checkdepends = python-objsize
	checkdepends = python-pydantic
	checkdepends = python-pytest
	checkdepends = python-y-py
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	source = https://github.com/jupyter-server/pycrdt/archive/v0.8.20/python-pycrdt-0.8.20.tar.gz
	sha256sums = ef95781f2ccf1db0bcb70a9a2a36a7a619e8ad8c8b63c21750f41b5f6f421e47

pkgname = python-pycrdt
