pkgbase = dtkwidget
	pkgdesc = Deepin base graphical widgets library
	pkgver = 5.7.11
	pkgrel = 1
	url = https://github.com/linuxdeepin/dtkwidget
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = gtest
	makedepends = doxygen
	depends = dtkcore
	depends = dtkgui
	depends = gcc-libs
	depends = glibc
	depends = gsettings-qt
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxi
	depends = qt5-base
	depends = qt5-imageformats
	depends = qt5-svg
	depends = qt5-x11extras
	depends = startup-notification
	depends = xcb-util
	replaces = deepin-tool-kit
	source = git+https://github.com/linuxdeepin/dtkwidget.git#tag=5.7.11
	sha512sums = 875fd10084e22c8c289702d5aa13fc9835e9b472a52c1dbc75281cf3fbc84d267a80ebaf0a1b56c7fd475f6f5c1834362359b63b9f7b727282e39516e21be335

pkgname = dtkwidget
