pkgbase = python-altair
	pkgdesc = Declarative statistical visualization library for Python
	pkgver = 6.2.2
	pkgrel = 1
	url = https://altair-viz.github.io/
	arch = any
	license = BSD-3-Clause
	checkdepends = ipython
	checkdepends = python-anywidget
	checkdepends = python-mistune
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-polars
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-vl-convert
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-versioningit
	makedepends = python-wheel
	depends = python
	depends = python-jinja
	depends = python-jsonschema
	depends = python-narwhals
	depends = python-packaging
	depends = python-typing_extensions
	optdepends = python-anywidget: for using JupyterChart widget
	optdepends = python-numpy: for NumPy and Pandas imports
	optdepends = python-pandas: for Pandas imports
	optdepends = python-polars: for Polars imports
	optdepends = python-pyarrow: for PyArrow imports
	optdepends = python-vl-convert: PNG and SVG export via Vega-Lite specifications
	source = altair-6.2.2.tar.gz::https://github.com/vega/altair/archive/refs/tags/v6.2.2.tar.gz
	b2sums = fea31c7ca8269b79302429363d59384feca8eb408e8a904beb18c507112e2a0be8ed3e5e132b1aa00698643140173f74fc25d27565433da2c9be8118d91d196b

pkgname = python-altair
