pkgbase = haskell-vector-stream
	pkgdesc = Efficient Streams
	pkgver = 0.1.0.1
	pkgrel = 3
	url = https://github.com/haskell/vector
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/vector-stream/0.1.0.1/vector-stream-0.1.0.1.tar.gz
	sha256sums = d0f507334bdea5431a2f07f525a97f29e76522c32210f5de6d5a2b4f1d42bf7c

pkgname = haskell-vector-stream
