pkgbase = firefox-noscript
	pkgdesc = Extension for firefox which disables javascript
	pkgver = 13.6.20
	pkgrel = 1
	url = https://noscript.net/
	arch = any
	groups = firefox-addons
	license = GPL2
	checkdepends = jq
	makedepends = nodejs
	makedepends = git
	makedepends = npm
	source = git+https://github.com/hackademix/noscript.git#tag=13.6.20
	source = nscl.git::git+https://github.com/hackademix/nscl.git
	sha256sums = 6a3cd20c3217ebea94424915ea44bcec9aee2dd49a0d402993c8024136ff9592
	sha256sums = SKIP
	b2sums = a561e97a03bbc5fd46ee3a89b01a63e7f374f5d4f73897811d3967e166adf57c46f32fea83b5a5a38f7afe74e1d1373e0db5b05a31d2ae4ae4ce5cae6f8f319a
	b2sums = SKIP

pkgname = firefox-noscript
	depends = firefox
