pkgbase = haskell-hopenpgp
	pkgdesc = Native Haskell implementation of OpenPGP (RFC4880)
	pkgver = 2.10.1
	pkgrel = 68
	url = http://floss.scru.org/hOpenPGP/
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = haskell-quickcheck
	makedepends = haskell-quickcheck-instances
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-asn1-encoding
	depends = haskell-attoparsec
	depends = haskell-base16-bytestring
	depends = haskell-bifunctors
	depends = haskell-bz2
	depends = haskell-binary-conduit
	depends = haskell-conduit
	depends = haskell-conduit-extra
	depends = haskell-crypton
	depends = haskell-crypto-cipher-types
	depends = haskell-errors
	depends = haskell-hashable
	depends = haskell-incremental-parser
	depends = haskell-ixset-typed
	depends = haskell-lens
	depends = haskell-memory
	depends = haskell-monad-loops
	depends = haskell-nettle
	depends = haskell-network-uri
	depends = haskell-openpgp-asciiarmor
	depends = haskell-prettyprinter
	depends = haskell-resourcet
	depends = haskell-split
	depends = haskell-time-locale-compat
	depends = haskell-unliftio-core
	depends = haskell-unordered-containers
	depends = haskell-zlib
	source = https://hackage.haskell.org/packages/archive/hOpenPGP/2.10.1/hOpenPGP-2.10.1.tar.gz
	sha512sums = 0e6dd3b89859ef9c6a429fcbc46f0be2edd4cec44425a27839b3d90b406cb502e3c1d21aa508ccb546b34b74036b8348625563b5bca1f3c519bd345324b72c4a

pkgname = haskell-hopenpgp
