pkgbase = fmt
	pkgdesc = Open-source formatting library for C++
	pkgver = 11.1.2
	pkgrel = 1
	url = https://fmt.dev
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = mkdocs
	makedepends = mkdocs-material
	makedepends = mkdocstrings
	makedepends = ninja
	makedepends = npm
	makedepends = python-pymdown-extensions
	makedepends = python-regex
	source = git+https://github.com/fmtlib/fmt.git#tag=8303d140a1a11f19b982a9f664bbe59a1ccda3f4
	b2sums = 72c7027f23292ccd5bdcc3b797547a52b9a3c59e98485a7b2bfcefcd482fb2efb761966947f42eb61bdb6f195ebbede80f18ad603b8ccc0d1a744575433892f6

pkgname = fmt
	depends = gcc-libs
	depends = glibc
	provides = libfmt.so

pkgname = fmt-docs
	pkgdesc = Open-source formatting library for C++ (documentation)
