pkgbase = streamlink
	pkgdesc = CLI program that launches streams from various streaming services in a custom video player (livestreamer fork)
	pkgver = 8.2.1
	pkgrel = 1
	url = https://streamlink.github.io/
	arch = any
	license = BSD
	checkdepends = python-freezegun
	checkdepends = python-pytest
	checkdepends = python-pytest-trio
	checkdepends = python-requests-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-certifi
	depends = python-isodate
	depends = python-lxml
	depends = python-pycountry
	depends = python-pycryptodome
	depends = python-pysocks
	depends = python-requests
	depends = python-trio
	depends = python-trio-websocket
	depends = python-websocket-client
	optdepends = ffmpeg: Required to play streams that are made up of separate audio and video streams, eg. YouTube 1080p+
	source = https://github.com/streamlink/streamlink/releases/download/8.2.1/streamlink-8.2.1.tar.gz
	source = https://github.com/streamlink/streamlink/releases/download/8.2.1/streamlink-8.2.1.tar.gz.asc
	validpgpkeys = CDAC41B9122470FAF357A9D344448A298D5C3618
	sha256sums = afa26582cabf343f49733d79e2bc9a5bbe90aec7dbb246ec5f97796499c637ee
	sha256sums = SKIP
	sha512sums = 83cd644138b9d7968dc2b318c91dd041488065dbd748c9f25d98fa25d57b297c3aa4a7efbc658a9a808be566a52ac5ea8e9f33c09879193456acca49d493d1a8
	sha512sums = SKIP

pkgname = streamlink
