pkgbase = streamlink
	pkgdesc = CLI program that launches streams from various streaming services in a custom video player (livestreamer fork)
	pkgver = 6.7.0
	pkgrel = 1
	url = https://streamlink.github.io/
	arch = any
	license = BSD
	checkdepends = python-freezegun
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-trio
	checkdepends = python-requests-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-certifi
	depends = python-isodate
	depends = python-lxml
	depends = python-pycountry
	depends = python-pycryptodome
	depends = python-pysocks
	depends = python-requests
	depends = python-trio
	depends = python-trio-websocket
	depends = python-typing_extensions
	depends = python-websocket-client
	optdepends = ffmpeg: Required to play streams that are made up of separate audio and video streams, eg. YouTube 1080p+
	source = https://github.com/streamlink/streamlink/releases/download/6.7.0/streamlink-6.7.0.tar.gz
	source = https://github.com/streamlink/streamlink/releases/download/6.7.0/streamlink-6.7.0.tar.gz.asc
	validpgpkeys = CDAC41B9122470FAF357A9D344448A298D5C3618
	sha256sums = 923ac327f40271c5b144b110d2f8ab01d9b44cbc4de4f9ad3bf66cfb835cd4c3
	sha256sums = SKIP
	sha512sums = df2f69cdd4de9deca41d7dca2b8b38dabcda9f4722de28a96fca0b011cb528751e40895cbe68724c3222615c6e317983d8937bd2c161640d3a8c6db17273cafd
	sha512sums = SKIP

pkgname = streamlink
