pkgbase = v2ray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20240217140518
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	makedepends = git
	source = git+https://github.com/v2fly/domain-list-community.git#commit=843897ca0aa4aebb147e8ff28020543792e9a9cb
	sha512sums = SKIP

pkgname = v2ray-domain-list-community
