pkgbase = v2ray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20250414034825
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	makedepends = git
	source = git+https://github.com/v2fly/domain-list-community.git#tag=20250414034825
	sha512sums = 188e68c74d11e29a6a53b9884f33e8e8863310d6e00273685cb988b4266e5c77bb1a6cbbe20fc714af5d9da936b9ee2268106960c4a8ab809b450508f5db7318

pkgname = v2ray-domain-list-community
