pkgbase = libretro-overlays
	pkgdesc = Collection of overlays for libretro
	pkgver = 263
	pkgrel = 1
	url = https://github.com/libretro/common-overlays
	arch = any
	groups = libretro
	license = CCPL
	makedepends = git
	source = libretro-overlays::git+https://github.com/libretro/common-overlays.git#commit=115d8670c2e032e4a41ba45f766f5cfd9dae28b8
	sha256sums = SKIP

pkgname = libretro-overlays
