pkgbase = haskell-template-haskell-compat-v0208
	pkgdesc = Backward-compatibility layer for Template Haskell newer than 2.8
	pkgver = 0.1.9.6
	pkgrel = 1
	url = https://github.com/nikita-volkov/template-haskell-compat-v0208
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/template-haskell-compat-v0208/0.1.9.6/template-haskell-compat-v0208-0.1.9.6.tar.gz
	sha512sums = 95ce77227c31653b4f41cf057a1f043348da466e3f66ce3f562a35e1a5e80f15427f3680825d54dcc872f0fd635e8a729d8774c5f7b34eaae8da34f263e9de4a

pkgname = haskell-template-haskell-compat-v0208
