pkgbase = haskell-static-hash
	pkgdesc = Immutable hash
	pkgver = 0.0.2
	pkgrel = 52
	url = https://github.com/kazu-yamamoto/static-hash.git
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-hashable
	depends = haskell-primes
	source = https://hackage.haskell.org/packages/archive/static-hash/0.0.2/static-hash-0.0.2.tar.gz
	sha256sums = 632ebc9e97f5cb4e2d339cb2d0cf122088a26a873529785b8e8a32d89918e8ce

pkgname = haskell-static-hash
