pkgbase = perl-business-isbn-data
	pkgdesc = Data pack for Business::ISBN
	pkgver = 20250911.001
	pkgrel = 1
	url = https://github.com/briandfoy/business-isbn-data
	arch = any
	license = Artistic-2.0
	checkdepends = perl-test-pod
	makedepends = git
	depends = perl
	depends = perl-business-isbn-data
	optdepends = perl-libwww: for access to the xISBN service
	options = purge
	options = !emptydirs
	source = perl-business-isbn-data::git+https://github.com/briandfoy/business-isbn-data#tag=release-20250911.001
	sha512sums = 5f56c211b17f1bf22109caf6c9be969d723e20bd74b8938c603d204a16856418ec53c3703d317ad3116f76d9440def28d0ecdf339c1332cab6f621ed2be6949e
	b2sums = c39dc68802b1c6f37bdd387278aeee0ca75a6596a71e00a5bc9b708bb28028689d4a41270e1f61571e0a6eeaebcd9ce358e5a9c46e52a54c7c63c85da1cf354d

pkgname = perl-business-isbn-data
