pkgbase = perl-business-isbn-data
	pkgdesc = Data pack for Business::ISBN
	pkgver = 20251212.001
	pkgrel = 2
	url = https://github.com/briandfoy/business-isbn-data
	arch = any
	license = Artistic-2.0
	checkdepends = perl-test-pod
	makedepends = git
	depends = perl
	depends = perl-business-isbn-data
	optdepends = perl-libwww: for access to the xISBN service
	options = purge
	options = !emptydirs
	source = perl-business-isbn-data::git+https://github.com/briandfoy/business-isbn-data#tag=release-20251212.001
	sha512sums = 217f528fffa34ef51bfb60154b502947851ecee4409a5d963790866f25fa40bd567fe8b2048443bafa776112981635540bb20cabc0da32eba84aa5dadc92c627
	b2sums = 1bd0da851076a4493f8afc59e56b43b9ceaf8568494f150da78fee397fafab43629be76010a305d845b3df1d5cb242ddedef3f266422bb9f9b36c31aa740ae73

pkgname = perl-business-isbn-data
