pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.89.0
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-dpcontracts
	checkdepends = python-django
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	source = hypothesis-hypothesis-python-6.89.0.tar.gz::https://github.com/HypothesisWorks/hypothesis/archive/hypothesis-python-6.89.0.tar.gz
	sha512sums = 9439a39fcdf4acb530871248d9e673bbc657875d5d1f6d2fd9f9a8f45b8a58de8e6cf418ec86025aa959d6db7dd40538d2d4c2a9aaf762a013dc715246a12533
	b2sums = e289c0a77493eed00373dfd91048d46f4030b3728b0d7adf2c6e46fa5749931a4c0077645d94a2ddb737a42cc4ed9213c4112f850f69bf888e82f1c033eab9cc

pkgname = python-hypothesis
