pkgbase = gsettings-desktop-schemas
	pkgdesc = GSettings schemas for GNOME
	pkgver = 46.1
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas
	arch = any
	license = LGPL-2.1-or-later
	makedepends = adobe-source-code-pro-fonts
	makedepends = cantarell-fonts
	makedepends = dconf
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	source = git+https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas.git#tag=46.1
	b2sums = 285fcf7651ac8066964a3ce5c050b91c88a893760133dfe578da2489a221ce80e2caea804ff3aaeec801655a0be7e7ebb079805c15523a45c468c5797c14216a

pkgname = gsettings-desktop-schemas
	pkgdesc = GSettings schemas for GNOME desktop components
	depends = gsettings-system-schemas=46.1-2
	depends = adobe-source-code-pro-fonts
	depends = cantarell-fonts
	depends = dconf

pkgname = gsettings-system-schemas
	pkgdesc = GSettings schemas for GNOME system components
	depends = dconf
