pkgbase = python-cuda-pathfinder
	pkgdesc = Utilities for locating CUDA components
	pkgver = 1.6.0
	pkgrel = 1
	epoch = 1
	url = https://nvidia.github.io/cuda-python/cuda-pathfinder/latest/index.html
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = cuda
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	depends = python
	source = python-cuda::git+https://github.com/NVIDIA/cuda-python#tag=cuda-pathfinder-v1.6.0
	b2sums = 5f4a80c176c47810b0682561f3e3fe39a76afe3c88196611650e03597d3abb3e447af8c8907e4847499c5f3997953930a45ed86603781329b0be92b4a2959e89

pkgname = python-cuda-pathfinder
