pkgbase = python-gdstk
	pkgdesc = Python module for creating GDSII stream files, usually CAD layouts
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/heitzmann/gdstk
	arch = x86_64
	license = BSL-1.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-scikit-build-core
	makedepends = cmake
	depends = python-numpy
	depends = qhull
	source = git+https://github.com/heitzmann/gdstk.git#tag=v1.0.1
	sha512sums = 8169abc0cda9b17e9ed4604806293b71c88eee43e17f66a287d71200d651a55f66c928fd2cd7a49c99e4d8ab7c47bb9cca44768f79537ba1282b753994365ba5

pkgname = python-gdstk
