pkgbase = luau
	pkgdesc = A fast, small, safe, gradually typed embeddable scripting language derived from Lua
	pkgver = 0.722
	pkgrel = 1
	epoch = 1
	url = https://github.com/luau-lang/luau
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = https://github.com/luau-lang/luau/archive/0.722/luau-0.722.tar.gz
	b2sums = d5ffde8b981db2170502b1426350d0b71f46af7bd256bede3c6b15b9cadef20d13d27f16d8d61ba98ed04581b9dcb5a5c032db0d41cde861fb5eb1a0d3cff184

pkgname = luau
