pkgbase = luau
	pkgdesc = A fast, small, safe, gradually typed embeddable scripting language derived from Lua
	pkgver = 0.733
	pkgrel = 1
	epoch = 1
	url = https://github.com/luau-lang/luau
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = https://github.com/luau-lang/luau/archive/0.733/luau-0.733.tar.gz
	b2sums = 1cc2247575425b0ce75a5ae5e46bb580156b776c262f98eb7babec64091e0db6ab924eafdd3263f7f9c06ade1e8445c9f00d9e9899508ec2ee62fb01a9f324ba

pkgname = luau
