pkgbase = python-zope-testrunner
	pkgdesc = Zope testrunner script
	pkgver = 8.0
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.testrunner
	arch = any
	license = ZPL-2.1
	checkdepends = python-zope-testing
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	depends = python-zope-exceptions
	depends = python-zope-interface
	source = https://github.com/zopefoundation/zope.testrunner/archive/8.0/python-zope-testrunner-8.0.tar.gz
	sha512sums = 9409d1020707d384475b4e9e36b927c107ec4bb72a3edc3459688d9f2ee1f5a65069aa87eb8bc161bb39c5494a0d8c67b3037200aa697c8c674a7aad5053330e

pkgname = python-zope-testrunner
