pkgbase = element
	pkgdesc = A modular audio plugin host
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/kushview/element
	arch = x86_64
	groups = pro-audio
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = clang
	makedepends = cmake
	makedepends = curl
	makedepends = git
	makedepends = gtk3
	makedepends = jack
	makedepends = juce
	makedepends = ladspa
	makedepends = ldoc
	makedepends = libglvnd
	makedepends = libxcomposite
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = lv2
	makedepends = ttf-roboto
	makedepends = webkit2gtk-4.1
	makedepends = xorg-xrandr
	depends = alsa-lib
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libstdc++
	provides = ladspa-host
	provides = lv2-host
	provides = vst3-host
	source = git+https://github.com/kushview/element#tag=1.1.1
	source = git+https://github.com/free-audio/clap-juce-extensions.git
	source = git+https://github.com/free-audio/clap.git
	source = git+https://github.com/free-audio/clap-helpers.git
	sha512sums = fe81086ba158f833fac3ea979a9202fa733a81a2b75c114063237661715ca6b391624f84f259438f248a3ad5a319e739b5969abcef9438c235d424be1f24879d
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	b2sums = 50e17a0034a6ae64f618b1d947c7ca67535c06606643346dbda82ceae858234c427a6fb1c7d3432a388bc72d566c5766f9da0d9c5f625a040cb02bf3894875fd
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = element
