pkgbase = python-greenlet
	pkgdesc = Lightweight in-process concurrent programming
	pkgver = 3.0.3
	pkgrel = 2
	url = https://pypi.org/project/greenlet/
	arch = x86_64
	license = MIT
	checkdepends = python-objgraph
	checkdepends = python-psutil
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/source/g/greenlet/greenlet-3.0.3.tar.gz
	sha512sums = 20d8818376a200332cbc2c85968317ddf828d2adf3fcc3c53623cd1504ec9a4e4e987e841bd2fe65e934e2b8a5e73a7205847526f0bd196e7afcdf3ae40e9d9b

pkgname = python-greenlet
