pkgbase = snd
	pkgdesc = An advanced sound editor
	pkgver = 24.5
	pkgrel = 1
	url = https://ccrma.stanford.edu/software/snd/
	arch = x86_64
	groups = pro-audio
	license = BSD-2-Clause
	license = GPL-2.0-or-later OR GL2PS
	license = LGPL-2.1-only WITH LLGPL
	license = TCL
	makedepends = alsa-lib
	makedepends = fftw
	makedepends = flac
	makedepends = gendesk
	makedepends = jack
	makedepends = ladspa
	makedepends = libsamplerate
	makedepends = mpg123
	makedepends = ruby
	makedepends = speex
	makedepends = timidity++
	makedepends = vorbis-tools
	makedepends = wavpack
	depends = glibc
	depends = glu
	depends = gmp
	depends = gsl
	depends = libglvnd
	depends = libmpc
	depends = libx11
	depends = libxext
	depends = libxpm
	depends = libxt
	depends = mpfr
	depends = openmotif
	optdepends = flac: For flac support
	optdepends = mpg123: For MPEG support
	optdepends = ruby: for snd-ruby
	optdepends = speex: For speex support
	optdepends = timidity++: For MIDI to WAVE support
	optdepends = vorbis-tools: For OGG support
	optdepends = wavpack: For wav support
	source = https://sourceforge.net/projects/snd/files/snd/24.5/snd-24.5.tar.gz
	source = GL2PS.txt
	sha512sums = 647bffcf54996d45735f46db97925965ab6bf6ff1419170d7d84ac6a60883bc5577a9c701f48db9a012ada1c0666cd91731b6506c0edec946aef25424eae93fe
	sha512sums = b4d26fb150cdce132138e080599e5690cde980ab7c687a2d4cb690a8ec9489588de8cd763cfb93a5617f017f438fcde827be71611aa9e460c5f0612d112e76cd
	b2sums = 5aabe635938702f154e984fd65af0b21f044740b23202831a1dcb2e5bbfda997f1ea809be3e92eee234afc1537e9834a8762552219d58baf9ab8c00bdded5b86
	b2sums = c4afa4f44d97eca049002d7fa2c1b20547b550800fe7133625d3c75b24f39005f0f846f7412ef366d820ebb01c82f60c484d1559d31766ab8f6b37514f439a3c

pkgname = snd
	depends = glibc
	depends = glu
	depends = gmp
	depends = gsl
	depends = libglvnd
	depends = libmpc
	depends = libx11
	depends = libxext
	depends = libxpm
	depends = libxt
	depends = mpfr
	depends = openmotif
	depends = libasound.so
	depends = libfftw3.so
	depends = libjack.so
	depends = libsamplerate.so
