pkgbase = haskell-pandoc-lua-marshal
	pkgdesc = Use pandoc types in Lua
	pkgver = 0.3.0
	pkgrel = 42
	url = https://github.com/pandoc/pandoc-lua-marshal
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-quickcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-lua
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-hslua
	depends = haskell-hslua-list
	depends = haskell-hslua-marshalling
	depends = haskell-pandoc-types
	depends = haskell-safe
	source = https://hackage.haskell.org/packages/archive/pandoc-lua-marshal/0.3.0/pandoc-lua-marshal-0.3.0.tar.gz
	sha256sums = afe839db7867698822880cc81020b61fb6b1d35800b784695a0784f6ea721b35

pkgname = haskell-pandoc-lua-marshal
