pkgbase = asar
	pkgdesc = Creating Electron app packages
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/electron/asar
	arch = any
	license = MIT
	makedepends = npm
	makedepends = typescript
	depends = nodejs
	options = !emptydirs
	source = asar-3.4.0.tar.gz::https://github.com/electron/asar/archive/refs/tags/v3.4.0.tar.gz
	sha512sums = 6d1ed1590ddbf359a194d63c0f4cd3ad64c4f9e0e13808624276d2fbe9bb7f9ef03f8c13c2d0c3ea07219b76e7819816158318d28c75ed65a957e41d0e61458c

pkgname = asar
