pkgbase = hatari
	pkgdesc = An Atari ST and STE emulator
	pkgver = 2.6.1
	pkgrel = 1
	url = https://www.hatari-emu.org/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = systemd
	depends = glibc
	depends = hicolor-icon-theme
	depends = sdl2
	depends = libpng
	depends = libx11
	depends = portmidi
	depends = readline
	depends = systemd-libs
	depends = zlib
	optdepends = python: for atari-convert-dir
	optdepends = sh: for atari-hd-image, zip2st, hatari-prg-args
	source = hatari-2.6.1.tar.gz::https://github.com/hatari/hatari/archive/refs/tags/v2.6.1.tar.gz
	sha256sums = 75f09c8deddb511b8c1574b84c507743097db9abc6edbb078f942efa8677547e

pkgname = hatari
