pkgbase = kubeseal
	pkgdesc = A Kubernetes controller and tool for one-way encrypted Secrets
	pkgver = 0.34.0
	pkgrel = 1
	url = https://github.com/bitnami-labs/sealed-secrets
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	options = !lto
	source = https://github.com/bitnami-labs/sealed-secrets/archive/v0.34.0/kubeseal-0.34.0.tar.gz
	sha512sums = 28296c1a32339a20b09238a65aafffe321d1de00b9c1e95c72be1aedfaf880de385726e9d48d4612447e497a9634039150026ed8ab3bf1d2a7e6f4edac7dceb2

pkgname = kubeseal
