pkgbase = gimp-help
	pkgver = 3.0.0
	pkgrel = 1
	url = https://docs.gimp.org/
	arch = any
	license = GPL
	license = LGPL
	makedepends = python
	makedepends = docbook-xsl
	options = !strip
	options = !zipman
	source = https://download.gimp.org/gimp/help/gimp-help-3.0.0.tar.bz2
	sha256sums = 9adf5aa0f1fa424a9cc2d3c30e40154cb37ccc2602f66c7ec7141a7b7ee87342

pkgname = gimp-help-ca

pkgname = gimp-help-cs

pkgname = gimp-help-da

pkgname = gimp-help-de

pkgname = gimp-help-el

pkgname = gimp-help-en

pkgname = gimp-help-en_gb

pkgname = gimp-help-es

pkgname = gimp-help-fa

pkgname = gimp-help-fi

pkgname = gimp-help-fr

pkgname = gimp-help-hr

pkgname = gimp-help-hu

pkgname = gimp-help-it

pkgname = gimp-help-ja

pkgname = gimp-help-ko

pkgname = gimp-help-lt

pkgname = gimp-help-nl

pkgname = gimp-help-nn

pkgname = gimp-help-pt

pkgname = gimp-help-pt_br

pkgname = gimp-help-ro

pkgname = gimp-help-ru

pkgname = gimp-help-sl

pkgname = gimp-help-sv

pkgname = gimp-help-uk

pkgname = gimp-help-zh_cn

pkgname = gimp-help-ca

pkgname = gimp-help-cs

pkgname = gimp-help-da

pkgname = gimp-help-de

pkgname = gimp-help-el

pkgname = gimp-help-en

pkgname = gimp-help-en_gb

pkgname = gimp-help-es

pkgname = gimp-help-fa

pkgname = gimp-help-fi

pkgname = gimp-help-fr

pkgname = gimp-help-hr

pkgname = gimp-help-hu

pkgname = gimp-help-it

pkgname = gimp-help-ja

pkgname = gimp-help-ko

pkgname = gimp-help-lt

pkgname = gimp-help-nl

pkgname = gimp-help-nn

pkgname = gimp-help-pt

pkgname = gimp-help-pt_br

pkgname = gimp-help-ro

pkgname = gimp-help-ru

pkgname = gimp-help-sl

pkgname = gimp-help-sv

pkgname = gimp-help-uk

pkgname = gimp-help-zh_cn

pkgname = gimp-help-ca

pkgname = gimp-help-cs

pkgname = gimp-help-da

pkgname = gimp-help-de

pkgname = gimp-help-el

pkgname = gimp-help-en

pkgname = gimp-help-en_gb

pkgname = gimp-help-es

pkgname = gimp-help-fa

pkgname = gimp-help-fi

pkgname = gimp-help-fr

pkgname = gimp-help-hr

pkgname = gimp-help-hu

pkgname = gimp-help-it

pkgname = gimp-help-ja

pkgname = gimp-help-ko

pkgname = gimp-help-lt

pkgname = gimp-help-nl

pkgname = gimp-help-nn

pkgname = gimp-help-pt

pkgname = gimp-help-pt_br

pkgname = gimp-help-ro

pkgname = gimp-help-ru

pkgname = gimp-help-sl

pkgname = gimp-help-sv

pkgname = gimp-help-uk

pkgname = gimp-help-zh_cn
