pkgbase = zizmor
	pkgdesc = A static analysis tool for GitHub Actions
	pkgver = 1.25.0
	pkgrel = 1
	url = https://github.com/zizmorcore/zizmor
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	depends = libgcc
	options = !lto
	source = https://github.com/zizmorcore/zizmor/archive/v1.25.0/zizmor-1.25.0.tar.gz
	sha256sums = d4eb078dca55b8a2e289a9a111639c73a2b2b725d879f5ba8c809038c3f254bd
	b2sums = b104ddbaa99e2d52d7bf6057721a39e6cc84dee1718a695af37eeef4ee415aa15bfb0967f1a552d7ef368cb9c692b0bc04b28d74eae2930b0fba2204769d0898

pkgname = zizmor
