pkgbase = lua-bit32
	pkgdesc = Lua 5.2 bit manipulation library
	pkgver = 0.14
	pkgrel = 1
	epoch = 1
	url = https://github.com/keplerproject/lua-compat-5.3
	arch = x86_64
	license = MIT
	makedepends = lua
	makedepends = lua51
	makedepends = lua52
	makedepends = lua53
	makedepends = luarocks
	source = https://github.com/keplerproject/lua-compat-5.3/archive/v0.14/lua-compat-5.3-0.14.tar.gz
	sha256sums = 6a6f2d444aa894b972bc1fac2cb73f5257005f61a513a571d08302b122045047

pkgname = lua-bit32

pkgname = lua51-bit32

pkgname = lua52-bit32

pkgname = lua53-bit32
