pkgbase = ruby-vimrunner
	pkgdesc = Spawn a Vim instance and control it programatically
	pkgver = 0.3.5
	pkgrel = 2
	url = https://github.com/AndrewRadev/vimrunner
	arch = any
	license = MIT
	makedepends = ruby-bundler
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = ruby-rspec
	depends = ruby
	depends = gvim
	source = ruby-vimrunner-0.3.5.tar.gz::https://github.com/AndrewRadev/vimrunner/archive/v0.3.5.tar.gz
	sha512sums = dff20bcf7765d27f65d8f6e3f9ed521d2bb20d488a34b11bb1527a1b104bc4a9446a2f4a8ad1e36bb80bd899256c66dfc84779cd51b0d7821aa482b28f4b4085
	b2sums = 896a69087e453683518e3b43bd24c9b7af4335bee19a4387d248b854fc305b78a4b6ba838c8f36979e172445bbd8c771bb20fd392646099562412ad8aedc5518

pkgname = ruby-vimrunner
