pkgbase = utox
	pkgdesc = Lightweight Tox client
	pkgver = 0.18.1
	pkgrel = 4
	url = https://github.com/uTox/uTox
	arch = x86_64
	license = GPL3
	makedepends = toxcore>=0.1.0
	makedepends = cmake
	makedepends = gtk3
	makedepends = libdbus
	makedepends = check
	makedepends = git
	depends = fontconfig
	depends = libfilteraudio
	depends = libxext
	depends = libxrender
	depends = openal
	depends = toxcore
	depends = v4l-utils
	depends = hicolor-icon-theme
	optdepends = gtk3: GTK file picker
	optdepends = libdbus: Notification support
	source = uTox-0.18.1-full.tar.gz::https://github.com/uTox/uTox/releases/download/v0.18.1/uTox-0.18.1-full.tar.gz
	source = uTox-0.18.1-full.tar.gz.asc::https://github.com/uTox/uTox/releases/download/v0.18.1/uTox-0.18.1-full.tar.gz.asc
	validpgpkeys = B7008FF12C079BF6E6EA19D1601A604B7E605776
	validpgpkeys = A25156FC7AFB5C0365A0407E6F5DD1C5371DE665
	sha512sums = 8c3c7016b73dd59d154e781eee2e9d7a05b889460900703e1850cace7796c4f89cd5b1be0421b6becd8d908e46839c87786c782d07be38efb5bbdbdecb8afe2a
	sha512sums = SKIP

pkgname = utox
