pkgbase = python-dep-logic
	pkgdesc = Python dependency specifications supporting logical operations
	pkgver = 0.4.6
	pkgrel = 1
	url = https://github.com/pdm-project/dep-logic
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pdm-backend
	makedepends = python-wheel
	depends = python
	depends = python-packaging
	source = python-dep-logic-0.4.6.tar.gz::https://github.com/pdm-project/dep-logic/archive/refs/tags/0.4.6.tar.gz
	sha512sums = f7d48a9f51465106181a108ce12641a30310594b1ff337d107dbb7484b9127e68ce43e351e05d3ee28163f9522eca1cbf5b0a0f149a6458c67a98d832ec2445f
	b2sums = 350cf6bbf69e9e934a5f448a8748b4766a061b54e93c419e66bf34a213cdbf92384ab10f2ac785fc1c6b24a71d641b471150e90730547afe8cad10f6de0286f5

pkgname = python-dep-logic
