pkgbase = happy
	pkgdesc = The Parser Generator for Haskell
	pkgver = 2.1.6
	pkgrel = 2
	url = https://hackage.haskell.org/package/happy
	arch = x86_64
	license = BSD-2-Clause
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-happy-lib
	source = https://hackage.haskell.org/packages/archive/happy/2.1.6/happy-2.1.6.tar.gz
	sha512sums = a00dd06645dd7658f8675d68365e96460479e50760d395707f688d8d4a157d114c6a0228ff16068fb584ab9cb15149def111140539387795c6385e72362ac30a

pkgname = happy
