pkgbase = deltachat-rpc-server
	pkgdesc = A JSON-RPC 2.0 interface to DeltaChat over standard I/O
	pkgver = 1.156.2
	pkgrel = 1
	url = https://github.com/deltachat/deltachat-core-rust/tree/main/deltachat-rpc-server
	arch = x86_64
	license = MPL-2.0
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = deltachat-core-rust-1.156.2.tar.gz::https://github.com/deltachat/deltachat-core-rust/archive/refs/tags/v1.156.2.tar.gz
	sha512sums = c30003d6571169ab0291bc85d5709e5de6e78a34f4738e30cee2dd6aaac16abe0b170c91a2a1c1106b861767e4cd286f7b20a7a128195531567304767ed71214
	b2sums = eda589c5b78114a3752694bf0669aeba5bf32916e3ab3df6ccef723ea657aeafe26f2265af538a0ec90d697df92fb7b97b81c6e653d1e9c35e71f672dafc4476

pkgname = deltachat-rpc-server
