pkgbase = stack
	pkgdesc = The Haskell Tool Stack
	pkgver = 2.9.1
	pkgrel = 142
	url = https://github.com/commercialhaskell/stack
	install = stack.install
	arch = x86_64
	license = BSD
	checkdepends = cabal-install
	makedepends = ghc
	makedepends = uusi
	makedepends = git
	makedepends = haskell-quickcheck
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	makedepends = haskell-raw-strings-qq
	makedepends = haskell-smallcheck
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-annotated-wl-pprint
	depends = haskell-ansi-terminal
	depends = haskell-async
	depends = haskell-attoparsec
	depends = haskell-base64-bytestring
	depends = haskell-casa-client
	depends = haskell-casa-types
	depends = haskell-colour
	depends = haskell-conduit
	depends = haskell-conduit-extra
	depends = haskell-crypton
	depends = haskell-crypton-conduit
	depends = haskell-echo
	depends = haskell-extra
	depends = haskell-file-embed
	depends = haskell-filelock
	depends = haskell-fsnotify0.3
	depends = haskell-generic-deriving
	depends = haskell-githash
	depends = haskell-hackage-security
	depends = haskell-hashable
	depends = haskell-hi-file-parser
	depends = haskell-hpack
	depends = haskell-http-client
	depends = haskell-http-client-tls
	depends = haskell-http-conduit
	depends = haskell-http-download
	depends = haskell-http-types
	depends = haskell-memory
	depends = haskell-microlens
	depends = haskell-mintty
	depends = haskell-mono-traversable
	depends = haskell-mustache
	depends = haskell-neat-interpolation
	depends = haskell-network-uri
	depends = haskell-open-browser
	depends = haskell-optparse-applicative
	depends = haskell-optparse-simple
	depends = haskell-pantry
	depends = haskell-path
	depends = haskell-path-io
	depends = haskell-persistent
	depends = haskell-persistent-sqlite
	depends = haskell-primitive
	depends = haskell-project-template
	depends = haskell-random
	depends = haskell-retry
	depends = haskell-rio
	depends = haskell-rio-prettyprint
	depends = haskell-split
	depends = haskell-streaming-commons
	depends = haskell-tar
	depends = haskell-temporary
	depends = haskell-text-metrics
	depends = haskell-th-reify-many
	depends = haskell-tls
	depends = haskell-typed-process
	depends = haskell-unicode-transforms
	depends = haskell-unix-compat
	depends = haskell-unliftio
	depends = haskell-unordered-containers
	depends = haskell-vector
	depends = haskell-yaml
	depends = haskell-zip-archive
	depends = haskell-zlib
	conflicts = haskell-stack
	replaces = haskell-stack
	source = git+https://github.com/commercialhaskell/stack.git#tag=v2.9.1
	source = stack-persistent-2.14.patch
	sha512sums = SKIP
	sha512sums = c0a3830988f878fa4c51667842dd2852523a5bc3c736353c9e7dbbf3b5be676e287393eb439f0a115a23a79fc1daa68a0c284a3a0ee133be07dbefe10a9cbb32

pkgname = stack
