pkgbase = haskell-integer-roots
	pkgdesc = Integer roots and perfect powers
	pkgver = 1.0.2.0
	pkgrel = 79
	url = https://github.com/Bodigrim/integer-roots
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-doctest
	makedepends = haskell-smallcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	makedepends = haskell-tasty-smallcheck
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/integer-roots/1.0.2.0/integer-roots-1.0.2.0.tar.gz
	sha512sums = 291683e7b1229f5930827ff02ae279387cc520c24bb4ebc7870bd7284afcbd0daa78055f7eb39471f02709207d513488f8cffe4ef4cb8964f5e7158f8bb365f5

pkgname = haskell-integer-roots
