pkgbase = haskell-svg-builder
	pkgdesc = DSL for building SVG.
	pkgver = 0.1.1
	pkgrel = 259
	url = https://github.com/diagrams/svg-builder.git
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	depends = ghc-libs
	depends = haskell-blaze-builder
	depends = haskell-hashable
	depends = haskell-unordered-containers
	source = https://hackage.haskell.org/packages/archive/svg-builder/0.1.1/svg-builder-0.1.1.tar.gz
	sha256sums = 4fd0e3f2cbc5601fc69e7eab41588cbfa1150dc508d9d86bf5f3d393880382cc

pkgname = haskell-svg-builder
