pkgbase = copyparty
	pkgdesc = File server with accelerated resumable uploads, dedup, WebDAV, FTP, TFTP, zeroconf, media indexer, thumbnails++
	pkgver = 1.20.4
	pkgrel = 1
	url = https://github.com/9001/copyparty
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = pigz
	depends = bash
	depends = python
	depends = lsof
	depends = python-jinja
	optdepends = ffmpeg: thumbnails for videos, images (slower) and audio, music tags
	optdepends = cfssl: generate TLS certificates on startup
	optdepends = python-mutagen: music tags (alternative)
	optdepends = python-pillow: thumbnails for images
	optdepends = python-pyvips: thumbnails for images (higher quality, faster, uses more ram)
	optdepends = libkeyfinder: detection of musical keys
	optdepends = python-pyopenssl: ftps functionality
	optdepends = python-pyzmq: send zeromq messages from event-hooks
	optdepends = python-argon2-cffi: hashed passwords in config
	backup = etc/copyparty/copyparty.conf
	source = copyparty::git+https://github.com/9001/copyparty#tag=v1.20.4
	sha512sums = 1725b3a35048d8856803e4cdbc2c326aa31608df2ada88ddaa917057acf93705776a979e672a9e67f978a644a79570cfb35375f09fc1f705c47f7da41b68beeb
	b2sums = 63f60a88dfab1239888e0b99ca921c496a44b0d5b9ef056ccfe95de919c6e81675e9f9a9b1e78c7cda19f4d61d295967f0f0ab130f19f7afaed816e0b42fb4ac

pkgname = copyparty
