pkgbase = rime-emoji
	pkgdesc = Emoji support for rime
	pkgver = 0.0.0.20241103
	pkgrel = 1
	url = https://github.com/rime/rime-emoji
	arch = any
	license = LGPL
	makedepends = git
	source = git+https://github.com/rime/rime-emoji.git#commit=ca7df5f5498ccd99cc312413ceae7d13717456b8
	sha512sums = 0a2df1d7a5bcc72b6ea7e344baf95f4fa90e5a91795cb5cf6c5828ea1a850ed04cf728196fac275f2b26aed85dad18c7c2e7fc5e753e39b6acc370eec2a288f3

pkgname = rime-emoji
