pkgbase = worktrunk
	pkgdesc = CLI for Git worktree management, designed for parallel AI agent workflows
	pkgver = 0.33.0
	pkgrel = 1
	url = https://github.com/max-sixty/worktrunk
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = git
	depends = glibc
	depends = libgcc
	options = !lto
	source = https://github.com/max-sixty/worktrunk/archive/refs/tags/v0.33.0/worktrunk-0.33.0.tar.gz
	b2sums = 9d9766f51ce6c40084f99450f922a1a3ea4b700dbe10ee3de92df6c9fc884135350a859b0a6946dd89aa4ba3e950e4e01805104f925a92ef10fc482147c467cf

pkgname = worktrunk
