pkgbase = frogr
	pkgdesc = Flickr uploader for GNOME
	pkgver = 1.8.1
	pkgrel = 3
	url = https://wiki.gnome.org/Apps/Frogr
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = itstool
	makedepends = meson
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gstreamer
	depends = gtk3
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libexif
	depends = libgcrypt
	depends = libsoup3
	depends = libxml2
	source = git+https://gitlab.gnome.org/GNOME/frogr.git?signed#tag=RELEASE_1.8.1
	validpgpkeys = 9A98AEBB7E250E7654CD627A1AB71886930A0CF6
	b2sums = 639ac9be27491d86d18b770f57804818435dcb548fa09f9cb37c1998ebbb4dfd04aab49358f7031677d35fc1fa1aedda5123a855b9195c225382ad642e58c072

pkgname = frogr
