pkgbase = typos
	pkgdesc = Source code spell checker
	pkgver = 1.41.0
	pkgrel = 1
	url = https://github.com/crate-ci/typos
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	source = typos-1.41.0.tar.gz::https://github.com/crate-ci/typos/archive/refs/tags/v1.41.0.tar.gz
	sha256sums = fc31f14291bc99f888960814f070a8bc296550cce6c61feccb9003b62dc53a9c

pkgname = typos
