pkgbase = rust-analyzer
	pkgdesc = Rust compiler front-end for IDEs
	pkgver = 20250623
	pkgrel = 1
	url = https://rust-analyzer.github.io/
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = git
	depends = gcc-libs
	depends = rust-src
	source = git+https://github.com/rust-lang/rust-analyzer.git#tag=2025-06-23
	b2sums = 7b53c40381a37a6c983651541216f0e2f796fe802abfc2c61b65d7b354ce7b664a4d9f22c51cd718662a4fde6c5b63a42261ed25a15918fe44db054f146904ef

pkgname = rust-analyzer
