pkgbase = cosmic-initial-setup
	pkgdesc = COSMIC Initial Setup
	pkgver = 1.0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/pop-os/cosmic-initial-setup
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = git-lfs
	makedepends = just
	depends = cosmic-icon-theme
	depends = libinput
	depends = libpulse
	depends = libxkbcommon
	depends = polkit
	depends = systemd-libs
	source = git+https://github.com/pop-os/cosmic-initial-setup.git#tag=epoch-1.0.1
	sha256sums = 0b63a38b37daf382e1acd1513f4a87ba708b6b28e99c151e3c31ffb725352f9f

pkgname = cosmic-initial-setup
