pkgbase = cosmic-initial-setup
	pkgdesc = COSMIC Initial Setup
	pkgver = 1.0.5
	pkgrel = 1
	epoch = 1
	url = https://github.com/pop-os/cosmic-initial-setup
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = git-lfs
	makedepends = just
	depends = cosmic-icon-theme
	depends = libinput
	depends = libpulse
	depends = libxkbcommon
	depends = polkit
	depends = systemd-libs
	source = git+https://github.com/pop-os/cosmic-initial-setup.git#tag=epoch-1.0.5
	sha256sums = a388aa181058e0edf76e374265ecc1cf6db7f40ca3eabd6ea2240fb8e2a51437

pkgname = cosmic-initial-setup
