pkgbase = sad
	pkgdesc = Space Age seD
	pkgver = 0.4.23
	pkgrel = 3
	url = https://github.com/ms-jpq/sad
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = python
	depends = gcc-libs
	depends = glibc
	optdepends = fzf: for tui usage
	optdepends = diff-so-fancy: for diff colourizer
	optdepends = git-delta: for diff colourizer
	options = !lto
	source = sad::git+https://github.com/ms-jpq/sad#tag=v0.4.23
	sha256sums = 5b355df4469e54d5a7e8d1ac54aa7284269175e07c8788e7e0f232fe8e81da46

pkgname = sad
