pkgbase = hipcub
	pkgdesc = Header-only library on top of rocPRIM or CUB
	pkgver = 5.7.1
	pkgrel = 1
	url = https://hipcub.readthedocs.io/en/latest/
	arch = x86_64
	license = custom
	makedepends = rocm-cmake
	depends = rocprim
	depends = hip
	source = hipcub-5.7.1.tar.gz::https://github.com/ROCmSoftwarePlatform/hipCUB/archive/rocm-5.7.1.tar.gz
	sha256sums = 9b23a58408bc4c549d3c754196cb3e2c1a50e177ab0a286101cbea2f7f173945

pkgname = hipcub
