pkgbase = haskell-criterion
	pkgdesc = Robust, reliable performance measurement and analysis
	pkgver = 1.6.2.0
	pkgrel = 8
	url = http://www.serpentine.com/criterion
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	makedepends = haskell-base-compat
	makedepends = haskell-hunit
	makedepends = haskell-quickcheck
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base-compat-batteries
	depends = haskell-binary-orphans
	depends = haskell-cassava
	depends = haskell-code-page
	depends = haskell-criterion-measurement
	depends = haskell-glob
	depends = haskell-js-chart
	depends = haskell-microstache
	depends = haskell-mwc-random
	depends = haskell-optparse-applicative
	depends = haskell-prettyprinter
	depends = haskell-prettyprinter-ansi-terminal
	depends = haskell-statistics
	depends = haskell-transformers-compat
	depends = haskell-vector
	depends = haskell-vector-algorithms
	source = https://hackage.haskell.org/packages/archive/criterion/1.6.2.0/criterion-1.6.2.0.tar.gz
	sha512sums = 59e9c1b8da1f0667fc6b3c6e5fbf9b533271e77b6a7432f5069e04c04a7767ee9dee90e8e3f7ea8422750ded825febc2c5fd1ba113d33cf7bf78f24ddd843868

pkgname = haskell-criterion
