pkgbase = soundscope
	pkgdesc = A TUI app for analyzing audio data such as frequencies and loudness
	pkgver = 1.9.2
	pkgrel = 1
	url = https://github.com/bananaofhappiness/soundscope
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = alsa-lib
	source = soundscope-1.9.2.tar.gz::https://github.com/bananaofhappiness/soundscope/archive/v1.9.2.tar.gz
	sha512sums = c007a68b350c31350cdef0736c69ff2285e731f4dd67c7e72cb7e55bbdb4b614e91240c50f709fa9510979d8a7645e85c8f7ddd80cb0078c700f0457ec5dcbe1

pkgname = soundscope
