pkgbase = deepin-grand-search
	pkgdesc = System-wide desktop search for DDE
	pkgver = 6.0.11
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-grand-search
	arch = x86_64
	groups = deepin-extra
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = deepin-desktop-base
	makedepends = deepin-tray-loader
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = boost
	depends = deepin-anything
	depends = deepin-application-manager
	depends = deepin-service-manager
	depends = deepin-util-dfm
	depends = deepin-shell
	depends = taglib
	depends = ffmpeg
	depends = icu
	depends = deepin-pdfium
	depends = ffmpegthumbnailer
	depends = lucene++
	depends = deepin-qt-dbus-factory
	depends = dtk6core
	depends = dtk6gui
	depends = dtk6widget
	depends = qt6-base
	depends = qt6-5compat
	source = git+https://github.com/linuxdeepin/dde-grand-search.git#tag=6.0.11
	source = taglib-2.patch
	source = dfm-search-sync.patch
	sha512sums = 4bcebe32a78cf26f9ae8522ddb15a282b3d9a82e04a5a09bcc50c79b37fc98ab904f595edf67603bc9245dcce216f625d2c71955d04908b7b098ab3ac3827d4b
	sha512sums = 8364cd5aa0350a7d109be7ce10035c6c4e3fd6686205bc880017b1fc93a10cff6e78a8f66daeb25427c416a6dc075482136146c9d8278aee6de71653673d59a0
	sha512sums = 5a04f3800bef8e1309a31f6641678661247a03c16b6f412b9452142b269919a752a16386247cb69d8e36ce39b0344cc8acd5918363a509c09c43ba69ce3b7f8f

pkgname = deepin-grand-search
