pkgbase = glaze
	pkgdesc = An Extremely fast, In-Memory JSON and Interface Library for Modern C++
	pkgver = 5.1.2
	pkgrel = 1
	url = https://github.com/stephenberry/glaze
	arch = any
	license = MIT
	makedepends = cmake
	source = https://github.com/stephenberry/glaze/archive/v5.1.2/glaze-5.1.2.tar.gz
	sha256sums = bf8d7187a05b6c49481ede2bda933c853de97b4ea0bf3f4d3e0b1a68b0ae207e

pkgname = glaze
