pkgbase = calf
	pkgdesc = LV2 plug-in suite and standalone Jack host
	pkgver = 0.90.6
	pkgrel = 1
	url = https://calf-studio-gear.org
	arch = x86_64
	groups = lv2-plugins
	groups = pro-audio
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = lv2
	depends = cairo
	depends = expat
	depends = fluidsynth
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk2
	depends = hicolor-icon-theme
	depends = jack
	source = git+https://github.com/calf-studio-gear/calf#tag=0.90.6
	b2sums = 4354d2a09518563725940d48c581d4e14ccb8fba15e40b615ed25511650f9c41a1c71f942f3861e5eae2d987968f6e8f8f9ae2dfb54753126d3089f725004a7c

pkgname = calf
