pkgbase = python-nox
	pkgdesc = Flexible test automation for Python
	pkgver = 2023.04.22
	pkgrel = 3
	url = https://github.com/wntrblm/nox
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-jinja
	checkdepends = python-tox
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python
	depends = python-argcomplete
	depends = python-colorlog
	depends = python-py
	depends = python-virtualenv
	depends = python-packaging
	optdepends = python-jinja: tox_to_nox
	optdepends = python-tox: tox_to_nox
	source = python-nox-2023.04.22.tar.gz::https://github.com/wntrblm/nox/archive/2023.04.22.tar.gz
	sha512sums = 7425588b0ae87d66211a4fec1d204122a2adb114ddca866d2e66e1caff930f593af1540e5c88806894400ea8aba92037d3f458a98df05d6ac70662705426ee6e

pkgname = python-nox
