pkgbase = haskell-filelock
	pkgdesc = Portable interface to file locking (flock / LockFileEx)
	pkgver = 0.1.1.7
	pkgrel = 20
	url = https://github.com/haskell-pkg-janitors/filelock
	arch = x86_64
	license = custom:PublicDomain
	makedepends = ghc
	makedepends = haskell-async
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/filelock/0.1.1.7/filelock-0.1.1.7.tar.gz
	sha512sums = ca82dc7efde8a36dc4c7df63609159349d145e7de1fed6b9dcdc8c16b64cdddb3d13b838c39f363eb89ee82871cb2904e76cb833c5798319ed514815aac88e98

pkgname = haskell-filelock
