pkgbase = riscv32-elf-gdb
	pkgdesc = The GNU Debugger for the RISCV32 (bare-metal) target
	pkgver = 14.2
	pkgrel = 1
	url = https://www.gnu.org/software/gdb/
	arch = x86_64
	license = GPL3
	makedepends = boost
	depends = xz
	depends = ncurses
	depends = expat
	depends = python
	depends = guile
	depends = gdb-common
	depends = mpfr
	depends = libelf
	depends = source-highlight
	options = !emptydirs
	source = https://ftp.gnu.org/gnu/gdb/gdb-14.2.tar.xz
	source = https://ftp.gnu.org/gnu/gdb/gdb-14.2.tar.xz.sig
	validpgpkeys = F40ADB902B24264AA42E50BF92EDB04BFF325CF3
	sha512sums = 7e07941f1fe661288cc571b4964012ceabc1760624fce20320db2f470c01439b2386f859b5288da13204b758e2e3b22a74c68c012178db93b9529b06f1e22ede
	sha512sums = SKIP

pkgname = riscv32-elf-gdb
