pkgbase = fillets-ng
	pkgdesc = Port of the wonderful puzzle game Fish Fillets
	pkgver = 1.0.1
	pkgrel = 12
	url = http://fillets.sf.net/
	changelog = fillets-ng.changelog
	arch = x86_64
	license = GPL
	makedepends = gendesk
	depends = fillets-ng-data
	depends = lua51
	depends = fribidi
	depends = gcc-libs
	depends = libx11
	depends = sdl_mixer
	depends = sdl_ttf
	depends = sdl_image
	depends = desktop-file-utils
	source = https://downloads.sourceforge.net/fillets/fillets-ng-1.0.1.tar.gz
	source = fillets-ng.png
	source = lua-config
	sha256sums = 329a4d9515d60bebdb657d070824933b993b85864b9d3e302e6361accab992da
	sha256sums = 338c9e1b8ac4ef5bb167f4a6090c341897bd2c7f8b4e5afc3ac3131a57bb8c88
	sha256sums = 65200fa109a819f55843b864164812f6a8e5b5bf910e12732dbc507f8982f29a

pkgname = fillets-ng
