pkgbase = skaffold
	pkgdesc = A command line tool that facilitates continuous development for Kubernetes applications
	pkgver = 2.18.3
	pkgrel = 1
	url = https://github.com/GoogleContainerTools/skaffold
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	makedepends = go-licenses
	makedepends = python
	depends = docker
	depends = glibc
	depends = kompose
	optdepends = kubectl: For Kubernetes support
	optdepends = minikube: To use Minikube
	options = !lto
	source = skaffold::git+https://github.com/GoogleContainerTools/skaffold.git#tag=v2.18.3
	sha512sums = e8a9fddff261215fb46bdefe4eda324dc718f54e43a17002e71e134c56e87c2c253dbb0f36d50346345778b84fad55b59ee79a8d0c1eef76f81455013b0c0a71
	b2sums = f730033c70d1c3ebc6e976825d1f78c54c7388aff63892a4d81a155032574d64cfbc8b22c97bd89357ac89c97876248e9c8d775c1145598e48fb7db0b02d5d4d

pkgname = skaffold
