pkgbase = hyphen-de
	pkgdesc = German hyphenation rules
	pkgver = 20241209
	pkgrel = 1
	url = https://wiki.documentfoundation.org/Development/Dictionaries
	arch = any
	license = LGPL-2.1-or-later
	makedepends = git
	optdepends = hyphen: offers hyphenation library functions
	source = git+https://anongit.freedesktop.org/git/libreoffice/dictionaries.git#commit=31bc2a1104a1cd175f900902f994c76dea35c763
	sha256sums = SKIP

pkgname = hyphen-de
