pkgbase = opensearch-knn-plugin
	pkgdesc = OpenSearch Index Management Plugin
	pkgver = 2.19.0.0
	pkgrel = 1
	url = https://opensearch.org/docs/latest/search-plugins/knn
	arch = x86_64
	license = Apache-2.0
	makedepends = java-environment=11
	makedepends = unzip
	depends = opensearch=2.19.0
	source = opensearch-knn-plugin-2.19.0.0.tar.gz::https://github.com/opensearch-project/k-NN/archive/2.19.0.0.tar.gz
	sha256sums = 7f8d1fe1ae7d9046a324676b6af0d9ccd94624846038552e22ce84b7ad5311f1

pkgname = opensearch-knn-plugin
