pkgbase = whitedb
	pkgdesc = Lightweight NoSQL database library operating fully in main memory
	pkgver = 0.7.3
	pkgrel = 12
	url = https://github.com/priitj/whitedb
	arch = x86_64
	license = GPL
	makedepends = python
	optdepends = python: for python bindings
	source = https://github.com/priitj/whitedb/archive/v0.7.3/whitedb-0.7.3.tar.gz
	md5sums = b9fcdc765442b08d90446a00eb3af4ca
	sha256sums = e6c59d4c9059386bae30d33c9f111b7db025bd943b1bdb05a80d3e7f68c5b28d

pkgname = whitedb
