pkgbase = python-calmjs.parse
	pkgdesc = Various parsers for ECMA standards
	pkgver = 1.3.1
	pkgrel = 2
	url = https://github.com/calmjs/calmjs.parse
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-ply
	source = calmjs.parse-1.3.1.tar.gz::https://github.com/calmjs/calmjs.parse/archive/refs/tags/1.3.1.tar.gz
	sha512sums = 6bed01b67c6568a61663b9a489728cc428c5c001d000d4f468230809418d17e4253cf2ffb336e924fe654399484be2c770428f9e1da94c6a218cea6235fd7118
	b2sums = 134e71521d7287c0d082ccab31e99163f59d065bd1ad2af532fa542e20491856b5eaa42053480466e64f92873095e960648aae773bc2bafe04461f26c170102f

pkgname = python-calmjs.parse
