pkgbase = drawy
	pkgdesc = Handy, infinite brainstorming tool
	pkgver = 1.0.1
	pkgrel = 1
	url = https://apps.kde.org/drawy/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = glibc
	depends = kcolorscheme
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = syntax-highlighting
	depends = zstd
	source = https://download.kde.org/stable/drawy/1.0.1/drawy-1.0.1.tar.xz
	source = https://download.kde.org/stable/drawy/1.0.1/drawy-1.0.1.tar.xz.sig
	validpgpkeys = B8212431183046C0264854849C1E90CA507E162F
	sha256sums = 3bf3764784d6c8cfd80bd4fd639d73eaedc4c88889c03215d3add25f685ab227
	sha256sums = SKIP

pkgname = drawy
