pkgbase = sccache
	pkgdesc = Shared compilation cache
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/mozilla/sccache
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = openssl
	optdepends = memcached: Memcached support
	optdepends = redis: Redis support
	options = !lto
	source = git+https://github.com/mozilla/sccache.git#tag=77f67d73445a383ffd8af095fb7a8e41f258e80f
	b2sums = 4c776f339b923379055e276a7e18951d33ed7f50baf713bbcc45821a6309525c7e977bb45c3ca2eb9b021ea116d1fcf8ba865a625edd5ae5a06145b262d673fe

pkgname = sccache
