pkgbase = python-cli_helpers
	pkgdesc = Python helpers for common CLI tasks
	pkgver = 2.7.0
	pkgrel = 2
	url = https://github.com/dbcli/cli_helpers
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pygments
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-tabulate
	depends = python-configobj
	optdepends = python-pygments: for styles extras
	source = python-cli_helpers::git+https://github.com/dbcli/cli_helpers#tag=v2.7.0
	sha512sums = ad290a13eae44c26067b2ddef41d823921046246624c96f465169f4a0ca10dbbeea2c4ed181aea869057a53455a2713b83fdd31f1ea3fc93b871aadbbca3791e
	b2sums = ab3915551c641fe3993baef13c107e630219976008f6e9f656220a9a06c359735788497630e1c7bae398e2332b6952dfc262bc5e049fb4e7bf7e3f779836c639

pkgname = python-cli_helpers
