pkgbase = rebels-in-the-sky
	pkgdesc = P2P terminal game about spacepirates playing basketball across the galaxy
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/ricott1/rebels-in-the-sky
	arch = x86_64
	license = GPL-3.0
	makedepends = cargo
	makedepends = cmake
	depends = gcc-libs
	depends = alsa-lib
	options = !lto
	source = rebels-in-the-sky-1.1.2.tar.gz::https://github.com/ricott1/rebels-in-the-sky/archive/v1.1.2.tar.gz
	sha512sums = 7a49f3b4ecc159176f1ed27f08477ae6a3e2c0445d7e1b67bf4b962491af4bdafd9ec68cf5a7628a888abd783532f113654548f649cee0e6633a76d6210a6d1b

pkgname = rebels-in-the-sky
