pkgbase = alex
	pkgdesc = Lexical analyser generator for Haskell
	pkgver = 3.5.4.2
	pkgrel = 1
	url = https://hackage.haskell.org/package/alex
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/alex/3.5.4.2/alex-3.5.4.2.tar.gz
	sha512sums = a70c2781b5635f32563b3fb0cdbcf18af82ee9cb091c1e2c4d931bf99285f85b0f28a16371b813bc37e566001e536ff83b90394e659bc5d67e924972d6cacf52

pkgname = alex
