pkgbase = sentry-native
	pkgdesc = Sentry SDK for C, C++ and native applications
	pkgver = 0.15.3
	pkgrel = 1
	url = https://github.com/getsentry/sentry-native
	arch = x86_64
	license = MIT
	checkdepends = dotnet-sdk
	checkdepends = python-flaky
	checkdepends = python-msgpack
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytest-httpserver
	checkdepends = python-requests
	makedepends = cmake
	makedepends = git
	depends = curl
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = zlib
	provides = libsentry.so
	source = git+https://github.com/getsentry/sentry-native.git#tag=0.15.3
	source = sentry-native-libunwindstack-ndk::git+https://github.com/getsentry/libunwindstack-ndk.git
	source = sentry-native-breakpad::git+https://github.com/getsentry/breakpad.git
	source = sentry-native-chromium-linux-syscall-support::git+https://github.com/getsentry/chromium-linux-syscall-support.git
	source = sentry-native-crashpad::git+https://github.com/getsentry/crashpad.git
	source = sentry-native-mini_chromium::git+https://github.com/getsentry/mini_chromium.git
	source = sentry-native-chromium-zlib::git+https://github.com/getsentry/chromium-zlib.git
	b2sums = 1cfc0a1fbdfeec2d7628469c4ef73bfb0c82feea553daee482d1049662445f1a49b00d9ddfa846118566165c9075a5dc33005123d237f1c7e95b9358696fc7c2
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = sentry-native
