pkgbase = sentry-native
	pkgdesc = Sentry SDK for C, C++ and native applications
	pkgver = 0.13.3
	pkgrel = 1
	url = https://github.com/getsentry/sentry-native
	arch = x86_64
	license = MIT
	checkdepends = dotnet-sdk
	checkdepends = python-flaky
	checkdepends = python-msgpack
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytest-httpserver
	checkdepends = python-requests
	makedepends = cmake
	makedepends = git
	depends = curl
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = zlib
	provides = libsentry.so
	source = git+https://github.com/getsentry/sentry-native.git#tag=0.13.3
	source = sentry-native-libunwindstack-ndk::git+https://github.com/getsentry/libunwindstack-ndk.git
	source = sentry-native-breakpad::git+https://github.com/getsentry/breakpad.git
	source = sentry-native-linux-syscall-support::git+https://chromium.googlesource.com/linux-syscall-support.git
	source = sentry-native-crashpad::git+https://github.com/getsentry/crashpad.git
	source = sentry-native-mini_chromium::git+https://github.com/getsentry/mini_chromium.git
	source = sentry-native-zlib::git+https://chromium.googlesource.com/chromium/src/third_party/zlib.git
	b2sums = 3fabbdf0f5d3b8408b9fd3b895fa7a52bcb2d759a52b801a8635d65f6f984ca810ada5699b5ed80601df75c06ec76d1c752e8bbd93937d1b2ac6a2800c3c26e1
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = sentry-native
