pkgbase = sentry-native
	pkgdesc = Sentry SDK for C, C++ and native applications
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/getsentry/sentry-native
	arch = x86_64
	license = MIT
	checkdepends = dotnet-sdk
	checkdepends = python-msgpack
	checkdepends = python-pytest
	checkdepends = python-pytest-httpserver
	makedepends = cmake
	makedepends = git
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = zlib
	provides = libsentry.so
	source = git+https://github.com/getsentry/sentry-native.git#tag=0.8.4
	source = sentry-native-libunwindstack-ndk::git+https://github.com/getsentry/libunwindstack-ndk.git
	source = sentry-native-breakpad::git+https://github.com/getsentry/breakpad.git
	source = sentry-native-linux-syscall-support::git+https://chromium.googlesource.com/linux-syscall-support.git
	source = sentry-native-crashpad::git+https://github.com/getsentry/crashpad.git
	source = sentry-native-mini_chromium::git+https://github.com/getsentry/mini_chromium.git
	source = sentry-native-zlib::git+https://chromium.googlesource.com/chromium/src/third_party/zlib.git
	sha256sums = c44c5ac9d800e65e6504734e697c44d29584e1b3fc8023d11a04058bd164ca4e
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = sentry-native
