pkgbase = ttf-indic-otf
	pkgdesc = Indic Opentype Fonts collection
	pkgver = 0.2
	pkgrel = 12
	url = https://www.indlinux.org/wiki/index.php/Downloads
	arch = any
	license = GPL
	source = https://www.indlinux.org/downloads/files/indic-otf-0.2.tar.gz
	sha512sums = ecb85ca38b40b0afd23c57a5529e3a5eec175852d28d5f9e49592e53f91530ff63737e86df3fe574daf725a673eb59c1ec653b25c7a67642bbfe378df7964bfb

pkgname = ttf-indic-otf
