pkgbase = upterm
	pkgdesc = Secure Terminal Sharing, an alternative to tmate
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/owenthereal/upterm
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	source = upterm-0.13.0.tar.gz::https://github.com/owenthereal/upterm/archive/v0.13.0.tar.gz
	sha256sums = f2377dce69f3f6f0b8a4eef16360956e0c8938ad6ac9d380b1f0a80be8ee65d7

pkgname = upterm
