pkgbase = upterm
	pkgdesc = Secure Terminal Sharing, an alternative to tmate
	pkgver = 0.26.0
	pkgrel = 1
	url = https://github.com/owenthereal/upterm
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	source = upterm-0.26.0.tar.gz::https://github.com/owenthereal/upterm/archive/v0.26.0.tar.gz
	sha256sums = 2eee37b11631e7ecf2a51c94d7a5051fcdf5beebf0fd69f50c9272fb0252de55

pkgname = upterm
