pkgbase = haskell-req
	pkgdesc = HTTP client library
	pkgver = 3.13.0
	pkgrel = 105
	url = https://github.com/mrkkrp/req
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-quickcheck
	makedepends = haskell-hspec
	makedepends = haskell-hspec-core
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-authenticate-oauth
	depends = haskell-blaze-builder
	depends = haskell-case-insensitive
	depends = haskell-crypton-connection
	depends = haskell-http-api-data
	depends = haskell-http-client
	depends = haskell-http-client-tls
	depends = haskell-http-types
	depends = haskell-modern-uri
	depends = haskell-monad-control
	depends = haskell-retry
	depends = haskell-transformers-base
	depends = haskell-unliftio-core
	source = https://hackage.haskell.org/packages/archive/req/3.13.0/req-3.13.0.tar.gz
	sha512sums = 01600cee2ffb2db91a46ede812b29a94e2671dc92765b40ffcd5caa53dbaf27d97abd6f6ca18a0cd9cec0be41ea65daccecbd03e96e2a4c08dde8ee96b12adae

pkgname = haskell-req
