pkgbase = cage
	pkgdesc = A kiosk compositor for Wayland
	pkgver = 0.3.1
	pkgrel = 1
	url = https://www.hjdskes.nl/projects/cage/
	install = cage.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libxkbcommon
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	makedepends = xorg-server-xwayland
	depends = glibc
	depends = wayland
	depends = wlroots0.20
	optdepends = polkit: System privilege control. Required if not using seatd service
	optdepends = xorg-server-xwayland: X11 support
	provides = wayland-compositor
	source = git+https://github.com/cage-kiosk/cage.git#tag=v0.3.1?signed
	validpgpkeys = 13B6A35E9FD677D02CD68DBE37C445296EBC43B1
	validpgpkeys = 34FF9526CFEF0E97A340E2E40FDE7BE0E88F5E48
	sha512sums = 8ec49b256c82b0ad548e389b89ae251365c4df4a2fbf417f33ba68a2ecab50833e8c2dd58bed65b2b38a31318926e126c13d20ff081c11c63d2b50bc1072e88b

pkgname = cage
	depends = glibc
	depends = wayland
	depends = wlroots0.20
	depends = libwlroots-0.20.so
	depends = libxkbcommon.so
