pkgbase = feeluown
	pkgdesc = FeelUOwn Music Player
	pkgver = 4.1.1
	pkgrel = 1
	url = https://github.com/feeluown/FeelUOwn
	arch = any
	groups = feeluown-full
	license = GPL3
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-cov
	checkdepends = python-pycryptodome
	makedepends = python-setuptools
	depends = python-qasync
	depends = python-pyqt5
	depends = mpv
	depends = python-opengl
	depends = python-janus
	depends = python-requests
	depends = python-tomlkit
	depends = python-packaging
	depends = python-pydantic
	depends = python-mutagen
	depends = qt5-svg
	depends = xdg-user-dirs
	optdepends = python-secretstorage: browser cookie extraction support
	optdepends = python-pycryptodome: browser cookie extraction support
	optdepends = dbus-python: mpris2 server support
	optdepends = python-sanic: webserver support
	optdepends = python-json-rpc: webserver support
	optdepends = python-websockets: webserver support
	optdepends = feeluown-netease
	optdepends = feeluown-qqmusic
	optdepends = feeluown-ytmusic
	optdepends = feeluown-bilibili
	provides = feeluown-local
	conflicts = feeluown-local
	replaces = feeluown-local
	source = https://pypi.io/packages/source/f/feeluown/feeluown-4.1.1.tar.gz
	source = feeluown.desktop
	sha512sums = fc8a0b4ec966eb1b8d93323e2c5e2e51b2622e7b41815cbebe4270ae16d91d7c164c05245e0061c1c3fb70259526b14267e6ee95a002244792306c40e94aa44a
	sha512sums = 48882f7469c22e5db332663bc1aa8b398b0a10a0c929d4d7e3d7b8b91205d7d3070c5fa295cb9a14f8c352bff57978bfaad167343e0ddc51c92417eda07c8087

pkgname = feeluown
