pkgbase = dtkcommon
	pkgdesc = DTK common files
	pkgver = 5.6.27
	pkgrel = 1
	url = https://github.com/linuxdeepin/dtkcommon
	arch = any
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	depends = dconf
	source = git+https://github.com/linuxdeepin/dtkcommon.git#tag=5.6.27
	sha512sums = f964a0287bb52973f01e1cd25e8a19712d74cb4e85450a25cc2b84d9ad17daccdf766bbd5f96c49fab99b9c6acf862091ef6213f31b3373c0ed46f7e1dd5b86e

pkgname = dtkcommon
