pkgbase = hypridle
	pkgdesc = hyprland’s idle daemon
	pkgver = 0.1.6
	pkgrel = 3
	url = https://github.com/hyprwm/hypridle
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = hyprland-protocols
	depends = gcc-libs
	depends = glibc
	depends = hyprlang
	depends = libhyprlang.so
	depends = hyprwayland-scanner
	depends = sdbus-cpp
	depends = libsdbus-c++.so
	depends = wayland
	depends = libwayland-client.so
	depends = wayland-protocols
	source = https://github.com/hyprwm/hypridle/archive/v0.1.6/hypridle-0.1.6.tar.gz
	sha256sums = ea4faf92e7ef303a538551e2b0ea67a557b2d711574993a5a3fea3b27667dc63

pkgname = hypridle
