pkgbase = xan
	pkgdesc = The CSV magician
	pkgver = 0.54.0
	pkgrel = 1
	url = https://github.com/medialab/xan
	arch = x86_64
	license = Unlicense
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = xan-0.54.0.tar.gz::https://github.com/medialab/xan/archive/0.54.0.tar.gz
	sha256sums = 15b024631f72f789bfe22694a8a1a09a6411a6ce31bac0fc35f2e4db0d4d6362

pkgname = xan
