pkgbase = haskell-lsp
	pkgdesc = Haskell library for the Microsoft Language Server Protocol
	pkgver = 2.2.0.0
	pkgrel = 3
	url = https://github.com/haskell/lsp
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-async
	depends = haskell-attoparsec
	depends = haskell-co-log-core
	depends = haskell-data-default
	depends = haskell-hashable
	depends = haskell-lens
	depends = haskell-lens-aeson
	depends = haskell-lsp-types
	depends = haskell-prettyprinter
	depends = haskell-random
	depends = haskell-row-types
	depends = haskell-sorted-list
	depends = haskell-temporary
	depends = haskell-text-rope
	depends = haskell-unliftio-core
	depends = haskell-unordered-containers
	depends = haskell-uuid
	depends = haskell-unliftio
	source = https://hackage.haskell.org/packages/archive/lsp/2.2.0.0/lsp-2.2.0.0.tar.gz
	sha512sums = ce29342a0db433b7dd73dc057b016ec45f6e4f21a3b16c023c5ced68651d8469d2cf853854ff447c3650efa3d6febce3d3ad1d4de42e65fd697e82980fd3a6f5

pkgname = haskell-lsp
