pkgbase = pantheon-code
	pkgdesc = The Pantheon Text Editor
	pkgver = 8.4.0
	pkgrel = 1
	url = https://github.com/elementary/code
	arch = x86_64
	groups = pantheon
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtkspell3
	makedepends = libsoup3
	makedepends = meson
	depends = editorconfig-core-c
	depends = dconf
	depends = fontconfig
	depends = glib2
	depends = gtk3
	depends = gtksourceview4
	depends = libgee
	depends = libgit2-glib
	depends = libgranite.so
	depends = libhandy-1.so
	depends = libpeas-2.so
	depends = pango
	depends = polkit
	depends = vala
	depends = vte3
	optdepends = gtkspell3: Spell Check plugin
	optdepends = libsoup3: Pastebin plugin
	source = pantheon-code::git+https://github.com/elementary/code.git#tag=8.4.0
	b2sums = 3a0a45a5cc688334e22a7c3130b924e2b8d5be66597d1f7f7930696f95663a8268192778f4ea89501424c3a64f9806e70f75022e7e9ffc5389f4e3c449c9c5f7

pkgname = pantheon-code
