pkgbase = gnome-shell-extension-arc-menu
	pkgdesc = Application menu extension for GNOME Shell
	pkgver = 68.0
	pkgrel = 1
	url = https://gitlab.com/arcmenu/ArcMenu
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = gnome-menus
	depends = gnome-shell
	source = git+https://gitlab.com/arcmenu/ArcMenu.git#tag=v68.0
	b2sums = 5988d811851c5f0f87b962c03e30ead62f0e41911db05e574a9d8b38757cd73c6db23dcf6379abeeee3c712bf4477126891c4b189cfbccad5bf12766ee245309

pkgname = gnome-shell-extension-arc-menu
