pkgbase = dprint
	pkgdesc = Pluggable and configurable code formatting platform
	pkgver = 0.56.0
	pkgrel = 1
	url = https://github.com/dprint/dprint
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = bzip2
	depends = xz
	depends = libgcc
	depends = glibc
	depends = zstd
	options = !lto
	source = git+https://github.com/dprint/dprint#tag=0.56.0
	sha256sums = 784a9dfdbe3d6cc4d145845a03c73eb0553c1486ab58b18f09083b384961f6d2

pkgname = dprint
