pkgbase = dprint
	pkgdesc = Pluggable and configurable code formatting platform
	pkgver = 0.54.0
	pkgrel = 2
	url = https://github.com/dprint/dprint
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = bzip2
	depends = xz
	depends = libgcc
	depends = glibc
	options = !lto
	source = git+https://github.com/dprint/dprint#tag=0.54.0
	sha256sums = 066ad384489c2b8adb0252fa22a662f2e11fd1859a580854674f9d70a2a8ed91

pkgname = dprint
