pkgbase = schemacrawler
	pkgdesc = Free database schema discovery and comprehension tool
	pkgver = 17.2.8
	pkgrel = 1
	url = https://www.schemacrawler.com
	arch = any
	license = GPL-3.0-only
	makedepends = maven
	makedepends = java-environment=17
	makedepends = unzip
	depends = java-runtime
	depends = graphviz
	source = schemacrawler-17.2.8.tar.gz::https://github.com/schemacrawler/SchemaCrawler/archive/refs/tags/v17.2.8.tar.gz
	sha512sums = 355363f6aa9413ec2ea2f5c34d90a07ad68cf20b9b6f91bfcba205d6ebe5c191cdcc9d8f9af06aa119e046f015479527173b5ede6381bde025d453631a7d2dc7

pkgname = schemacrawler
