pkgbase = schemacrawler
	pkgdesc = Free database schema discovery and comprehension tool
	pkgver = 17.10.2
	pkgrel = 1
	url = https://www.schemacrawler.com
	arch = any
	license = GPL-3.0-only
	makedepends = maven
	makedepends = java-environment=17
	makedepends = unzip
	depends = java-runtime
	depends = graphviz
	source = schemacrawler-17.10.2.tar.gz::https://github.com/schemacrawler/SchemaCrawler/archive/refs/tags/v17.10.2.tar.gz
	sha512sums = 31026141e3bd86d845f1eab87d74c9ad9e8cb2e26a87c8f7d1928642aac1b73ca740d88d07bd9b0707b35b3c26e4edd067bfb5a1cb950b136f071d8847c9be01

pkgname = schemacrawler
