pkgbase = python-opentelemetry-semantic-conventions
	pkgdesc = OpenTelemetry Semantic Conventions
	pkgver = 1.42.1
	pkgrel = 1
	url = https://github.com/open-telemetry/opentelemetry-python/tree/main/opentelemetry-semantic-conventions
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-opentelemetry-api
	depends = python-typing_extensions
	source = git+https://github.com/open-telemetry/opentelemetry-python.git#tag=v1.42.1
	sha256sums = a74a575e92abd02ce32540d3bd31fb590502d3c04f0f3a8ffe97ee9c4655ad3b

pkgname = python-opentelemetry-semantic-conventions
