pkgbase = python-conway-polynomials
	pkgdesc = Python interface to Frank Lübeck's Conway polynomial database
	pkgver = 0.8
	pkgrel = 1
	url = https://github.com/pikepdf/pikepdf
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/sagemath/conway-polynomials/archive/0.8/python-conway-polynomials-0.8.tar.gz
	sha256sums = c23e025c07650ed991391171453d75c144737814db5eb611483fabdd0165940f

pkgname = python-conway-polynomials
