pkgbase = nextcloud-app-mail
	pkgdesc = An email app for NextCloud
	pkgver = 5.6.8
	pkgrel = 1
	url = https://github.com/nextcloud/mail
	arch = any
	groups = nextcloud-apps
	license = AGPL-3.0-or-later
	makedepends = nextcloud
	makedepends = yq
	optdepends = kitinerary: for kitinerary-extractor
	options = !strip
	source = mail-5.6.8.tar.gz::https://github.com/nextcloud-releases/mail/releases/download/v5.6.8/mail-v5.6.8.tar.gz
	sha512sums = 09645c42e1914e35a0a4b8a98fe89e4fe59e614d8aeb93d143bb99a0c30506baff250bfcd77b832038d955f7a4d1078edf0cedab036eaba62fa5e596a98386fb
	b2sums = 7a80b5352be55a0628d4db153db153e115cf15c7d13fd7b7c9fdfb08ca3c05e608ac5911b8023c4f84a9c31e48660c9f3622d6233de1e56c216d4402880b4b0d

pkgname = nextcloud-app-mail
