pkgbase = nextcloud-app-mail
	pkgdesc = An email app for NextCloud
	pkgver = 5.12.3
	pkgrel = 1
	url = https://github.com/nextcloud/mail
	arch = any
	groups = nextcloud-apps
	license = AGPL-3.0-or-later
	makedepends = nextcloud
	makedepends = yq
	optdepends = kitinerary: for kitinerary-extractor
	options = !strip
	source = mail-5.12.3.tar.gz::https://github.com/nextcloud-releases/mail/releases/download/v5.12.3/mail-v5.12.3.tar.gz
	sha512sums = b29dcb318967f7e3b77e9c7509661b8759c38eee024cf311db505eae8f6c9a3c81adc8a6e772734b81627ec20b0f042ea8739ab65507341ba988e4369a6acf81
	b2sums = 05b5067ecd08e901ff0eff8dc87b31fd288f91ea3bdde128fd7afdf0486cf3589045a131249963dbb4e90d33804d249b7e6ec074575fa2f7a62c1e6ab5e68a7a

pkgname = nextcloud-app-mail
