pkgbase = broot
	pkgdesc = Fuzzy Search + tree + cd
	pkgver = 1.50.0
	pkgrel = 1
	url = https://github.com/Canop/broot
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	depends = zlib
	depends = libgit2
	depends = libxcb
	source = https://github.com/Canop/broot/archive/v1.50.0/broot-v1.50.0.tar.gz
	sha256sums = 096629487fbbca428ae8e59597e6af2eb41ef23c472aeba2c289b06105a1a924

pkgname = broot
