pkgbase = haskell-deepseq-generics
	pkgdesc = GHC.Generics-based Control.DeepSeq.rnf implementation
	pkgver = 0.2.0.1
	pkgrel = 15
	url = https://github.com/haskell-hvr/deepseq-generics
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	makedepends = haskell-hunit
	makedepends = haskell-test-framework
	makedepends = haskell-test-framework-hunit
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/deepseq-generics/0.2.0.1/deepseq-generics-0.2.0.1.tar.gz
	sha512sums = 220f7f6bf14ac10ab8900000a76f4b5b3cdf91062dd79f1ca67a33703d5d2177119342418be7eaba80669c7b71ea701b5f1085ac507aa88c79384ef167135b88

pkgname = haskell-deepseq-generics
