pkgbase = converseen
	pkgdesc = Batch image converter and resizer
	pkgver = 0.12.2.2
	pkgrel = 1
	url = http://converseen.fasterland.net/
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt6-tools
	depends = hicolor-icon-theme
	depends = imagemagick
	depends = qt6-base
	source = https://downloads.sourceforge.net/converseen/converseen-0.12.2.2.tar.bz2
	sha256sums = 031d210db26a32c211aa43f27411536ddfcdac05d413559757ed2b466aa42558

pkgname = converseen
