pkgbase = pychess
	pkgdesc = Chess client
	pkgver = 1.0.5
	pkgrel = 1
	url = https://pychess.github.io
	arch = any
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gst-plugins-base
	depends = gtksourceview3
	depends = python-cairo
	depends = python-gobject
	depends = python-ptyprocess
	depends = python-psutil
	depends = python-sqlalchemy
	depends = python-pexpect
	depends = python-websockets
	conflicts = spike
	source = https://github.com/pychess/pychess/releases/download/1.0.5/pychess-1.0.5.tar.gz
	sha256sums = 2a5d90747d2d07e9a5a48b42c0e81e79677803f493c8bb8fc48388bd011da9b6

pkgname = pychess
