pkgbase = onednn
	pkgdesc = oneAPI Deep Neural Network Library (oneDNN)
	pkgver = 3.3.1
	pkgrel = 1
	url = https://github.com/oneapi-src/oneDNN
	arch = x86_64
	license = APACHE
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	provides = intel-dnnl
	provides = mkl-dnn
	replaces = intel-dnnl
	replaces = mkl-dnn
	source = onednn-3.3.1.tar.gz::https://github.com/oneapi-src/oneDNN/archive/v3.3.1.tar.gz
	sha256sums = e0b7a9452162e854cf08b4e90bcd1b382b9903ace6a61503a872573880d24c3f

pkgname = onednn
