pkgbase = klevernotes
	pkgdesc = Note-taking and management application using markdown
	pkgver = 1.2.5
	pkgrel = 3
	url = https://apps.kde.org/klevernotes/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kirigami
	depends = kirigami-addons
	depends = kitemmodels
	depends = qqc2-desktop-style
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-webchannel
	depends = qt6-webengine
	source = git+https://invent.kde.org/office/klevernotes.git?signed#tag=v1.2.5
	validpgpkeys = 311DA4D94B93A7AEA0496DAF5F812C367AC0A802
	b2sums = cd7cc579553735981235fbca5b8e98682e96cbd4975d2921de73c9c2c9743ea06a0f7ff1b997c40021964dc7fff5e5486fd2ba434098912c10461aeb92b5238e

pkgname = klevernotes
