pkgbase = schismtracker
	pkgdesc = An old-school sample-based music composition tool
	pkgver = 20240614
	pkgrel = 1
	url = https://schismtracker.org
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = python
	depends = flac
	depends = libx11
	depends = libxv
	depends = sdl2
	depends = hicolor-icon-theme
	source = schismtracker::git+https://github.com/schismtracker/schismtracker#tag=20240614
	sha512sums = 3fc8a2ff293090c19ec1f48dad7aee1b221220f1eaedd3fea7a14015457e7b8898cdb4e6d3eaefca7f5a8cb471591c4b396a7abacf360e9a4b74b00550e67c68
	b2sums = b22be6e288702bb255fc80314c5caff8d1bb0f755a13249ba4653f59446a2e2e29f9b420c023c126f51a058e33a552c7be411c09aca1cb8adf965a687eb44bcc

pkgname = schismtracker
