pkgbase = pageedit
	pkgdesc = Simple Single Page XHTML Visual Editor, split from Sigil’s BookView
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/Sigil-Ebook/PageEdit
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt6-tools
	depends = qt6-5compat
	depends = qt6-svg
	depends = qt6-webengine
	source = https://github.com/Sigil-Ebook/PageEdit/archive/2.1.0/PageEdit-2.1.0.tar.gz
	source = https://github.com/Sigil-Ebook/PageEdit/releases/download/2.1.0/PageEdit-2.1.0.tar.gz.sig
	validpgpkeys = B5A56206AB0FBC1A24EFAB8AA166D29A8FCDAC63
	sha256sums = 1fc56a6b97c62cdf726476d3925b64ce5b3ea68d54cf58d656fd5de8ebfc412f
	sha256sums = SKIP

pkgname = pageedit
