pkgbase = yass
	pkgdesc = Yet Another Scrolling Scope
	pkgver = 0.1.0
	pkgrel = 3
	url = https://kokkinizita.linuxaudio.org/linuxaudio/
	arch = x86_64
	groups = pro-audio
	license = GPL2
	makedepends = gendesk
	depends = clthreads
	depends = clxclient
	depends = jack
	backup = etc/yass.conf
	source = https://kokkinizita.linuxaudio.org/linuxaudio/downloads/yass-0.1.0.tar.bz2
	sha512sums = c8107368ea014c0f078cd73df325aa68e15af2ce8797e02dbcc4cff4b03b753f9dd7301d9ef675960021a94ca47354cc93cae3f0e8abbbece54d9333ee4f77a2

pkgname = yass
