pkgbase = npm-check-updates
	pkgdesc = Find newer versions of dependencies than what your package.json or bower.json allows
	pkgver = 16.13.3
	pkgrel = 1
	url = https://github.com/tjunnone/npm-check-updates
	arch = any
	license = Apache
	makedepends = git
	depends = nodejs-nopt
	depends = npm
	depends = semver
	noextract = npm-check-updates-16.13.3.tgz
	source = https://registry.npmjs.org/npm-check-updates/-/npm-check-updates-16.13.3.tgz
	sha512sums = 977150b66f99b43c2ab4adabdbbbc2b8d76d9e80ec5f393c0f659ccefac0272d9b18f649bd19ae51afd0f46bfe01b655d081d23490f6a07b50a947aa411844b3

pkgname = npm-check-updates
