pkgbase = libretro-scummvm
	pkgdesc = ScummVM core
	pkgver = 146706
	pkgrel = 1
	url = https://github.com/libretro/scummvm
	arch = x86_64
	groups = libretro
	license = GPL
	makedepends = git
	depends = libretro-core-info
	source = libretro-scummvm::git+https://github.com/libretro/scummvm.git#commit=6cf2ea54ea66a2bcc6c1b0842348fed9b3ccd4b9
	sha256sums = SKIP

pkgname = libretro-scummvm
