pkgbase = libretro-scummvm
	pkgdesc = ScummVM core
	pkgver = 20260904.221128.gd79f8bb292c8
	pkgrel = 1
	url = https://github.com/libretro/scummvm
	arch = x86_64
	groups = libretro
	license = GPL-3.0-only
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libretro-core-info
	depends = libstdc++
	options = !lto
	source = libretro-scummvm::git+https://github.com/libretro/scummvm.git#commit=d79f8bb292c8
	b2sums = 8bbfcb68fca3f0b97a554a387c72ab6cbd5fe02be6de02b6a2151d394509a7fe422051b7ff1c2a9d61cad1600fa0a6a4ef619930e560b67cf342dc38e0cb5c4d

pkgname = libretro-scummvm
