pkgbase = libretro-scummvm
	pkgdesc = ScummVM core
	pkgver = 143193
	pkgrel = 1
	url = https://github.com/libretro/scummvm
	arch = x86_64
	groups = libretro
	license = GPL
	makedepends = git
	depends = libretro-core-info
	source = libretro-scummvm::git+https://github.com/libretro/scummvm.git#commit=0c3e3aaebcaf23de7175a9df5e5c0e13ad2551fd
	sha256sums = SKIP

pkgname = libretro-scummvm
