pkgbase = cargo-update
	pkgdesc = A cargo subcommand for checking and applying updates to installed executables
	pkgver = 16.2.1
	pkgrel = 1
	url = https://github.com/nabijaczleweli/cargo-update
	arch = x86_64
	license = MIT
	depends = cargo
	depends = gcc-libs
	depends = zlib
	depends = openssl
	options = !lto
	source = cargo-update-16.2.1.tar.gz::https://github.com/nabijaczleweli/cargo-update/archive/v16.2.1.tar.gz
	source = Cargo.lock
	sha256sums = 2436675baff66da3cbcab1126427f7a9d52375bc77041000d047a805cb24b244
	sha256sums = 7d6f519fef0ec829e17afcedb34997fad29bee5691b0f7b360a30a014fd8022e

pkgname = cargo-update
