pkgbase = auto-multiple-choice
	pkgdesc = AMC is a piece of software that can help you creating and managing multiple choice questionnaires (MCQ), with automated marking. Answers sheets are formatted with LaTeX.
	pkgver = 1.7.0
	pkgrel = 2
	url = https://www.auto-multiple-choice.net/
	arch = x86_64
	license = GPL2
	makedepends = netpbm
	makedepends = xorgproto
	makedepends = libxslt
	depends = perl
	depends = perl-gtk3
	depends = perl-glib-object-introspection
	depends = perl-locale-gettext
	depends = perl-xml-writer
	depends = perl-xml-simple
	depends = perl-dbd-sqlite
	depends = perl-file-mimeinfo
	depends = perl-text-csv
	depends = perl-dbi
	depends = perl-archive-zip
	depends = perl-clone
	depends = perl-locale-codes
	depends = perl-hash-merge
	depends = ttf-linux-libertine
	depends = texlive-latex
	depends = opencv
	depends = poppler
	depends = poppler-glib
	optdepends = perl-email-sender: allow email sending (1 of 3)
	optdepends = perl-module-pluggable: allow email sending (2 of 3)
	optdepends = perl-email-mime: allow email sending (3 of 3)
	source = https://download.auto-multiple-choice.net/auto-multiple-choice_1.7.0_dist.tar.gz
	source = https://download.auto-multiple-choice.net/auto-multiple-choice_1.7.0_dist.tar.gz.sig
	validpgpkeys = 1F0FAB7CC69ACAD8374DB119D3F94059A398971E
	sha256sums = dfb916aa076f668a6f35253a2c0fc5998db07d2273deb45295a405d8749b7660
	sha256sums = SKIP

pkgname = auto-multiple-choice
