pkgbase = haskell-crypto-token
	pkgdesc = Crypto tokens
	pkgver = 0.0.1
	pkgrel = 35
	url = https://github.com/kazu-yamamoto/crypto-token
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-cryptonite
	depends = haskell-memory
	source = https://hackage.haskell.org/packages/archive/crypto-token/0.0.1/crypto-token-0.0.1.tar.gz
	sha256sums = 269afee5240308f02c6dac6924d52245ed392e305d6529b3c26998daa11b56b6

pkgname = haskell-crypto-token
