pkgbase = evolution-ews
	pkgdesc = MS Exchange integration through Exchange Web Services
	pkgver = 3.56.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/evolution/-/wikis/home
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = intltool
	makedepends = ninja
	makedepends = python
	makedepends = systemd
	depends = evolution
	depends = evolution-data-server
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = json-glib
	depends = libical
	depends = libmspack
	depends = libsoup3
	depends = libxml2
	depends = pango
	source = git+https://gitlab.gnome.org/GNOME/evolution-ews.git#tag=3.56.2
	b2sums = c09c93af2e46570c205f046acfba8dcded5fe4ef4ab4e519e5e4ea7098fb3f11684a62a241042797c9699b44a5c726827ae2e59e6f958f9cf3c1dc8bf8852145

pkgname = evolution-ews
