pkgbase = pantheon-settings-daemon
	pkgdesc = Default settings for Pantheon
	pkgver = 8.1.1
	pkgrel = 1
	url = https://github.com/elementary/settings-daemon.git
	arch = x86_64
	groups = pantheon
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = git
	makedepends = meson
	makedepends = vala
	depends = accountsservice
	depends = dbus
	depends = fwupd
	depends = gdk-pixbuf2
	depends = geoclue
	depends = glib2
	depends = glibc
	depends = granite
	depends = gtk3
	depends = libgexiv2
	depends = libpackagekit-glib2.so
	source = pantheon-settings-daemon::git+https://github.com/elementary/settings-daemon.git#tag=b70a1f353d7827a8950b648535dd6920292223ae
	b2sums = 1a72ab1821c7872523d3ad26aba5d4b3c8ed1e474c9dfe56449d4103151f1c3f3d80ba1b1e2e4f7ec237770c2f1bda865bf39526fd0b687e6d4fbedd656960e0

pkgname = pantheon-settings-daemon
