pkgbase = release-plz
	pkgdesc = Release Rust packages without using the command line
	pkgver = 0.3.147
	pkgrel = 1
	url = https://github.com/MarcoIeni/release-plz
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = curl
	depends = libgit2
	depends = openssl
	optdepends = cargo-semver-checks: check for API breaking changes
	options = !lto
	source = release-plz-0.3.147::git+https://github.com/MarcoIeni/release-plz.git#tag=release-plz-v0.3.147
	sha512sums = ad7526970f51c982cb9870464584cc8496840cf87a5124c75ee5f66f9776fb59edc9e48d29ea6b0aacc0d49d3934c427b912b0781fa5fa458d21f6616f79bf85

pkgname = release-plz
	depends = gcc-libs
	depends = curl
	depends = libgit2
	depends = openssl
	depends = libgit2.so
