pkgbase = release-plz
	pkgdesc = Release Rust packages without using the command line
	pkgver = 0.3.167
	pkgrel = 1
	url = https://github.com/MarcoIeni/release-plz
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	depends = curl
	depends = libcurl.so
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libgit2
	depends = libgit2.so
	depends = openssl
	depends = libssl.so
	depends = sqlite
	depends = libsqlite3.so
	depends = zstd
	depends = libzstd.so
	optdepends = cargo-semver-checks: check for API breaking changes
	source = git+https://github.com/MarcoIeni/release-plz.git#tag=release-plz-v0.3.167
	sha256sums = aa20a808bc5234ff2b27e378f4c40464db2683c7294afc498b9045751b54b2ee

pkgname = release-plz
