pkgbase = python-pycrdt-websocket
	pkgdesc = CRDTs based on Yrs
	pkgver = 0.15.5
	pkgrel = 1
	url = https://github.com/jupyter-server/pycrdt-websocket
	arch = any
	license = MIT
	checkdepends = hypercorn
	checkdepends = python-httpx-ws
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-trio
	checkdepends = python-websockets
	checkdepends = uvicorn
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-anyio
	depends = python-pycrdt
	depends = python-sqlite-anyio
	source = git+https://github.com/jupyter-server/pycrdt-websocket#tag=v0.15.5
	sha256sums = c745eebad84edc39284109c429e8fafa1ee3deb8cda9d022f0521bf38060a731

pkgname = python-pycrdt-websocket
