pkgbase = flowblade
	pkgdesc = Multitrack non-linear video editor
	pkgver = 2.14
	pkgrel = 2
	url = https://jliljebl.github.io/flowblade/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = dbus-python
	depends = ffmpeg
	depends = frei0r-plugins
	depends = gmic
	depends = gtk3
	depends = mlt
	depends = python-cairo
	depends = python-gobject
	depends = python-numpy
	depends = python-pillow
	depends = sdl_image
	depends = swh-plugins
	source = https://github.com/jliljebl/flowblade/archive/v2.14/flowblade-2.14.tar.gz
	sha256sums = 23a343aabeba3de524e802cdf4fb7caeb0976adc8849d2527b4ee31495d26388

pkgname = flowblade
