pkgbase = fluidd
	pkgdesc = A free and open-source Klipper web interface for managing your 3d printer
	pkgver = 1.37.0
	pkgrel = 1
	url = https://docs.fluidd.xyz/
	arch = any
	license = GPL-3.0-only
	makedepends = git
	makedepends = nodejs-lts-iron
	makedepends = npm
	optdepends = ustreamer: webcam streaming support
	source = git+https://github.com/fluidd-core/fluidd.git#tag=531fcb929426feeab13db0244ed76d58cfa8e89a
	validpgpkeys = 4C717BDC0E452F5B13490409AB4C64C58BA9C3ED
	b2sums = 1d911efc040c8f501e9d5697a386df30f6d5329853413142fb326556c3bd6f9be4dcd68ebd6b2a11acbb35583a07f587a60c38dec7b061949a677c9f2d2b4b94

pkgname = fluidd
