pkgbase = fluidd
	pkgdesc = A free and open-source Klipper web interface for managing your 3d printer
	pkgver = 1.25.1
	pkgrel = 1
	url = https://docs.fluidd.xyz/
	arch = any
	license = GPL3
	makedepends = git
	makedepends = nodejs-lts-gallium
	makedepends = npm
	optdepends = ustreamer: webcam streaming support
	source = git+https://github.com/fluidd-core/fluidd.git#tag=513523ff2b0a5b0ed50ec8e51ce6038c0cce6934
	validpgpkeys = 4C717BDC0E452F5B13490409AB4C64C58BA9C3ED
	b2sums = SKIP

pkgname = fluidd
