pkgbase = deepin-network-core
	pkgdesc = DDE network library and plugins
	pkgver = 2.0.18
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-network-core
	arch = x86_64
	groups = deepin
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = deepin-session-shell
	makedepends = gtest
	makedepends = ninja
	makedepends = qt5-tools
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = deepin-control-center
	depends = glibc
	depends = gcc-libs
	depends = gsettings-qt
	depends = networkmanager-qt5
	depends = qt5-base
	source = git+https://github.com/linuxdeepin/dde-network-core.git#tag=2.0.18
	sha512sums = 565f57f2ea1c3f4b392a526596eadd16337ee6bf8b2a285274afd530c18bf759b0b71bb20829aa1889c58d2cf796c67645aaa080161c052bd543bad0742d35ef

pkgname = deepin-network-core
