pkgbase = deepin-network-core
	pkgdesc = DDE network library and plugins
	pkgver = 2.0.89
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-network-core
	arch = x86_64
	groups = deepin
	license = CC-BY-4.0
	license = CC0-1.0
	license = GPL-3.0-or-later
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	makedepends = ninja
	makedepends = qt6-tools
	depends = deepin-control-center
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = dtk6core
	depends = dtk6declarative
	depends = dtk6log
	depends = dtk6widget
	depends = qt6-base
	depends = qt6-declarative
	depends = networkmanager-qt
	depends = systemd-libs
	source = git+https://github.com/linuxdeepin/dde-network-core.git#tag=2.0.89
	sha512sums = 7aea387c1a846276bfc5b2a4db624cb598ba4f155f7dfc714f1c39f69b1476cd73c3a2d70495b823711316983b4ff026b7012474cb54064af3a81a6a1d876ee3

pkgname = deepin-network-core
