pkgbase = repro-env
	pkgdesc = Dependency lockfiles for reproducible build environments
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/kpcyrd/repro-env
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = scdoc
	depends = podman
	depends = catatonit
	options = !lto
	source = https://github.com/kpcyrd/repro-env/archive/v0.3.3/repro-env-0.3.3.tar.gz
	source = https://github.com/kpcyrd/repro-env/releases/download/v0.3.3/repro-env-0.3.3.tar.gz.asc
	validpgpkeys = 64B13F7117D6E07D661BBCE0FE763A64F5E54FD6
	sha256sums = 43e7b4bd711152610a068c7399e993a9fc6d706130044cf1745d90aaacdbb960
	sha256sums = SKIP
	b2sums = 2e7371fb54b75b1718bdc8452bafbf795ab1b7712d55a566d82f4de9ef1e6ab4790bc3006b54ef37eaf911ea5b79f24b2635091f2717937f56970a63462480d0
	b2sums = SKIP

pkgname = repro-env
