pkgbase = mise
	pkgdesc = The front-end to your dev env
	pkgver = 2025.3.2
	pkgrel = 1
	url = https://github.com/jdx/mise
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = openssl
	optdepends = bash-completion: bash completion support
	optdepends = usage: completion support
	conflicts = rtx
	replaces = rtx
	options = !emptydirs
	options = !lto
	source = https://github.com/jdx/mise/archive/v2025.3.2/mise-2025.3.2.tar.gz
	sha512sums = 2e7f0b666eb3b27bbd0cdf62bcf7a38317d58b233a07635178adb6720bd7b2cc2edf7a1888667ae2146bea480ffb08b0ccbf01dbdbeae4c25beb6e7b41aa3764
	b2sums = 6b5e3da6aa6a8144d53043b36f89d144abdde13d190c82955a15420fa80d8a64834819be7904094f07efb3c858398d3e7cf43ac1e9b94e24734f35b465e16479

pkgname = mise
