pkgbase = apko
	pkgdesc = Declarative APK-based container building tool with support for sigstore signatures
	pkgver = 0.19.9
	pkgrel = 1
	url = https://github.com/chainguard-dev/apko
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = alpine-keyring
	depends = apk-tools
	depends = glibc
	source = https://github.com/chainguard-dev/apko/archive/v0.19.9/apko-0.19.9.tar.gz
	sha256sums = a891956998fa0070ca93a8b7abf2301ec500c2a4eaa3102a0d608f55c7b067c2
	b2sums = c1eb8f3f54fc3ea415a434ef5a7fcb99fa545ff003cc8d088fd925076898a0c939d074038f2e0b9dbafc39d2c8722f4af4dbc911b5486048af2f3fe2dbd27478

pkgname = apko
