pkgbase = deepin-tray-loader
	pkgdesc = A set of tray plugins that integrated into task bar and the tool loader which can load the plugins
	pkgver = 1.0.5
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-tray-loader
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = qt5-tools
	depends = dconf
	depends = deepin-qt-dbus-factory
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = gcc-libs
	depends = glibc
	depends = gsettings-qt
	depends = libdbusmenu-qt5
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxtst
	depends = networkmanager-qt5
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-wayland
	depends = wayland
	depends = xcb-util-image
	depends = xcb-util-wm
	source = git+https://github.com/linuxdeepin/dde-tray-loader.git#tag=1.0.5
	sha512sums = d9f9f917248284c6697afed4722af46ef580e01701824d77e7a40a0f90cfe816fc9aaebeea6bf62141a02ef6deed0cad3a24a4012c03fa6e5587626a1a79cb1f

pkgname = deepin-tray-loader
