pkgbase = haskell-generic-data
	pkgdesc = Deriving instances with GHC.Generics and related utilities
	pkgver = 1.1.0.0
	pkgrel = 58
	url = https://github.com/Lysxia/generic-data
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = haskell-generic-lens
	makedepends = haskell-glob
	makedepends = haskell-one-liner
	makedepends = haskell-show-combinators
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	depends = ghc-libs
	depends = haskell-ap-normalize
	depends = haskell-base-orphans
	depends = haskell-contravariant
	depends = haskell-show-combinators
	source = https://hackage.haskell.org/packages/archive/generic-data/1.1.0.0/generic-data-1.1.0.0.tar.gz
	sha512sums = ec0cd11a4cd02f2ee0b88708f5696ef5dedcb4ee91be36d366500799370975c2ee53ae2e91e3a26cc13ba06b943f496bf071e42882ce04a9f7d2c39dc835a137

pkgname = haskell-generic-data
