pkgbase = deepin-qt5integration
	pkgdesc = Qt platform theme integration plugins for DDE
	pkgver = 5.7.4
	pkgrel = 1
	url = https://github.com/linuxdeepin/qt5integration
	arch = x86_64
	groups = deepin
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = xcb-util-renderutil
	makedepends = gtest
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = libqt5xdg
	depends = qt5-x11extras
	depends = qt5-base
	depends = libx11
	depends = glibc
	depends = gcc-libs
	source = git+https://github.com/linuxdeepin/qt5integration.git#tag=5.7.4
	sha512sums = 1e725b5c510cb0a6f0b01f12c74ca1f49302ccb0623751b99fbbc60712339c8e3773cf1584bb7bac1e3a8a4dfc23f65c57f15b1f20d36aba04580c946b5fe240

pkgname = deepin-qt5integration
