pkgbase = plfit
	pkgdesc = Fitting power-law distributions to empirical data
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/ntamas/plfit
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = git
	depends = glibc
	source = git+https://github.com/ntamas/plfit#tag=1.0.1
	sha256sums = 5aeed27b6adf131efe84f811ffc6aff3185919692231242d9cc3a3ea961b026b

pkgname = plfit
