pkgbase = zsh-autocomplete
	pkgdesc = Real-time type-ahead completion for Zsh
	pkgver = 25.03.19
	pkgrel = 1
	url = https://github.com/marlonrichert/zsh-autocomplete
	arch = any
	license = MIT
	checkdepends = clitest
	makedepends = git
	depends = zsh
	source = git+https://github.com/marlonrichert/zsh-autocomplete.git#tag=25.03.19
	b2sums = 8df7e2ace958637ef73198214c3197589f8ddb2e735986fec6954a3224f5644a56eb2ab750c29e971d35cb6e632d07ea2210df27f3acd9a3c3aaa2711f5c0f17

pkgname = zsh-autocomplete
