pkgbase = haskell-typed-process
	pkgdesc = Run external processes, with strong typing of streams
	pkgver = 0.2.12.0
	pkgrel = 4
	url = https://github.com/fpco/typed-process
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = haskell-base64-bytestring
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	makedepends = haskell-temporary
	depends = ghc-libs
	depends = haskell-async
	depends = haskell-unliftio-core
	source = https://hackage.haskell.org/packages/archive/typed-process/0.2.12.0/typed-process-0.2.12.0.tar.gz
	sha512sums = 92c47157e19be03ccd82db5553e3f53ba75d80177e9fa59104a2e723fecf19018253d859554d9e23dbe9120d557135bfad63a757ca3487aaf62038a8b1dc3fd9

pkgname = haskell-typed-process
