pkgbase = haskell-glib
	pkgdesc = Binding to the GLIB library for Gtk2Hs.
	pkgver = 0.13.10.0
	pkgrel = 22
	url = https://hackage.haskell.org/package/glib
	arch = x86_64
	license = LGPL2.1
	makedepends = ghc
	makedepends = haskell-gtk2hs-buildtools
	depends = ghc-libs
	depends = glib2
	depends = haskell-utf8-string
	provides = gtk2hs-glib
	conflicts = gtk2hs-glib
	replaces = gtk2hs-glib
	source = https://hackage.haskell.org/packages/archive/glib/0.13.10.0/glib-0.13.10.0.tar.gz
	sha512sums = 59f85b442140c12338b9fecb0f51cee5aba64793f2c9baef9b50490024f58b27f6d1a525d03cf7bbd37eae49d9a0bbd75861dfc21c95a6e24de4cc991559e402

pkgname = haskell-glib
