pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.11.6.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.11.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.11.6.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.11.6-hardened1/linux-hardened-v6.11.6-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.11.6-hardened1/linux-hardened-v6.11.6-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = c954f60197008f1e1f32a1e77293903cf3801d2543ec4bf521f5651eb7f133ce
	sha256sums = SKIP
	sha256sums = 2ee5a7768b9dffe74b52301f46e4c5638f96d85a95d7a0016a0c6e3b75cfad3c
	sha256sums = SKIP
	sha256sums = fa7886093dde2b20a7797e42de50d0d6fa8c792c3347d05d929cb425adbff352
	b2sums = 821eceaa7492122c724ea789a79aa99f61078f06c86fd6f76d08f640b47ea682f7441c47ed7b860ca39fd242b8797bb5bc311dc63dbb9c37bc15917eccafc255
	b2sums = SKIP
	b2sums = 5c0c29491bebcac03537409b666ad837a835fa0dfeb38f26a941b917b7752affb36bbe92912a80e4e93d3d67de39fb399bd29d6634d9d86555f3450b1d9006f9
	b2sums = SKIP
	b2sums = 5a81bcb0bf3ae950e06826bdc092fd6fe17f1d6dd89fbfbc846f628fe314fd5e00e3f6b0567ca34568636929744fb8a140abb6647bbc2a3c0f53cefa57ebf3be

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
