pkgbase = python-pywebview
	pkgdesc = Build GUI for your Python program with JavaScript, HTML, and CSS
	pkgver = 5.4
	pkgrel = 1
	url = https://github.com/r0x0r/pywebview
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = git
	depends = python
	depends = glib2
	depends = python-bottle
	depends = python-cryptography
	depends = python-proxy_tools
	depends = python-typing_extensions
	optdepends = pyside6: use with QtPy, PySide6
	optdepends = python-gobject: use with GTK
	optdepends = python-pygobject-stubs: use with GTK
	optdepends = python-pyqt5: use with Qt
	optdepends = python-pyqt5-webengine: use with Qt
	optdepends = python-qtpy: use with Qt
	optdepends = webkit2gtk-4.1: use with GTK
	source = git+https://github.com/r0x0r/pywebview.git#tag=5.4
	b2sums = b8dfc4b368aa6edaa35a7e5f4d50da2f88f372f2985bc9ec1ff28ee806fc0335457c910f4386c10c02a2dc3caf8d67cf421397d4288847cd22196384e4cd700d

pkgname = python-pywebview
