pkgbase = wordpress
	pkgdesc = Blog tool and publishing platform
	pkgver = 7.1
	pkgrel = 1
	url = https://wordpress.org/
	install = wordpress.install
	arch = any
	license = GPL-2.0-or-later
	depends = php-interpreter
	optdepends = apache: Web server
	optdepends = mariadb: Database server
	optdepends = nginx: Web server
	options = !debug
	options = emptydirs
	source = https://wordpress.org/wordpress-7.1.tar.gz
	sha256sums = 05a5f89138f632b7329f1202f2a0553c5f7fe4daf8e4b9ca7ebae9b9466b9e86
	b2sums = f93a610e90bf90cc3169a1f05bebc57c7930808e39e06f089d5a03d50f80666828f35a691a5d273a1d072da92d5d986e2daecb36e24f99154bb131a8343bfe3a

pkgname = wordpress
