pkgbase = python-qdarkstyle
	pkgdesc = Dark style sheet for QtWidgets application
	pkgver = 3.2.3
	pkgrel = 5
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
	arch = any
	license = MIT
	license = CCPL
	checkdepends = python-pyqt5
	checkdepends = python-pytest
	checkdepends = python-pytest-qt
	makedepends = python-setuptools
	depends = python-helpdev
	depends = python-qtpy
	source = https://github.com/ColinDuquesnoy/QDarkStyleSheet/archive/v.3.2.3/python-qdarkstyle-3.2.3.tar.gz
	sha256sums = 5c7412cbe2f348ac55284f9869736fb9918e78f00fcd929bfd40e6fd66237224

pkgname = python-qdarkstyle
