pkgbase = warzone2100
	pkgdesc = 3D realtime strategy game on a future Earth
	pkgver = 4.7.0
	pkgrel = 9
	url = https://wz2100.net
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = zip
	makedepends = unzip
	makedepends = git
	makedepends = asciidoc
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = basis-universal
	makedepends = shaderc
	depends = sdl3
	depends = libtheora
	depends = openal
	depends = libvorbis
	depends = physfs
	depends = fribidi
	depends = libsodium
	depends = freetype2
	depends = protobuf
	depends = opus
	depends = sqlite
	depends = libzip
	depends = harfbuzz
	depends = libpng
	depends = curl
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = zlib
	depends = libogg
	depends = miniupnpc
	source = warzone2100::git+https://github.com/Warzone2100/warzone2100.git#tag=4.7.0
	source = git+https://github.com/JuliaStrings/utf8proc.git
	source = git+https://github.com/g-truc/glm.git
	source = git+https://github.com/nemtrif/utfcpp.git
	source = git+https://github.com/past-due/launchinfo.git
	source = git+https://github.com/google/re2.git
	source = git+https://github.com/past-due/EmbeddedJSONSignature.git
	source = git+https://github.com/HowardHinnant/date.git
	source = git+https://github.com/Warzone2100/data-texpages.git
	source = git+https://github.com/Warzone2100/data-music-opus.git
	source = git+https://github.com/past-due/discord-rpc.git
	source = git+https://github.com/SRombauts/SQLiteCpp.git
	source = git+https://github.com/cameron314/readerwriterqueue.git
	source = git+https://github.com/fmtlib/fmt.git
	source = git+https://github.com/xiph/opusfile.git
	source = git+https://github.com/Warzone2100/quickjs-wz.git
	source = git+https://github.com/Warzone2100/data-fonts.git
	source = git+https://github.com/Warzone2100/maptools-cli.git
	source = git+https://github.com/BinomialLLC/basis_universal.git
	source = git+https://github.com/Warzone2100/data-terrain-classic.git
	source = git+https://github.com/Warzone2100/data-terrain-high.git
	source = git+https://github.com/Warzone2100/reclamation.git
	source = git+https://github.com/Warzone2100/fractured-kingdom.git
	source = git+https://github.com/paullouisageneau/libplum.git
	source = git+https://github.com/miniupnp/miniupnp.git
	source = git+https://github.com/TartanLlama/expected.git
	source = git+https://github.com/Warzone2100/GameNetworkingSockets.git
	source = git+https://github.com/past-due/innohelperscripts.git
	source = git+https://github.com/Warzone2100/win_installer_resources.git
	source = git+https://github.com/Warzone2100/blender-pie-addon.git
	sha512sums = 400cbdc60b2ad8e1be973d18f7acca23a6f0b9951de116f23a815de35a965185c0c6484c5af1d3d47552e13d4c2cf1d5973ea04563230a7c46a61b81fe4f9256
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	b2sums = 3e8e34b649f44fe14f06ce150a7045435ef9799104b3eb8d7ddb69579b655680f3fafa1ac796ad15aba5313e049740e10e64fd64f78febce6b46a4522aa7c50b
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = warzone2100
