pkgbase = open-policy-agent
	pkgdesc = Command-line utility and REPL for Open Policy Agent
	pkgver = 1.16.0
	pkgrel = 1
	url = https://github.com/open-policy-agent/opa
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	depends = glibc
	source = git+https://github.com/open-policy-agent/opa.git#tag=v1.16.0
	b2sums = 123d23aac4d0450b7b42f60b7c5a1b23a8e957b4e229279bf5ff499eaab6815bf2ac55d1caa4ae64623c330d9e949db1cce8903de3f6a02fb2131fd6dc4e7621

pkgname = open-policy-agent
