pkgbase = ruby-regexp_parser
	pkgdesc = A library for tokenizing, lexing, and parsing Ruby regular expressions
	pkgver = 2.11.0
	pkgrel = 1
	url = https://github.com/ammar/regexp_parser
	arch = any
	license = MIT
	checkdepends = ruby-benchmark-ips
	checkdepends = ruby-ice_nine
	checkdepends = ruby-leto
	checkdepends = ruby-regexp_property_values
	makedepends = git
	makedepends = ragel
	makedepends = ruby-bundler
	makedepends = ruby-rake
	makedepends = ruby-rspec
	depends = ruby
	options = !emptydirs
	source = git+https://github.com/ammar/regexp_parser.git#tag=v2.11.0
	sha256sums = 2e7f3f60d6d70428f844b363be71084da5be0e1295de71ad80f4a6d83aebe4d6

pkgname = ruby-regexp_parser
