pkgbase = sbctl
	pkgdesc = Secure Boot key manager
	pkgver = 0.15.4
	pkgrel = 1
	url = https://github.com/Foxboron/sbctl
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	depends = binutils
	depends = util-linux
	source = https://github.com/Foxboron/sbctl/releases/download/0.15.4/sbctl-0.15.4.tar.gz
	source = https://github.com/Foxboron/sbctl/releases/download/0.15.4/sbctl-0.15.4.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 0435097f79fc30c9b3567a50a8beb8d7d71fcea6121533b5da543ca64241cfff
	sha256sums = SKIP

pkgname = sbctl
