pkgbase = monolith
	pkgdesc = CLI to save web pages as single HTML files
	pkgver = 2.8.3
	pkgrel = 1
	url = https://github.com/Y2Z/monolith
	arch = x86_64
	license = CC0-1.0
	makedepends = cargo
	depends = openssl
	depends = gcc-libs
	source = monolith-2.8.3.tar.gz::https://github.com/Y2Z/monolith/archive/v2.8.3.tar.gz
	sha256sums = 51769e6505d5708ac296e5d93e280c9fefa7873452d471c5106aaeb7c3667f9f

pkgname = monolith
