pkgbase = libretro-beetle-pce
	pkgdesc = NEC PC Engine/SuperGrafx/CD core
	pkgver = 20260904.122703.g6d6a35eb802e
	pkgrel = 1
	url = https://github.com/libretro/beetle-pce-libretro
	arch = x86_64
	groups = libretro
	license = GPL-2.0-only
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libretro-core-info
	depends = libstdc++
	depends = zlib
	source = libretro-beetle-pce::git+https://github.com/libretro/beetle-pce-libretro.git#commit=6d6a35eb802e
	b2sums = 1fe6359d93c0d818d32b71caf600f5f086783e63a5695129f9f9ccc5222df2c1ec256607c6fe700f6cfdc66bfdad449d5fa386a4e19a124f6d8dca8d4e7ec5d5

pkgname = libretro-beetle-pce
