pkgbase = zmap
	pkgdesc = Fast network scanner designed for Internet-wide network surveys
	pkgver = 4.3.4
	pkgrel = 1
	url = https://zmap.io/
	arch = x86_64
	license = Apache-2.0
	makedepends = byacc
	makedepends = cmake
	makedepends = gengetopt
	makedepends = ninja
	makedepends = pkg-config
	depends = glibc
	depends = gmp
	depends = json-c
	depends = judy
	depends = libpcap
	depends = libunistring
	backup = etc/zmap/blocklist.conf
	backup = etc/zmap/zmap.conf
	source = https://github.com/zmap/zmap/archive/v4.3.4/zmap-4.3.4.tar.gz
	sha512sums = 225b79e795b0925f59e727b02455e087dc4a559190f76eaf96155c5f10aba02334de0ba685539b029a684d4f4bb61ce084ba825d766f6b0fa1ced17c773f4df7
	b2sums = 4bd4b75fb7d19d2a8fc17c99d846d47f0e952d3b466494dbd0be05580674a76fcf14161ec0bf7b7cc485a85112432e2047ff114f26f0d39a1730c3a851ad8a4e

pkgname = zmap
