pkgbase = gnome-break-timer
	pkgdesc = Keeps track of how much you are using the computer, and it reminds you to take regular breaks
	pkgver = 3.1.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/BreakTimer
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = git
	makedepends = vala
	makedepends = blueprint-compiler
	depends = gsound
	depends = gtk4
	depends = libnotify
	depends = libadwaita
	source = git+https://gitlab.gnome.org/GNOME/gnome-break-timer.git#tag=3.1.0
	sha256sums = 5a2e42d98407db3c8c4e2a6a1182cfb4e95a29e2d0af73b08af328d95e1456a0

pkgname = gnome-break-timer
