pkgbase = rocprofiler
	pkgdesc = ROC profiler library. Profiling with perf-counters and derived metrics.
	pkgver = 6.0.0
	pkgrel = 1
	url = https://rocm.docs.amd.com/projects/rocprofiler/en/latest/rocprof.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-llvm
	makedepends = hsa-rocr
	makedepends = rocm-dbgapi
	makedepends = gtest
	makedepends = rocm-smi-lib
	makedepends = python-cppheaderparser
	makedepends = python-yaml
	makedepends = python-barectf
	depends = hip
	depends = python
	depends = python-lxml
	depends = hsa-amd-aqlprofile
	options = !lto
	source = rocprofiler-6.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/rocprofiler/archive/refs/tags/rocm-6.0.0.tar.gz
	source = rocprofiler-roctracer-6.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/roctracer/archive/refs/tags/rocm-6.0.0.tar.gz
	sha256sums = 6aca327a6ba302b5957002e55ac640dd185d51a354da3859e957448a5fc36b14
	sha256sums = 941166a0363c5689bfec118d54e986c43fb1ec8cbf18d95721d9a824bd52c0f8

pkgname = rocprofiler
