pkgbase = python-numpydoc
	pkgdesc = Numpy's Sphinx extensions
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/numpy/numpydoc
	arch = any
	license = Apache
	checkdepends = python-matplotlib
	checkdepends = python-numpy
	checkdepends = python-pytest-cov
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-sphinx
	depends = python-jinja
	depends = python-tabulate
	source = python-numpydoc-1.6.0.tar.gz::https://github.com/numpy/numpydoc/archive/v1.6.0.tar.gz
	sha512sums = 3846f395d8603a21d97a6c0fc57f0ea69e908ff2f672673d336a1f4ff02f5cb3f9e76d1e1ad6d990478b121a327bcca8179c3db6b5215f36818e41e4597878fd

pkgname = python-numpydoc
