pkgbase = jadx
	pkgdesc = Command line and GUI tools to produce Java source code from Android Dex and APK files
	pkgver = 1.5.6
	pkgrel = 1
	url = https://github.com/skylot/jadx
	arch = any
	license = Apache-2.0
	makedepends = java-environment=21
	makedepends = gradle
	depends = bash
	source = https://github.com/skylot/jadx/archive/v1.5.6/jadx-1.5.6.tar.gz
	sha512sums = 384a460f06cc27d32880744f42c1a1bdbd3a459a63d3948dce7bbd51a6085acf858a5cdb51d609f763ebbcccfb0a4e79d98d3bce716f69bc98f670d8856fc037
	b2sums = f0b3fee6d8ffdad830d6c8c9aab800d44e61ad93ba321aed010df3af19f447c529032db9ea9d3f2887f6e4d1d16190351816f7b52e32a1cf922b69dffab05a2e

pkgname = jadx
	depends = bash
	depends = java-runtime>=11
