pkgbase = makedumpfile
	pkgdesc = A tool to generate smaller dumpfiles from kdump memory dumps
	pkgver = 1.7.5
	pkgrel = 2
	url = https://github.com/makedumpfile/makedumpfile
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = perl
	depends = libelf
	depends = zstd
	source = git+https://github.com/makedumpfile/makedumpfile.git?signed#tag=1.7.5
	validpgpkeys = F4BA97F873AB047F217F8D16B0E0CE20E95D17F5
	validpgpkeys = 60C5A596A37CDE6C357C5C623136D252B5E85FA9
	sha256sums = 4dbeb9bb18605518c5bb7ea3e779b90b2fb629d6dc204f930a0e9c52ff358cb4

pkgname = makedumpfile
