pkgbase = ibus-typing-booster
	pkgdesc = Predictive input method for the IBus platform
	pkgver = 2.27.75
	pkgrel = 1
	url = https://mike-fabian.github.io/ibus-typing-booster/
	arch = any
	license = Apache-2.0
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-pygame
	depends = bash
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = ibus
	depends = libibus
	depends = m17n-db
	depends = m17n-lib
	depends = pango
	depends = python
	depends = python-atspi
	depends = python-dbus
	depends = python-distro
	depends = python-gobject
	depends = python-nltk
	depends = python-pycountry
	depends = python-pyenchant
	depends = python-pykakasi
	depends = python-rapidfuzz
	depends = python-regex
	depends = sqlite
	optdepends = python-pygame: Audible feedback (sounds)
	source = git+https://github.com/mike-fabian/ibus-typing-booster#tag=2.27.75
	b2sums = 3b787c21b2f6c620ec9d4bb440393f05d4e75b1454be0158df888e4c0af513fcda2e9125e57891b8b54f6ae5528c3e8f15aff5696f86560ff59aa12401d81c4c

pkgname = ibus-typing-booster
