pkgbase = ibus-typing-booster
	pkgdesc = Predictive input method for the IBus platform
	pkgver = 2.25.0
	pkgrel = 1
	url = https://mike-fabian.github.io/ibus-typing-booster/
	arch = any
	license = Apache-2.0
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-pygame
	depends = ibus
	depends = m17n-lib
	depends = python-dbus
	depends = python-gobject
	depends = python-pyenchant
	depends = sqlite
	optdepends = python-pygame: Audible feedback (sounds)
	source = git+https://github.com/mike-fabian/ibus-typing-booster#commit=f5dc105106a4079addf0300bc9b7c08c4acfc208
	b2sums = SKIP

pkgname = ibus-typing-booster
