pkgbase = gnome-text-editor
	pkgdesc = A simple text editor for the GNOME desktop
	pkgver = 48.3
	pkgrel = 1
	url = https://apps.gnome.org/TextEditor/
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = yelp-tools
	depends = cairo
	depends = dconf
	depends = editorconfig-core-c
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libspelling
	depends = pango
	source = git+https://gitlab.gnome.org/GNOME/gnome-text-editor.git#tag=48.3
	b2sums = 5fd25bea226ffd4a482073c828eb2b5ea0fc91d207905d91db36332d23348f7ebcfb41941b1e9ff7e5c422f51c6abf33bf3c9904e1cfbad1cbcfd5488920b9c4

pkgname = gnome-text-editor
