pkgbase = gnome-text-editor
	pkgdesc = A simple text editor for the GNOME desktop
	pkgver = 47.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-text-editor
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = appstream-glib
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = yelp-tools
	depends = cairo
	depends = dconf
	depends = editorconfig-core-c
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libspelling
	depends = pango
	source = git+https://gitlab.gnome.org/GNOME/gnome-text-editor.git#tag=47.1
	b2sums = 95036b01c252d6d802f6b2cbf2f8fc4c7bcdf306960ad7871e241bd98ec3e7e0c64255a2e0a48b9c13a01fe92806189876b794f4ca2820a36d77f50b1c50ee0b

pkgname = gnome-text-editor
