pkgbase = perl-time-human
	pkgdesc = Perl/CPAN Module Time::Human
	pkgver = 1.03
	pkgrel = 15
	url = https://search.cpan.org/dist/Time-Human
	arch = any
	license = GPL
	license = PerlArtistic
	source = https://www.cpan.org/authors/id/J/JH/JHOBLITT/Time-Human-1.03.tar.gz
	sha256sums = 90e9812b89eb2f5773b3c0872a9b8bfb61fda3c6a4570d1a6610771926d7f976

pkgname = perl-time-human
