pkgbase = ttf-sarasa-gothic
	pkgdesc = A CJK programming font based on Iosevka and Source Han Sans. (SuperTTC)
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/be5invis/Sarasa-Gothic
	arch = any
	license = OFL
	provides = ttf-sarasa-slab
	source = https://github.com/be5invis/Sarasa-Gothic/releases/download/v1.0.2/Sarasa-SuperTTC-1.0.2.7z
	source = LICENSE-1.0.2::https://raw.githubusercontent.com/be5invis/Sarasa-Gothic/v1.0.2/LICENSE
	sha512sums = a362d41b18ad1bb17db9d3c781be221f6776c2c03b87063da8af8c6c3563fb1e4525882ce335909b0b828f9bb64d3e2348ed883bd650368d65c3a115ed8a3119
	sha512sums = 1ebc3e4579ec655fcd5e53fa36f492860b9278cbeae1eb56f0f2ad5b905e930a91ef4f10fad1f4c5694dff482a7a3c07e041903a534045b533ffef63db58f25b

pkgname = ttf-sarasa-gothic
