pkgbase = dtkcore
	pkgdesc = DTK core modules
	pkgver = 5.7.28
	pkgrel = 1
	epoch = 1
	url = https://github.com/linuxdeepin/dtkcore
	arch = x86_64
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = gtest
	makedepends = doxygen
	depends = dbus
	depends = deepin-desktop-base
	depends = dtkcommon
	depends = dtklog
	depends = gcc-libs
	depends = glibc
	depends = gsettings-qt
	depends = icu
	depends = lshw
	depends = qt5-base
	depends = uchardet
	source = git+https://github.com/linuxdeepin/dtkcore.git#tag=5.7.28
	sha512sums = 5e4447af657b525b5db8ea33e8d516fd17bb9454b1a381781126078a5ad411cc980f8867ea7024090bc8cc0b12c71eda44eb548cc8806819eb4511c042453029

pkgname = dtkcore
