pkgbase = dtkcore
	pkgdesc = DTK core modules
	pkgver = 5.7.8
	pkgrel = 1
	epoch = 1
	url = https://github.com/linuxdeepin/dtkcore
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = gtest
	makedepends = doxygen
	depends = deepin-desktop-base
	depends = dtkcommon
	depends = dtklog
	depends = gcc-libs
	depends = glibc
	depends = gsettings-qt
	depends = icu
	depends = lshw
	depends = qt5-base
	depends = uchardet
	source = git+https://github.com/linuxdeepin/dtkcore.git#tag=5.7.8
	sha512sums = 35a1c41597c1422999dbec561e8eea79e9120965121428318b1b1ebd0419218803dd2f9eca247ef9b2353a2ce5d7c8d0952c06ea2e24cb2ee7ccbbfa28cd0cb8

pkgname = dtkcore
