pkgbase = discord
	pkgdesc = All-in-one voice and text chat for gamers
	pkgver = 0.0.73
	pkgrel = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	optdepends = libpulse: PulseAudio support
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = xdg-utils: Open files
	options = !debug
	options = !strip
	source = https://dl.discordapp.net/apps/linux/0.0.73/discord-0.0.73.tar.gz
	source = LICENSE-0.0.73.html::https://discordapp.com/terms
	source = OSS-LICENSES-0.0.73.html::https://discordapp.com/licenses
	sha512sums = 2af7c5f606b60587551a9a84f50a7f499fd0398c3151bfc960e3761742ea402f8cdc164de1f969fb8308c26fd294b57db79d674de185d4a19979c298a53cb185
	sha512sums = f700d8132d5b51dc008bd82fa8507cfc5de07fad2c30ae90d75a0c0db4d4ac326b87fa617caeccacd49188430baa90c728750970868d152a44df03b84beb8d2e
	sha512sums = fada15256e8b68dafd3a87fa4fab682b346fb8938a9b1845ea8bf6aa313c3c57ab5e83b309c8caf89cd0ec4c33a79c06ecf676da2755e1e6f84dd5822f036781

pkgname = discord
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
