pkgbase = discord
	pkgdesc = All-in-one voice and text chat for gamers
	pkgver = 1.0.138
	pkgrel = 1
	epoch = 1
	url = https://discord.com
	arch = x86_64
	license = LicenseRef-custom
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	depends = hicolor-icon-theme
	optdepends = libpulse: PulseAudio support
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = xdg-utils: For opening URLs and files
	source = https://dl.discordapp.net/apps/linux/1.0.138/discord-1.0.138.tar.gz
	source = LICENSE-1.0.138.html::https://discordapp.com/terms
	source = OSS-LICENSES-1.0.138.html::https://discordapp.com/licenses
	sha512sums = 3525bdcd601b57bd98fca73d1c97fb596ad10dca89cb7d2a94de17c2cb021ffad529438d6f14431605d094b960ec09c2e6f7e05cfee23e6ca006f1c5ad5efc4f
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = discord
