pkgbase = keepsecret
	pkgdesc = Password manager
	pkgver = 1.0.0
	pkgrel = 2
	url = https://apps.kde.org/keepsecret/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kitemmodels
	depends = kirigami
	depends = kirigami-addons
	depends = libsecret
	depends = org.freedesktop.secrets
	depends = qqc2-desktop-style
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	source = https://download.kde.org/stable/keepsecret/1.0.0/keepsecret-1.0.0.tar.xz
	source = https://download.kde.org/stable/keepsecret/1.0.0/keepsecret-1.0.0.tar.xz.sig
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = d3360caaa527af41f49f2758a93edd83b932a1de2d0993572c958b1eec6f0fe9
	sha256sums = SKIP

pkgname = keepsecret
