pkgbase = haskell-brick
	pkgdesc = A declarative terminal user interface library
	pkgver = 2.12
	pkgrel = 3
	url = https://github.com/jtdaugherty/brick
	arch = x86_64
	license = BSD-3-Clause
	makedepends = ghc
	makedepends = haskell-quickcheck
	depends = ghc-libs
	depends = haskell-bimap
	depends = haskell-config-ini
	depends = haskell-data-clist
	depends = haskell-hashable
	depends = haskell-microlens
	depends = haskell-microlens-mtl
	depends = haskell-microlens-th
	depends = haskell-text-zipper
	depends = haskell-unix-compat
	depends = haskell-unordered-containers
	depends = haskell-vector
	depends = haskell-vty
	depends = haskell-vty-crossplatform
	depends = haskell-word-wrap
	source = https://hackage.haskell.org/packages/archive/brick/2.12/brick-2.12.tar.gz
	sha512sums = 717676fd9616347e1d0f3156bac413b4ddf435ba74c0a22f8a55fd55f7367ddac1a61f44f2b00003f85da952755aca7456efa866f933d5b793ab262955cf4aea

pkgname = haskell-brick
