pkgbase = haskell-test-framework-hunit
	pkgdesc = HUnit support for the test-framework package.
	pkgver = 0.3.0.2
	pkgrel = 709
	url = https://batterseapower.github.io/test-framework/
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-hunit
	depends = haskell-extensible-exceptions
	depends = haskell-test-framework
	source = https://hackage.haskell.org/packages/archive/test-framework-hunit/0.3.0.2/test-framework-hunit-0.3.0.2.tar.gz
	sha512sums = 068ca4326935746769aa4023076e9bd85d1753073c6e67d88daa6ccf2a69f3bafb87c3b03fd5ada612f6ddbdf2447b06ef8f853675cf0efe9eafd80606c40e32

pkgname = haskell-test-framework-hunit
