pkgbase = python-traitlets
	pkgdesc = A configuration system for Python applications
	pkgver = 5.14.0
	pkgrel = 1
	url = https://traitlets.readthedocs.io/en/stable
	arch = any
	license = BSD
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-mypy-testing
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	depends = python-typing_extensions
	source = https://pypi.python.org/packages/source/t/traitlets/traitlets-5.14.0.tar.gz
	sha256sums = fcdaa8ac49c04dfa0ed3ee3384ef6dfdb5d6f3741502be247279407679296772

pkgname = python-traitlets
