pkgbase = rumdl
	pkgdesc = Markdown Linter and Formatter written in Rust
	pkgver = 0.2.45
	pkgrel = 1
	url = https://github.com/rvben/rumdl
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	depends = jemalloc
	depends = libgcc
	source = rumdl-0.2.45.tar.gz::https://github.com/rvben/rumdl/archive/refs/tags/v0.2.45.tar.gz
	sha256sums = 6a52a653c0972928b9506cf0ff0ca0fe510b5f86053d29863eefaff44fb293dd

pkgname = rumdl
