pkgbase = rumdl
	pkgdesc = Markdown Linter and Formatter written in Rust
	pkgver = 0.2.17
	pkgrel = 1
	url = https://github.com/rvben/rumdl
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	depends = jemalloc
	depends = libgcc
	source = rumdl-0.2.17.tar.gz::https://github.com/rvben/rumdl/archive/refs/tags/v0.2.17.tar.gz
	sha256sums = d1570f92933f0ec11e2bd739c6cd7ff2db83309585315027d61e1e6db934d59c

pkgname = rumdl
