pkgbase = rumdl
	pkgdesc = Markdown Linter and Formatter written in Rust
	pkgver = 0.1.63
	pkgrel = 1
	url = https://github.com/rvben/rumdl
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = rumdl-0.1.63.tar.gz::https://github.com/rvben/rumdl/archive/refs/tags/v0.1.63.tar.gz
	sha256sums = 53876d2a776212dc394ceda26850715a6b830637537642d05568f155425be1c7

pkgname = rumdl
