pkgbase = python-oslo-utils
	pkgdesc = Oslo Utility library
	pkgver = 9.2.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/oslo.utils/9.2.0
	arch = any
	license = Apache-2.0
	checkdepends = python-eventlet
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-oslotest
	checkdepends = python-ddt
	checkdepends = python-stestr
	checkdepends = qemu-img
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-pbr
	depends = python-iso8601
	depends = python-oslo-i18n
	depends = python-netaddr
	depends = python-debtcollector
	depends = python-pyparsing
	depends = python-packaging
	depends = python-yaml
	depends = python-psutil
	source = git+https://github.com/openstack/oslo.utils.git#tag=9.2.0
	sha512sums = 22262e533f45d6a9fd22784e084c384b6c72e907936c667b1963e67da7d4a61e89522efb3cf85b2d96764b86448174e60e5eefe91e38536be032233855d12ade

pkgname = python-oslo-utils
