pkgbase = termusic
	pkgdesc = Music Player TUI written in Rust
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/tramhao/termusic
	arch = x86_64
	license = MIT
	license = GPL3
	makedepends = cargo
	makedepends = clang
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	depends = dbus
	depends = ueberzug
	depends = protobuf
	optdepends = yt-dlp: download mp3
	optdepends = ffmpeg: download mp3
	optdepends = emoji-font: for displaying emojis
	options = !lto
	source = termusic-0.10.0.tar.gz::https://github.com/tramhao/termusic/archive/v0.10.0.tar.gz
	sha512sums = d36397b35d9d006ab9d5436ab364f1d31cc397a066c07fa8d9b4b2e769020c463c486a9961dfcbb01c456d51c943e3e5f9c6f9355d7b3f9d2b184b12a3401ff3

pkgname = termusic
