pkgbase = haskell-hls-explicit-fixity-plugin
	pkgdesc = Show fixity explicitly while hovering
	pkgver = 2.0.0.0
	pkgrel = 43
	url = https://github.com/haskell/haskell-language-server.git
	arch = x86_64
	license = Apache
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-hls-test-utils
	depends = ghc-libs
	depends = haskell-extra
	depends = haskell-ghc
	depends = haskell-ghcide
	depends = haskell-hashable
	depends = haskell-hls-plugin-api
	depends = haskell-lsp
	source = https://hackage.haskell.org/packages/archive/hls-explicit-fixity-plugin/2.0.0.0/hls-explicit-fixity-plugin-2.0.0.0.tar.gz
	sha256sums = c75abe2f57e202ed4704c6827b881d94bc744eb11f45fa67ff843882128c8b24

pkgname = haskell-hls-explicit-fixity-plugin
