pkgbase = enchant
	pkgdesc = A wrapper library for generic spell checking
	pkgver = 2.7.3
	pkgrel = 1
	url = https://abiword.github.io/enchant/
	arch = x86_64
	license = LGPL
	checkdepends = unittestpp
	makedepends = aspell
	makedepends = hunspell
	makedepends = hspell
	makedepends = nuspell
	makedepends = libvoikko
	depends = glib2
	optdepends = aspell: for aspell based spell checking support
	optdepends = hunspell: for hunspell based spell checking support
	optdepends = libvoikko: for libvoikko based spell checking support
	optdepends = hspell: for hspell based spell checking support
	optdepends = nuspell: for nuspell based spell checking support
	provides = libenchant-2.so
	source = https://github.com/AbiWord/enchant/releases/download/v2.7.3/enchant-2.7.3.tar.gz
	sha512sums = ca20ae45a42c1c3fec5ef81753f2bbfd1faaa33a6b0c60adc8ac77ab5eb0015be488a5b128b56cdface5f16c5bd3ea1623e9035a39d8453f7a3a713b04f392c7

pkgname = enchant
