pkgbase = deepin-compressor
	pkgdesc = A fast and lightweight application for creating and extracting archives
	pkgver = 6.0.0
	pkgrel = 1
	url = https://github.com/linuxdeepin/deepin-compressor
	arch = x86_64
	groups = deepin-extra
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	depends = dtkcore
	depends = dtkgui
	depends = dtkwidget
	depends = glibc
	depends = gcc-libs
	depends = qt5-base
	depends = glib2
	depends = karchive5
	depends = kcodecs5
	depends = libarchive
	depends = libzip
	depends = minizip
	depends = util-linux-libs
	depends = hicolor-icon-theme
	source = git+https://github.com/linuxdeepin/deepin-compressor.git#tag=6.0.0
	sha512sums = 3536eb5750d6d72b1ead1bb6b4004ccbe3d472283f47ac56a1398bd0ec86d0cc44da6915533ac1afc9ee1353d7d114fc439236571bed542a89a226cb6a51dace

pkgname = deepin-compressor
