pkgbase = cyrus-sasl
	pkgdesc = Cyrus Simple Authentication Service Layer (SASL) library
	pkgver = 2.1.28
	pkgrel = 4
	url = https://www.cyrusimap.org/sasl/
	arch = x86_64
	license = BSD-3-Clause-Attribution
	makedepends = gdbm
	makedepends = glibc
	makedepends = git
	makedepends = krb5
	makedepends = libldap
	makedepends = libsasl=2.1.28
	makedepends = libxcrypt
	makedepends = mariadb-libs
	makedepends = openssl
	makedepends = pam
	makedepends = postgresql-libs
	makedepends = sqlite
	source = cyrus-sasl::git+https://github.com/cyrusimap/cyrus-sasl.git?signed#tag=cyrus-sasl-2.1.28
	source = saslauthd.service
	source = saslauthd.conf.d
	validpgpkeys = 829F339F8C296FE80F409D93E3D7C118C7B9F46A
	validpgpkeys = DEA1999F0CDB1AAEBA001E0DBEE3E3B4D2F06546
	sha512sums = a055876910be34d59c6e1c8891244975d213490ba6aa0924e5f018094f3ef01871f627b076d6a6ad9547f77ad528f0ac20b3c0efd391cac97bb9e024de037271
	sha512sums = c6f2c3e59f0a3cc35b0b9c1bf593d4985d633e30071a246c070ba86e827c530840226a017e9c933df77f94a83d7b5ae0b9299df86e8dcd7220dce5015b6ea028
	sha512sums = e99e2da452d2d5b9c0fc7ef10a844f5aa80f20fe5d5778666e450b5e6eb183876322592ae075d55c7e24d93d8a39bf7d47864697faf398cc40fd589808dd0282
	b2sums = c4d417139a81ffb1ade5456ecd14be77bd2e0ff0e59cf818206dc3df78a4d4be1ee5b0988d3a3edbb1542041b9f3b921d855075df5d86b0458b99020192170d1
	b2sums = a8d86aa30d73918d24132a117a4dd2ccc478f0d64f6bd07ccd41caec58a275a97d3a74db778309cf0d8253134f903dbdfa56366bf77dfe43d0a889baaf736f92
	b2sums = fd9c1f0a1dd3b812c483e1b119782994b556b997583d75fc905a35ba4d4aae94326b24d0313a3b396fef69d4eb6c7dcbd397144b72fd1b729c590cfba432a275

pkgname = cyrus-sasl
	pkgdesc = Cyrus saslauthd SASL authentication daemon
	depends = gdbm
	depends = libgdbm.so
	depends = glibc
	depends = krb5
	depends = libkrb5.so
	depends = libldap
	depends = libsasl=2.1.28
	depends = libxcrypt
	depends = openssl
	depends = pam
	depends = libpam.so
	backup = etc/conf.d/saslauthd

pkgname = cyrus-sasl-gssapi
	pkgdesc = GSSAPI authentication mechanism for Cyrus SASL
	depends = glibc
	depends = krb5
	depends = libgssapi_krb5.so
	depends = libsasl=2.1.28
	replaces = cyrus-sasl-plugins

pkgname = cyrus-sasl-ldap
	pkgdesc = ldapdb auxprop module for Cyrus SASL
	depends = glibc
	depends = libldap
	depends = libsasl=2.1.28
	replaces = cyrus-sasl-plugins

pkgname = cyrus-sasl-sql
	pkgdesc = SQL auxprop module for Cyrus SASL
	depends = glibc
	depends = libsasl=2.1.28
	depends = mariadb-libs
	depends = libmariadb.so
	depends = postgresql-libs
	depends = libpq.so
	depends = sqlite
	replaces = cyrus-sasl-plugins
