pkgbase = serpl
	pkgdesc = A simple TUI for search and replace, ala VS Code
	pkgver = 0.3.10
	pkgrel = 1
	url = https://github.com/yassinebridi/serpl
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = libgcc
	source = serpl-0.3.10.tar.gz::https://github.com/yassinebridi/serpl/archive/0.3.10.tar.gz
	sha512sums = 962903cc79bfe5a7cb896642fd73dc16bf8d974f3ae2abef52c0fd5ea065af9c287b43b30fe30cc919dd5fbcc6ca86187e0f40101e539b5d0dbef56db5b25f57

pkgname = serpl
