pkgbase = kvirc
	pkgdesc = Qt based IRC client
	pkgver = 5.2.6
	pkgrel = 3
	url = http://kvirc.net/
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	depends = enchant
	depends = hicolor-icon-theme
	depends = qt6-multimedia
	depends = qt6-svg
	depends = qt6-webengine
	depends = qt6-5compat
	optdepends = perl: scripting support
	optdepends = python: scripting support
	source = https://github.com/kvirc/KVIrc/archive/5.2.6/kvirc-5.2.6.tar.gz
	source = kvirc.appdata.xml
	source = qt-6.9.patch
	sha256sums = e8de989b5df8d9286da3e26146682a349fe496864dc2e7d7eae8dc27167fdd25
	sha256sums = 433c6b2d36479ae2c4a0342dc9750ba79ffd9f4fa479f28740cd1c4303bc71da
	sha256sums = 979a4da7d8610b242b4ea67c0ff19264bf2c76091dbe6c63103e60b8d2e78676

pkgname = kvirc
