pkgbase = persepolis
	pkgdesc = Qt front-end for aria2 download manager
	pkgver = 5.0.1
	pkgrel = 2
	url = https://persepolisdm.github.io/
	arch = any
	license = GPL3
	makedepends = meson
	depends = aria2
	depends = ffmpeg
	depends = libnotify
	depends = libpulse
	depends = python-psutil
	depends = pyside6
	depends = python-requests
	depends = python-setproctitle
	depends = qt6-svg
	depends = sound-theme-freedesktop
	depends = yt-dlp
	source = https://github.com/persepolisdm/persepolis/archive/5.0.1/persepolis-5.0.1.tar.gz
	sha256sums = b571ca6bcd929bf06d29cb4d4f20c59c7554f0f2f9f2d8d292ce566b45d6a674

pkgname = persepolis
