pkgbase = python-pysequoia
	pkgdesc = Provides OpenPGP facilities in Python through the Sequoia PGP library
	pkgver = 0.1.25
	pkgrel = 1
	url = https://github.com/wiktor-k/pysequoia
	arch = x86_64
	groups = sequoia
	license = Apache-2.0
	makedepends = clang
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	source = pysequoia-0.1.25.tar.gz::https://github.com/wiktor-k/pysequoia/archive/v0.1.25.tar.gz
	sha512sums = da9c1b286a1a2864e47641f2d60dc0ec7293ac1a455ae88f8e58b523ff0c110c22fd1d435c0168afd909df8a5b7b47b2c9f99394a8fa104b2efefc6f1bf8a852
	b2sums = 5a10d8677f900d42a04e448bc8ea6b63b85c86044bb2c21d5d7d18a9db440db5337de14519a102c9d36f0483b310e2678769af9bcc8d3bda615b720173eaeaa4

pkgname = python-pysequoia
