pkgbase = biome
	pkgdesc = Formatter, linter, and more for Javascript, Typescript, JSON, and CSS
	pkgver = 2.5.15
	pkgrel = 1
	url = https://biomejs.dev
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	depends = libgcc
	replaces = rome
	replaces = biome-bin
	source = https://github.com/biomejs/biome/archive/@biomejs/biome@2.5.15/biome--biomejs-biome-2.5.15.tar.gz
	sha256sums = 0212a8f9e351e2d47580cf8371948dd477ceb01e0fef1a65f81061a2a4a39039

pkgname = biome
