pkgbase = biome
	pkgdesc = Formatter, linter, and more for Javascript, Typescript, JSON, and CSS
	pkgver = 2.3.14
	pkgrel = 1
	url = https://biomejs.dev
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	replaces = rome
	replaces = biome-bin
	source = https://github.com/biomejs/biome/archive/@biomejs/biome@2.3.14/biome--biomejs-biome-2.3.14.tar.gz
	sha256sums = 95fd3d9e89d9a8496e47a763906e7ad5025231391a163d0ddf974ef5e9d23647

pkgname = biome
