pkgbase = jupyterlab-rise
	pkgdesc = RISE: "Live" Reveal.js JupyterLab Slideshow Extension
	pkgver = 0.43.1
	pkgrel = 2
	url = https://github.com/jupyterlab-contrib/rise
	arch = any
	license = BSD-3-Clause
	makedepends = npm
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-hatch-nodejs-version
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-jupyter-packaging
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = jupyterlab
	source = jupyterlab-rise-0.43.1.tar.gz::https://github.com/jupyterlab-contrib/rise/archive/refs/tags/v0.43.1.tar.gz
	source = install.json
	b2sums = ef54516fbd2c43125bbf1148d44f05ae6f88febe630001789f2bdb308652377838c5cb9de8d71cf24c3ce430e56074dae04dac38e641c36ab7d76b81ba636c9a
	b2sums = a849d0bd6eba693967e11f7b793a4f0beddcffde045ac61bb58bf0e50f1f1b1841f988a7d75c3f60f9c135203ea115199772af78f38f2acc264127492c29141b

pkgname = jupyterlab-rise
