pkgbase = puzzles
	pkgdesc = Simon Tatham's Portable Puzzle Collection
	pkgver = 20260309.06e37f1
	pkgrel = 1
	url = https://www.chiark.greenend.org.uk/~sgtatham/puzzles/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = halibut
	makedepends = imagemagick
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = pango
	source = git+https://git.tartarus.org/simon/puzzles.git#commit=06e37f1
	sha256sums = 3bbb3eb78557a5604ed518e887db26cc16b3c6e8919051c42964b05e11cf81d0

pkgname = puzzles
