pkgbase = nextcloud-app-calendar
	pkgdesc = Calendar app for nextcloud
	pkgver = 6.0.2
	pkgrel = 1
	epoch = 1
	url = https://github.com/nextcloud/calendar/
	arch = any
	groups = nextcloud-apps
	license = AGPL-3.0-or-later
	makedepends = nextcloud
	makedepends = yq
	options = !strip
	source = https://github.com/nextcloud-releases/calendar/releases/download/v6.0.2/calendar-v6.0.2.tar.gz
	sha256sums = b7de175e7d0a29edf6eb65dbd244aee4c5352b2987acedb67a93a19f66c094ec
	b2sums = c362057d8be9f52278c321c72acfddce7077ac1019ae43cd1208bd0147484346b731d1f8e4e2806144a3a8446cc664daaf9912b18ee15f7a017188312d3b4a36

pkgname = nextcloud-app-calendar
