pkgbase = nextcloud-app-calendar
	pkgdesc = Calendar app for nextcloud
	pkgver = 6.2.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/nextcloud/calendar/
	arch = any
	groups = nextcloud-apps
	license = AGPL-3.0-or-later
	makedepends = nextcloud
	makedepends = yq
	options = !strip
	source = https://github.com/nextcloud-releases/calendar/releases/download/v6.2.0/calendar-v6.2.0.tar.gz
	sha256sums = 6e3f38b3c6c80d9a75fc1bb3dbfe543cf328338157e4edcf3abecd497d1a2ec2
	b2sums = f077f437a1686ef6da71b0ad5beb55b5151712db95659c3cdbe320a1023f57f9a18852965999c87acf48070e3c37bbf7d1b1b02fcb4ec2c219e347c21587abfd

pkgname = nextcloud-app-calendar
