pkgbase = editorconfig-checker
	pkgdesc = A tool to verify that your files are in harmony with your .editorconfig
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/editorconfig-checker/editorconfig-checker
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	provides = ec
	source = https://github.com/editorconfig-checker/editorconfig-checker/archive/refs/tags/v3.0.0/editorconfig-checker-3.0.0.tar.gz
	sha256sums = ecc26b1c83b8d2df1c8a46b2cf5e5f2a7bfe8b530c00e9344fdfb11d8343ffcd

pkgname = editorconfig-checker
