pkgbase = nextcloud-app-deck
	pkgdesc = Kanban style organization tool aimed at personal planning and project organization
	pkgver = 1.13.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/nextcloud/deck
	arch = any
	groups = nextcloud-apps
	license = AGPL-3.0-or-later
	checkdepends = yq
	makedepends = nextcloud
	source = https://github.com/nextcloud-releases/deck/releases/download/v1.13.1/deck-v1.13.1.tar.gz
	sha512sums = 7837d6e2e94afbbd6f0bb13b38b406ac4b502bf82ab1768d11cda62a3d9228aa13d824fa1c0368b9981b72fb20d5ba0dbe8c559f8c01bdf557e9a29618aa2681
	b2sums = efa27dc73b5968a56021af8e242ff514deaf2f56e63ef029a81cb241bb0a96c36d5681743765dcf9a520752cf1a6d8e24f1d524cf346cfb22e6180c0815518f0

pkgname = nextcloud-app-deck
