pkgbase = libretro-genesis-plus-gx
	pkgdesc = Sega MS/GG/MD/CD core
	pkgver = 2190
	pkgrel = 1
	url = https://github.com/libretro/Genesis-Plus-GX
	arch = x86_64
	groups = libretro
	license = BSD
	license = LGPL2.1
	makedepends = clang
	makedepends = git
	depends = libretro-core-info
	depends = libvorbis
	depends = zlib
	source = libretro-genesis-plus-gx::git+https://github.com/libretro/Genesis-Plus-GX.git#commit=f0a21a7b30e033cef8e4870f7ab3781dad3606db
	b2sums = 0424c68e097d4d7ecbd23ff0604c0e5001cb4665e87830c70e7261165dbcacd5ec22b61a1d4b544dc90420fec494d27462d21d63a007370a46812eb69904fa92

pkgname = libretro-genesis-plus-gx
