pkgbase = qwen-code
	pkgdesc = Open-source AI agent for the terminal, optimized for Qwen-Coder
	pkgver = 0.21.1
	pkgrel = 1
	url = https://github.com/QwenLM/qwen-code
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = jq
	makedepends = npm
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = nodejs
	depends = ripgrep
	optdepends = alsa-utils: voice dictation recording via arecord
	optdepends = npm: optional computer-use tools via npx
	optdepends = sox: voice dictation recording
	source = git+https://github.com/QwenLM/qwen-code.git#tag=v0.21.1
	sha256sums = 4489dcc2b6f25b165ce90458045803f77567585822aee1ec21c1603c0821a587
	b2sums = 1c6b9e7ae9c1dc49a29251bebda4edbcbac64df6828ce05b68e3b40b10c1bc55f95a2f15e9a18b20b679176f6a91d72f7da671a16e6637d0ed2a9144550b8b72

pkgname = qwen-code
