pkgbase = haskell-gi-gdkpixbuf
	pkgdesc = GdkPixbuf bindings
	pkgver = 2.0.32
	pkgrel = 93
	url = https://github.com/haskell-gi/haskell-gi
	arch = x86_64
	license = LGPL2.1
	makedepends = ghc
	makedepends = gobject-introspection
	depends = ghc-libs
	depends = haskell-gi-gio
	depends = haskell-gi-glib
	depends = haskell-gi-gmodule
	depends = haskell-gi-gobject
	depends = haskell-gi
	depends = haskell-gi-base
	depends = haskell-gi-overloading
	depends = gdk-pixbuf2
	source = https://hackage.haskell.org/packages/archive/gi-gdkpixbuf/2.0.32/gi-gdkpixbuf-2.0.32.tar.gz
	sha256sums = 831eb61384c8f391572fdcf9d92a54460de8eb825636b31730b2d9b23bccbafb

pkgname = haskell-gi-gdkpixbuf
