pkgbase = haskell-generic-lens
	pkgdesc = Generically derive traversals, lenses and prisms
	pkgver = 2.2.2.0
	pkgrel = 158
	url = https://github.com/kcsongor/generic-lens
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = haskell-doctest
	makedepends = haskell-hunit
	makedepends = haskell-inspection-testing
	makedepends = haskell-lens
	depends = ghc-libs
	depends = haskell-generic-lens-core
	depends = haskell-profunctors
	source = https://hackage.haskell.org/packages/archive/generic-lens/2.2.2.0/generic-lens-2.2.2.0.tar.gz
	sha512sums = 90d364ee0844342d8f2e68f5072e8d58575427b964b2394b86a3c73ea123d7698205fc87fdc6af579cc5384fa8f024f7bc87967000a86a4a8f9e2246dbd12ecc

pkgname = haskell-generic-lens
