pkgbase = ocaml-zarith
	pkgdesc = Implements arithmetic and logical operations over arbitrary-precision integers and rational numbers
	pkgver = 1.13
	pkgrel = 3
	url = https://github.com/ocaml/Zarith
	arch = x86_64
	license = GPL2
	makedepends = ocaml-findlib
	depends = ocaml
	depends = ocaml-compiler-libs
	depends = gmp
	provides = zarith
	options = !strip
	source = https://github.com/ocaml/Zarith/archive/release-1.13.tar.gz
	sha256sums = a5826d33fea0103ad6e66f92583d8e075fb77976de893ffdd73ada0409b3f83b

pkgname = ocaml-zarith
