pkgbase = python-cython-lint
	pkgdesc = A tool to lint Cython files
	pkgver = 0.18.1
	pkgrel = 2
	url = https://github.com/MarcoGorelli/cython-lint
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-hatchling
	depends = python
	depends = cython
	depends = python-tokenize-rt
	depends = python-pycodestyle
	source = python-cython-lint::git+https://github.com/MarcoGorelli/cython-lint#tag=v0.18.1
	sha512sums = 61e2893181231e5bb38c1fc87b31b85bc91de44729093df9909c01cc521a4a34a301e06bf7f0364b91038749b4e962e3655c16ffa0dbb07e0ac75f721f4f8638
	b2sums = c5db88ecca6aa726e094b68e02abecd696009ece8833b01e80e62ef6166939cf908640cc8608051af9c8e548a08284069877e8256816f49ce038caac2f75383b

pkgname = python-cython-lint
