pkgbase = kconfig5
	pkgdesc = Configuration system
	pkgver = 5.115.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-declarative
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = qt5-base
	optdepends = qt5-declarative: QML bindings
	conflicts = kconfig<5.111
	replaces = kconfig<5.111
	source = https://download.kde.org/stable/frameworks/5.115/kconfig-5.115.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.115/kconfig-5.115.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = bd692b2adf56c54a0fb1e2d402becdc326a8df8ceb89bef9f48361e1b1788612
	sha256sums = SKIP

pkgname = kconfig5
