pkgbase = cargo-deny
	pkgdesc = Cargo plugin for linting your dependencies
	pkgver = 0.19.1
	pkgrel = 2
	url = https://github.com/EmbarkStudios/cargo-deny
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = cargo
	depends = git
	depends = glibc
	depends = libgcc
	options = !lto
	source = cargo-deny-0.19.1::git+https://github.com/EmbarkStudios/cargo-deny.git#tag=0.19.1
	source = cargo-deny-advisory-db::git+https://github.com/rustsec/advisory-db
	source = cargo-deny-test-advisory-db::git+https://github.com/EmbarkStudios/test-advisory-db
	sha256sums = 1d277d2c59b1418b9c62f3906c581828da0a707dc00223c1fdf2e1ba9151e229
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = cargo-deny
