pkgbase = docker-buildx
	pkgdesc = Docker CLI plugin for extended build capabilities with BuildKit
	pkgver = 0.21.3
	pkgrel = 1
	url = https://github.com/docker/buildx
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	makedepends = git
	depends = glibc
	options = !lto
	source = git+https://github.com/docker/buildx.git#tag=v0.21.3
	sha512sums = e4329d87804085357729624028b83702aa27cc661eff4b137586dd9a9d1789d8d824c74d6f124cf9fee2b2714e7f03d91866f3105fd4b0c5c6487dc3a79eae4f

pkgname = docker-buildx
