pkgbase = glab
	pkgdesc = Cli tool to help work seamlessly with GitLab from the command line
	pkgver = 1.79.0
	pkgrel = 1
	url = https://gitlab.com/gitlab-org/cli
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	replaces = gitlab-glab
	options = !lto
	source = https://gitlab.com/gitlab-org/cli/-/archive/v1.79.0/cli-v1.79.0.tar.gz
	sha256sums = 30e76eda214c195f82fe1884c26b033f93379093e723374fc412fa34fda342c3

pkgname = glab
