pkgbase = opensearch-ml-commons-plugin
	pkgdesc = OpenSearch Machine Learning Commons Plugin
	pkgver = 2.10.0.0
	pkgrel = 1
	url = https://opensearch.org/docs/latest/ml-commons-plugin/index/
	arch = x86_64
	license = Apache
	makedepends = java-environment=11
	makedepends = unzip
	depends = opensearch=2.10.0
	source = opensearch-ml-commons-plugin-2.10.0.0.tar.gz::https://github.com/opensearch-project/ml-commons/archive/2.10.0.0.tar.gz
	sha256sums = 13a39218369f5ebb477d93ba4e53318b9c3be583c690ce9a6cee91394053a31f

pkgname = opensearch-ml-commons-plugin
