pkgbase = python-anywidget
	pkgdesc = Reusable widgets made easy
	pkgver = 0.11.0
	pkgrel = 1
	url = https://anywidget.dev/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pydantic
	checkdepends = python-watchfiles
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-jupyter-builder
	makedepends = pnpm
	depends = ipython
	depends = python
	depends = python-comm
	depends = python-ipywidgets
	depends = python-psygnal
	depends = python-traitlets
	depends = python-typing_extensions
	optdepends = python-watchfiles: for live reloading during development
	source = anywidget-0.11.0.tar.gz::https://github.com/manzt/anywidget/archive/refs/tags/anywidget@0.11.0.tar.gz
	b2sums = 0efaef9a6fc476345b19e93ce4107be332e025346f3f63c884647a10e804bd8bd92d855134625e09dc9fac0f362474ef0873c1321ac027a7b06a3dd4f6626c42

pkgname = python-anywidget
