pkgbase = chezmoi
	pkgdesc = Manage your dotfiles across multiple machines
	pkgver = 2.44.0
	pkgrel = 1
	url = https://www.chezmoi.io/
	arch = x86_64
	license = MIT
	checkdepends = zip
	makedepends = go
	makedepends = git
	depends = glibc
	options = !lto
	source = chezmoi-2.44.0.tar.gz::https://github.com/twpayne/chezmoi/archive/v2.44.0.tar.gz
	sha512sums = e9becf5cdef1428cd29038c372a2c2a96064dc684c6baf7e74f64b026f7046b579e1406ed867efd5d59e22a2c3834dd1b3d32e507cc1039d6e6db8d7421fc4c2

pkgname = chezmoi
