pkgbase = chezmoi
	pkgdesc = Manage your dotfiles across multiple machines
	pkgver = 2.42.0
	pkgrel = 1
	url = https://www.chezmoi.io/
	arch = x86_64
	license = MIT
	checkdepends = zip
	makedepends = go
	makedepends = git
	depends = glibc
	options = !lto
	source = chezmoi-2.42.0.tar.gz::https://github.com/twpayne/chezmoi/archive/v2.42.0.tar.gz
	sha512sums = 30ae42511a5531cf1a41581beab3a99d94a6860ce1d9aaa4b9a0fd9ee6c084d304c316515cb46897ef5726e50fb3334c15b5a8e714dd815c731814e6af75d321

pkgname = chezmoi
