pkgbase = attica5
	pkgdesc = Qt library that implements the Open Collaboration Services API
	pkgver = 5.115.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = qt5-base
	conflicts = attica<5.111
	replaces = attica<5.111
	source = https://download.kde.org/stable/frameworks/5.115/attica-5.115.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.115/attica-5.115.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = ab054982f2e4bd2041a2bda895b1078f19cf371b2be96b32bd4f59d1f5a9a458
	sha256sums = SKIP

pkgname = attica5
