pkgbase = firecracker
	pkgdesc = Secure and fast microVMs for serverless computing
	pkgver = 1.9.1
	pkgrel = 1
	url = https://firecracker-microvm.github.io
	arch = x86_64
	license = Apache-2.0
	license = BSD-3-Clause
	makedepends = git
	makedepends = rust
	makedepends = clang
	makedepends = cmake
	options = !lto
	options = !buildflags
	source = firecracker::git+https://github.com/firecracker-microvm/firecracker.git#tag=v1.9.1
	sha512sums = b0fdb69a276df41761cff8e9ddfa3a138cf406db251e3a6a9f265a91543205ff60ee3a3d1bb6ba39501edf03848edbeff2848ddbb792f160059211fd6a44cbdb
	b2sums = 0d77c9c5b3e727329bc2e1e5b65e03865294ac7bcb6281e2d28458a992237fc44f344deef08defccb10210a0b231a72070a34527530cffde363b9d5a38bf5eb7

pkgname = firecracker
	depends = glibc
	depends = gcc-libs

pkgname = firecracker-docs
	pkgdesc = Secure and fast microVMs for serverless computing (documentation)
