pkgbase = opensc
	pkgdesc = Tools and libraries for smart cards
	pkgver = 0.26.0
	pkgrel = 3
	url = https://github.com/OpenSC/OpenSC/wiki
	arch = x86_64
	license = LGPL
	makedepends = docbook-xsl
	makedepends = git
	depends = pcsclite
	depends = glib2
	depends = libltdl
	options = !emptydirs
	options = !lto
	backup = etc/opensc.conf
	source = git+https://github.com/OpenSC/OpenSC.git#tag=0.26.0
	sha512sums = 6de92cfa2b6be790c22ffa81ae8e9a04f16d1897da56343d9a59df918fc98dce650ff6d7d583239e5289ef765d0c328aaedddd5099077924a8cf3920188db15f

pkgname = opensc
