pkgbase = turbo
	pkgdesc = Incremental bundler and build system optimized for JavaScript and TypeScript
	pkgver = 2.5.4
	pkgrel = 2
	url = https://turbo.build/
	arch = x86_64
	license = MPL-2.0
	makedepends = capnproto
	makedepends = cargo
	makedepends = protobuf
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = libz.so
	options = !lto
	source = https://github.com/vercel/turborepo/archive/v2.5.4/turbo-2.5.4.tar.gz
	sha256sums = d0f03991ab900c068796b38a24c865737c777fac9a79651ec72826aa6da1cdf6
	b2sums = 3dfcf661352c48db29a8a4f06a658d50dd0c1692961e7cb725ea227be28d1fd40d4e342274e1a5a1e6c3d66b32a53c866f10265e0fff21959d3bb1abb1aa3726

pkgname = turbo
