pkgbase = jmol
	pkgver = 16.2.19
	pkgrel = 1
	url = https://jmol.sourceforge.net
	arch = any
	license = LGPL-2.1-only
	makedepends = unzip
	source = https://sourceforge.net/projects/jmol/files/Jmol/Version%2016.2/Jmol%2016.2.19/Jmol-16.2.19-binary.zip
	sha256sums = a32ea525de0afb983fd5e6f7841dc42f1e77cb11ab0162205cea02a52a4312f5

pkgname = jmol
	pkgdesc = A Java 3D viewer for chemical structures
	depends = java-runtime
	depends = sh

pkgname = jsmol
	pkgdesc = A JavaScript 3D viewer for chemical structures
