pkgbase = jmol
	pkgver = 16.3.1
	pkgrel = 1
	url = https://jmol.sourceforge.net
	arch = any
	license = LGPL-2.1-only
	makedepends = unzip
	source = https://sourceforge.net/projects/jmol/files/Jmol/Version%2016.3/Jmol%2016.3.1/Jmol-16.3.1-binary.zip
	sha256sums = 81d666389db5ad5a17697046fadd2f572f4b717694a78cb4127d191d3e5ffa88

pkgname = jmol
	pkgdesc = A Java 3D viewer for chemical structures
	depends = java-runtime
	depends = sh

pkgname = jsmol
	pkgdesc = A JavaScript 3D viewer for chemical structures
