pkgbase = jmol
	pkgver = 16.3.15
	pkgrel = 1
	url = https://jmol.sourceforge.net
	arch = any
	license = LGPL-2.1-only
	makedepends = unzip
	source = https://sourceforge.net/projects/jmol/files/Jmol/Version%2016.3/Jmol%2016.3.15/Jmol-16.3.15-binary.zip
	sha256sums = da2a3ef7caf33dd2254d3198bfea877d0c5db22487000f62e58bcf160838ba7c

pkgname = jmol
	pkgdesc = A Java 3D viewer for chemical structures
	depends = java-runtime
	depends = sh

pkgname = jsmol
	pkgdesc = A JavaScript 3D viewer for chemical structures
