pkgbase = stochas
	pkgdesc = A probabilistic polyrhythmic sequencer
	pkgver = 1.3.13
	pkgrel = 2
	url = https://surge-synth-team.org/stochas
	arch = x86_64
	license = GPL-3.0-only
	makedepends = glibc
	makedepends = libgcc
	makedepends = libgcc_s.so
	makedepends = libstdc++
	makedepends = libstdc++.so
	makedepends = freetype2
	makedepends = libfreetype.so
	makedepends = libjpeg-turbo
	makedepends = libjpeg.so
	makedepends = libpng
	makedepends = libpng16.so
	makedepends = zlib
	makedepends = libz.so
	makedepends = ttf-liberation
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = flac
	makedepends = gendesk
	makedepends = git
	makedepends = jack
	makedepends = juce
	makedepends = libogg
	makedepends = libvorbis
	makedepends = libx11
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = libxrandr
	source = stochas::git+https://github.com/surge-synthesizer/stochas.git#tag=v1.3.13
	source = github.com-free-audio-clap-juce-extensions::git+https://github.com/free-audio/clap-juce-extensions.git
	source = github.com-free-audio-clap::git+https://github.com/free-audio/clap.git
	source = github.com-free-audio-clap-helpers::git+https://github.com/free-audio/clap-helpers.git
	source = stochas-1.3.10-devendor_juce.patch
	sha512sums = fb6e32b9e2b31f7f73889c92be65f97bc3677942ddcfc9275ab67e589c5b8d612f041f26dece2d43a1a416d1f9b801db2c820ecbcf33a1eda65241b26d11aaa5
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 217388273d479e7683f74c4c94a66cc35fef292d11eec364f90943528993d85fdd802df9d65c3f40ccd36591b2370c66108d92d13dd00ada45bf4af214c55013
	b2sums = 4e0ecf3c3de7263fd5226ce1ceb133a481715f48b8e862312c6ab452a970e59f9308c820bc9905f7fb64064424bcaf87506401bc612ca8a62ff907bf78f5855d
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 72e375350b0fb1c4d71d9c8d15a9537f248c6d7f8bfd21dea24505db769c08403f4475389df5daf19fef1591f2fb67a5eb30622780ffaf08cb1a2f2c7f249929

pkgname = stochas
	depends = stochas-clap
	depends = stochas-standalone
	depends = stochas-vst3

pkgname = stochas-clap
	pkgdesc = A probabilistic polyrhythmic sequencer - CLAP plugin
	groups = clap-plugins
	groups = pro-audio
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libstdc++
	depends = libstdc++.so
	depends = freetype2
	depends = libfreetype.so
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libpng
	depends = libpng16.so
	depends = zlib
	depends = libz.so
	depends = ttf-liberation
	depends = clap-host

pkgname = stochas-standalone
	pkgdesc = A probabilistic polyrhythmic sequencer - standalone
	groups = pro-audio
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libstdc++
	depends = libstdc++.so
	depends = freetype2
	depends = libfreetype.so
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libpng
	depends = libpng16.so
	depends = zlib
	depends = libz.so
	depends = ttf-liberation
	depends = alsa-lib
	depends = libasound.so
	depends = hicolor-icon-theme

pkgname = stochas-vst3
	pkgdesc = A probabilistic polyrhythmic sequencer - VST3 plugin
	groups = pro-audio
	groups = vst3-plugins
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libstdc++
	depends = libstdc++.so
	depends = freetype2
	depends = libfreetype.so
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libpng
	depends = libpng16.so
	depends = zlib
	depends = libz.so
	depends = ttf-liberation
	depends = vst3-host
