pkgbase = cloud-init
	pkgdesc = Cloud instance initialization
	pkgver = 24.1
	pkgrel = 2
	url = https://cloud-init.io
	arch = any
	license = GPL-3.0-only OR Apache-2.0
	checkdepends = procps-ng
	checkdepends = python-httpretty
	checkdepends = python-passlib
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-responses
	makedepends = netplan
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = bash
	depends = dhclient
	depends = python
	depends = python-configobj
	depends = python-jinja
	depends = python-jsonpatch
	depends = python-jsonschema
	depends = python-netifaces
	depends = python-oauthlib
	depends = python-pyserial
	depends = python-pyyaml
	depends = python-requests
	depends = python-typing_extensions
	depends = sudo
	depends = systemd
	optdepends = cloud-guest-utils: for growpart
	optdepends = netplan: for configuring network using netplan
	optdepends = python-passlib: for Azure and BSD support
	optdepends = python-urllib3: for LXD and Scaleway data sources
	backup = etc/cloud/cloud.cfg
	backup = etc/cloud/cloud.cfg.d/05_logging.cfg
	source = https://github.com/canonical/cloud-init/archive/24.1/cloud-init-24.1.tar.gz
	sha512sums = 216a824b341947189dbb252e549525bf7001c55778d9a51dde328ae4fd17da041e11813963ffedbb765245202a1e7a05ddc39350cdd8dc8e3bfb70b432b3ea5e
	b2sums = cdc55e9fa7c79e686aa6ac62c59bce8d243093eef90e4ef58f1cfaeae28939518c828ed688c41598216ea3614c77abea2568621240a64a4a7f1a3886ab361e8a

pkgname = cloud-init
