pkgbase = nsxiv
	pkgdesc = Neo (or New or Not) Simple (or Small or Suckless) X Image Viewer
	pkgver = 32
	pkgrel = 1
	url = https://nsxiv.codeberg.page/
	arch = x86_64
	license = GPL2
	depends = imlib2
	depends = libx11
	depends = libxft
	depends = fontconfig
	depends = freetype2
	depends = libexif
	depends = hicolor-icon-theme
	source = nsxiv-32.tar.gz::https://codeberg.org/nsxiv/nsxiv/archive/v32.tar.gz
	sha256sums = 09d1d72b3cbcf17a04e26beb5e81acc9495aaba1f8f1be907bdcd8e4e3007db3

pkgname = nsxiv
