pkgbase = dtkdeclarative
	pkgdesc = Deepin Toolkit, declarative module for DDE look and feel
	pkgver = 5.7.2
	pkgrel = 1
	url = https://github.com/linuxdeepin/dtkdeclarative
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = doxygen
	makedepends = gtest
	makedepends = gmock
	depends = dtkgui
	depends = dtkcore
	depends = qt5-declarative
	depends = qt5-quickcontrols2
	depends = qt5-base
	depends = libgl
	depends = gcc-libs
	source = git+https://github.com/linuxdeepin/dtkdeclarative.git#tag=5.7.2
	sha512sums = 72eaee5b8297e3015f94cc197b9c9c4fb81642143ab3cf94463020e8db5146e3d90d8b9fd78189617d90af00f2cef601af62523204773062f67e7dc1d6a2afe3

pkgname = dtkdeclarative
