pkgbase = dtkdeclarative
	pkgdesc = Deepin Toolkit, declarative module for DDE look and feel
	pkgver = 5.6.29
	pkgrel = 1
	url = https://github.com/linuxdeepin/dtkdeclarative
	arch = x86_64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = doxygen
	makedepends = gtest
	makedepends = gmock
	depends = dtkgui
	depends = dtkcore
	depends = qt5-declarative
	depends = qt5-quickcontrols2
	depends = qt5-base
	depends = libgl
	depends = gcc-libs
	source = git+https://github.com/linuxdeepin/dtkdeclarative.git#tag=5.6.29
	sha512sums = b39799b1f9f276e15a86698d2bc10f9f6ab1ed343710dcac8115e12ceb6622efe2df47a2bfa8e6ea47f960946053efc97ff63c03a7df9ae501cad85d928254bd

pkgname = dtkdeclarative
