pkgbase = gtksourceview5
	pkgdesc = A text widget adding syntax highlighting and more to GNOME
	pkgver = 5.14.0
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GtkSourceView
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = cairo
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libxml2
	depends = pango
	depends = pcre2
	source = git+https://gitlab.gnome.org/GNOME/gtksourceview.git#tag=5.14.0
	b2sums = 3d09132d128d1837ae23f89a4ebc1c48e1769d901b75f69d33ceb35d50c9b55c06e59e332272057012c0aa1149d4e3bf167fb2eb2f9cd7617e45cbffaffcfb5b

pkgname = gtksourceview5
	provides = libgtksourceview-5.so

pkgname = gtksourceview5-docs
	pkgdesc = A text widget adding syntax highlighting and more to GNOME (documentation)
	depends = 
