pkgbase = m4rie
	pkgdesc = Algorithms for linear algebra over F_2^e
	pkgver = 20250102
	pkgrel = 2
	url = https://bitbucket.org/malb/m4rie
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	depends = glibc
	depends = m4ri
	source = git+https://bitbucket.org/malb/m4rie#tag=release-20250102
	sha256sums = 9d6c4e1df85d8e2701a379e9ad12f9bb7a5815e33d74b6872ba2a341339c9197

pkgname = m4rie
