pkgbase = python-micawber
	pkgdesc = A small library for extracting rich content from urls
	pkgver = 0.5.5
	pkgrel = 2
	url = https://github.com/coleifer/micawber
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-beautifulsoup4
	checkdepends = python-django
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-beautifulsoup4: for text parser
	optdepends = python-django: django support
	optdepends = python-flask: flask support
	optdepends = python-redis: redis caching support
	source = https://files.pythonhosted.org/packages/source/m/micawber/micawber-0.5.5.tar.gz
	sha512sums = 9fe25e346c37939c2fd45239b774d827bb5f8b32b8a1ca04c000fcd83a4a55f03cc09141ef863cfdcb2e7baf02018022c6163dabe7e4750412ced9f5f833917d
	b2sums = 25a17316988c529c1a85458744054aafc913fc724fcc57a207ac1b18d9c05f59015ae508ea22861706e014fe986cb5d31d25f9a7f22130fd21044292ff05e551

pkgname = python-micawber
