pkgbase = ospray
	pkgdesc = Ray Tracing Based Rendering Engine for High-Fidelity Visualization
	pkgver = 3.2.0
	pkgrel = 3
	url = https://www.ospray.org/
	arch = x86_64
	license = Apache
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glu
	makedepends = gtest
	makedepends = level-zero-headers
	makedepends = level-zero-loader
	depends = embree
	depends = gcc-libs
	depends = glibc
	depends = ispc
	depends = onetbb
	depends = openmpi
	depends = openimagedenoise
	depends = openvkl
	depends = rkcommon
	depends = snappy
	optdepends = benchmark: benchmarks
	optdepends = gtest: tests suite
	source = https://github.com/ospray/OSPRay/archive/v3.2.0/ospray-3.2.0.tar.gz
	sha256sums = 2c8108df2950bc5d1bc2a62f74629233dbe4f36e3f6a8ea032907d4a3fdc6750

pkgname = ospray
