pkgbase = zathura-cb
	pkgdesc = Adds comic book support to zathura
	pkgver = 0.1.10
	pkgrel = 7
	url = https://pwmt.org/projects/zathura-cb/
	arch = x86_64
	license = Zlib
	makedepends = meson
	makedepends = ninja
	depends = zathura
	depends = libarchive
	depends = desktop-file-utils
	source = zathura-cb-0.1.10.tar.gz::https://github.com/pwmt/zathura-cb/archive/refs/tags/0.1.10.tar.gz
	sha512sums = 5f0de7b6991ca35996b9fc1d32527618b3d0df813d7803ceb7bfcd24762262ab780b01cc8f8aac5ffeb7ca42fac2ba65fd90f74000c9b1bc686d4c4af6ad2a69

pkgname = zathura-cb
