pkgbase = hipsparse
	pkgdesc = rocSPARSE marshalling library.
	pkgver = 6.4.4
	pkgrel = 1
	url = https://rocm.docs.amd.com/projects/hipSPARSE/en/latest/index.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	makedepends = gtest
	depends = rocm-core
	depends = glibc
	depends = gcc-libs
	depends = hip-runtime-amd
	depends = rocsparse
	options = !lto
	source = hipsparse-6.4.4.tar.gz::https://github.com/ROCm/hipSPARSE/archive/rocm-6.4.4.tar.gz
	sha256sums = 9a979ac480b1d76eb06778f3d9472b7a44cd3642e04e65ff1f4b2e4baaa182b0

pkgname = hipsparse
