pkgbase = perl-image-exiftool
	pkgdesc = Reader and rewriter of EXIF information that supports raw files
	pkgver = 13.14
	pkgrel = 1
	url = https://exiftool.org/
	arch = any
	license = GPL
	makedepends = git
	depends = perl
	optdepends = perl-archive-zip: Support for zip files, including epub
	optdepends = perl-io-compress-brotli: Support for brotli-compressed metadata
	provides = perl-exiftool=13.14
	replaces = perl-exiftool
	options = !emptydirs
	source = git+https://github.com/exiftool/exiftool.git#tag=13.14
	sha256sums = b52461b6aae605c0abde36ca1018f99780480bbaa52172c7f956959fd04262a6

pkgname = perl-image-exiftool
