pkgbase = rio
	pkgdesc = A hardware-accelerated GPU terminal emulator powered by WebGPU
	pkgver = 0.4.7
	pkgrel = 3
	url = https://github.com/raphamorim/rio
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = libxcb
	makedepends = libxkbcommon
	makedepends = python
	makedepends = glslang
	makedepends = scdoc
	depends = alsa-lib
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libstdc++
	depends = oniguruma
	depends = vulkan-driver
	options = !lto
	source = rio-0.4.7.tar.gz::https://github.com/raphamorim/rio/archive/refs/tags/v0.4.7.tar.gz
	sha512sums = 3bef09a44bf00e0f5ce361d6d5b1d7fe2d694b12f47b121ee378f9fd4c100015833c4681cf962aa7e56db54c9abba8d776a6bccd8c75cd52cb28bb7dd867ea65

pkgname = rio
