pkgbase = cargo-deb
	pkgdesc = Cargo subcommand that generates Debian packages
	pkgver = 2.11.0
	pkgrel = 1
	url = https://github.com/kornelski/cargo-deb
	arch = x86_64
	license = MIT
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = xz
	depends = liblzma.so
	source = cargo-deb-2.11.0.tar.gz::https://github.com/kornelski/cargo-deb/archive/v2.11.0.tar.gz
	sha256sums = 67da7d2280cf4504e6df4fa0e201f72cce629bd1f2881e4a4d75f3099005e523

pkgname = cargo-deb
