pkgbase = dvisvgm
	pkgdesc = A fast DVI, EPS, and PDF to SVG converter
	pkgver = 3.2
	pkgrel = 1
	url = https://dvisvgm.de/
	arch = x86_64
	license = GPL3
	makedepends = python
	depends = brotli
	depends = freetype2
	depends = gcc-libs
	depends = ghostscript
	depends = glibc
	depends = potrace
	depends = texlive-bin
	depends = woff2
	depends = zlib
	optdepends = mupdf-tools: to process PDF files
	source = https://github.com/mgieseki/dvisvgm/releases/download/3.2/dvisvgm-3.2.tar.gz
	sha256sums = 30cc990186fd4aaf11089d439727572b65f15f219c7c6c7b3e2f9666e1a1f7e6

pkgname = dvisvgm
