pkgbase = naev
	pkgdesc = 2D action/rpg space game
	pkgver = 0.13.1
	pkgrel = 1
	url = https://codeberg.org/naev/naev
	arch = x86_64
	license = GPL3
	makedepends = freeglut
	makedepends = zip
	makedepends = meson
	makedepends = git
	makedepends = python-yaml
	makedepends = rust
	makedepends = rust-bindgen
	depends = glu
	depends = openal
	depends = libvorbis
	depends = sdl3
	depends = libgl
	depends = libxml2
	depends = freetype2
	depends = libpng
	depends = libzip
	depends = luajit
	depends = glpk
	depends = physfs
	depends = libunibreak
	depends = suitesparse
	depends = openblas
	depends = cmark
	depends = enet
	depends = opus
	depends = dav1d
	options = !lto
	source = https://codeberg.org/naev/naev/releases/download/v0.13.1/naev-0.13.1-source.tar.xz
	sha512sums = f4faea7314f076ae0076a01a18525d37bee716a8fa23e99b77597c2420c2b46290aa6d31a561e8e5edfacb14bdb3c96e3b2d0f7d5bd3164d045f15a677be2294

pkgname = naev
