pkgbase = dub
	pkgdesc = Developer package manager for D programming language
	pkgver = 1.40.0
	pkgrel = 1
	url = https://github.com/dlang/dub
	arch = x86_64
	groups = dlang
	license = MIT
	makedepends = ldc
	depends = curl
	source = dub-1.40.0.tar.gz::https://github.com/dlang/dub/archive/v1.40.0.tar.gz
	sha512sums = c8ffa874be206f6e8041635062cd1fa71853d8ccaf9c5eb70353f492b8659c81ab2277e4c19824945f3a527cd4f87b35adc2fa7572b0bf5f80abded63de32ba6

pkgname = dub
