pkgbase = clipnotify
	pkgdesc = Polling-free clipboard notifier
	pkgver = 1.0.2
	pkgrel = 3
	url = https://github.com/cdown/clipnotify
	arch = x86_64
	license = custom:Public Domain
	depends = libx11
	depends = libxfixes
	source = clipnotify-1.0.2.tar.gz::https://github.com/cdown/clipnotify/archive/1.0.2.tar.gz
	sha512sums = 52277099d9543e0f550de63ff2e15e3e7ba63ea38f3928006e2b570bb1bcdd3f2f09892bd4efecc1f36fb5131e0567c28c2b0597123c90b9f78ab6fbd02dfc49

pkgname = clipnotify
