pkgbase = bugstalker
	pkgdesc = Rust debugger for Linux x86-64
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/godzie44/BugStalker
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libunwind
	options = !lto
	source = bugstalker-0.2.6.tar.gz::https://github.com/godzie44/BugStalker/archive/v0.2.6.tar.gz
	sha512sums = 37b695a25d96e1eb875fd49ff029985e1dd3e38d4716892fd88c2d85beae8a5fb440506b8a8971b41ce39f0e10ca2b96da6c49efdd0cf4edc452936a8fe0e90c

pkgname = bugstalker
