pkgbase = python-engineio
	pkgdesc = Python implementation of the Engine.IO realtime server
	pkgver = 4.9.1
	pkgrel = 2
	url = https://github.com/miguelgrinberg/python-engineio
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-aiohttp
	makedepends = python-build
	makedepends = python-eventlet
	makedepends = python-gevent
	makedepends = python-gevent-websocket
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-six
	makedepends = python-sphinx
	makedepends = python-tornado
	makedepends = python-urllib3
	makedepends = python-wheel
	depends = python
	depends = python-requests
	depends = python-websocket-client
	depends = python-websockets
	optdepends = python-eventlet: eventlet driver
	optdepends = python-aiohttp: aiohttp driver
	optdepends = python-tornado: tornado driver
	optdepends = python-gevent: gevent driver
	optdepends = python-gevent-websocket: gevent driver
	options = !makeflags
	source = https://github.com/miguelgrinberg/python-engineio/archive/v4.9.1/python-engineio-4.9.1.tar.gz
	sha512sums = 1414d30fa3073124936909e1395e27579eea2b27862a9770b78c8d91b5568aff869e84f9477c7225cbe35462849445ce9ab17b8ca7b6e8aadeafcdebcb26df0b
	b2sums = b776a56993f6dafe1778be93dbc507eb5ae96e44f0635b17fb3592fb9fca49c0a338393a128e05089a846b43f41328d788066f0b7a0edad78c88e3b14d6adec9

pkgname = python-engineio
