pkgbase = chess-tui
	pkgdesc = Play chess in your terminal
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/thomas-mauran/chess-tui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = alsa-lib
	source = chess-tui-2.1.0.tar.gz::https://github.com/thomas-mauran/chess-tui/archive/2.1.0.tar.gz
	sha512sums = ee0929c0555f2ec49fa999aff48044262a2c520393673b41c26d042ac3bb2b4cf8eee2e1462f6ab561f19eddb2f2ef9b766f489ff8617877a19a994b3bb9e642

pkgname = chess-tui
