pkgbase = python-cloudflare
	pkgdesc = Python wrapper for the Cloudflare v4 API
	pkgver = 2.14.2
	pkgrel = 1
	url = https://github.com/cloudflare/python-cloudflare
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-beautifulsoup4
	depends = python-jsonlines
	depends = python-requests
	depends = python-yaml
	source = git+https://github.com/cloudflare/python-cloudflare.git#tag=2.14.2
	sha512sums = a6d36175322f04df267f5ccce3be4344d4a39111a6c525306c47090d00d8758a99bc7f7966eb8764c46854ff4494102178d8f30f990bcaef3b8df0de7f4b8921

pkgname = python-cloudflare
