pkgbase = python-onnx-ir
	pkgdesc = Efficient in-memory representation for ONNX
	pkgver = 0.1.14
	pkgrel = 1
	url = http://onnx.ai/ir-py/
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-numpy
	depends = python-onnx
	depends = python-typing_extensions
	depends = python-ml-dtypes
	depends = python-rich
	source = python-onnx-ir::git+https://github.com/onnx/ir-py#tag=v0.1.14
	sha256sums = baa21f381a5360245aa1b94712b9e602d93034aabbbadb8ef0c55b5e77cd2c6a

pkgname = python-onnx-ir
