pkgbase = swell-foop
	pkgdesc = Clear the screen by removing groups of colored and shaped tiles
	pkgver = 46.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Swell%20Foop
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later
	makedepends = appstream-glib
	makedepends = git
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	depends = cairo
	depends = dconf
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libgee
	depends = libgnome-games-support-2
	depends = librsvg
	depends = pango
	source = git+https://gitlab.gnome.org/GNOME/swell-foop.git#commit=d173f2c751acdf572a2cc90ef55cdd624f9305d5
	b2sums = SKIP

pkgname = swell-foop
