pkgbase = pulumi
	pkgdesc = Modern Infrastructure as Code
	pkgver = 3.133.0
	pkgrel = 1
	url = https://github.com/pulumi/pulumi
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	source = pulumi-3.133.0.tar.gz::https://github.com/pulumi/pulumi/archive/v3.133.0.tar.gz
	b2sums = 8001ad1343882f5d949db7a72d274f3f24102ebcd457a9645140c060a72fb398cd2c24332cb444c31d0d197d9bd49839209472dfff0d3bf1709e0aaeef9c7af5

pkgname = pulumi
