pkgbase = pulumi
	pkgdesc = Modern Infrastructure as Code
	pkgver = 3.136.1
	pkgrel = 1
	url = https://github.com/pulumi/pulumi
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	source = pulumi-3.136.1.tar.gz::https://github.com/pulumi/pulumi/archive/v3.136.1.tar.gz
	b2sums = 94e6aaf0ece5b65d8c566aa101b567d480d738012cb8d61a6e9df63c797e20dfc7592c54be9194b61765d8e279adc629aac10a64e378e64b85656a491c134a96

pkgname = pulumi
