pkgbase = heretek
	pkgdesc = A GDB TUI Dashboard
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/wcampbell0x2a/heretek
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	makedepends = openssl
	depends = gdb
	options = !lto
	source = heretek-0.5.1.tar.gz::https://github.com/wcampbell0x2a/heretek/archive/refs/tags/v0.5.1.tar.gz
	source = heretek.fish
	sha256sums = c51cd55767407738e22b7701ecb1465c5fd39fb14cfc2d8332a8f15f05ff477c
	sha256sums = 27a10d33e845830df96a9c5041e05a1ee8500c9ab42f27c24a760e1365dba002

pkgname = heretek
