pkgbase = fcft
	pkgdesc = Simple library for font loading and glyph rasterization
	pkgver = 3.3.0
	pkgrel = 1
	url = https://codeberg.org/dnkl/fcft
	arch = x86_64
	license = MIT
	checkdepends = ttf-dejavu
	makedepends = meson
	makedepends = scdoc
	makedepends = tllist
	depends = fontconfig
	depends = freetype2
	depends = harfbuzz
	depends = libutf8proc
	depends = pixman
	provides = libfcft.so
	source = fcft-3.3.0.tar.gz::https://codeberg.org/dnkl/fcft/archive/3.3.0.tar.gz
	sha256sums = 2c5b36f72d3e7b129052d5b87ab7446ae95394bc24f7ad23e639e783eef9421b

pkgname = fcft
