pkgbase = python-onnxscript
	pkgdesc = Author ONNX functions and models
	pkgver = 0.5.7
	pkgrel = 1
	url = https://microsoft.github.io/onnxscript/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-numpy
	depends = python-ml-dtypes
	depends = python-onnx
	depends = python-onnx-ir
	depends = python-typing_extensions
	depends = python-rich
	source = python-onnxscript::git+https://github.com/microsoft/onnxscript.git#tag=v0.5.7
	sha512sums = e9c5104bdc8ac3695693795f5b72f69a23933870cafb89575ecdae9aaea2c0685485199c3705b590710bd1dec0cd60b3d13e16829b9d1f47b761eff802b34491

pkgname = python-onnxscript
