pkgbase = xaos
	pkgdesc = Interactive fractal zoomer
	pkgver = 4.3.4
	pkgrel = 1
	url = https://xaos-project.github.io/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = gendesk
	makedepends = git
	makedepends = qt6-tools
	depends = qt6-base
	source = git+https://github.com/xaos-project/XaoS#tag=release-4.3.4
	b2sums = d958abb79a566c872ba7479882f168c1d735e5413fd2fc0ec42d779eb9e30fc82781f1230acd671261cdfaba6c35f1b63efd1c143363e74150f31630d9e759ab

pkgname = xaos
