pkgbase = python-yaspin
	pkgdesc = Yet Another Terminal Spinner
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/pavdmyt/yaspin
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-termcolor
	source = git+https://github.com/pavdmyt/yaspin.git#tag=v3.0.0
	sha512sums = 82cf304a451c5af9d11f6d054ada605eb3f7877e2199bc50d442e4ff42798b571b4ed49d7ae0846f0c582479ca4556a2d8be7e0511fd1c685e325a54e27e6730

pkgname = python-yaspin
