pkgbase = rgbds
	pkgdesc = Rednex GameBoy Development System
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/gbdev/rgbds
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glibc
	depends = libpng
	source = git+https://github.com/gbdev/rgbds.git#tag=d63955eccd7aa69794960a626144ea247d638957
	b2sums = 9113b2ecffeb259d31ab846d4580ecb87552ad8a45563437973b9e12ba325b0975b455b727cbcb608af240f5fbb24b211b3c9c895062db3ffe5218d9ac550968

pkgname = rgbds
