pkgbase = molecule
	pkgdesc = Aids in the development and testing of Ansible roles
	pkgver = 26.2.0
	pkgrel = 1
	url = https://github.com/ansible-community/molecule
	arch = any
	license = MIT
	checkdepends = ansible
	checkdepends = ansible-navigator
	checkdepends = check-jsonschema
	checkdepends = python-ansi2html
	checkdepends = python-filelock
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-testinfra
	checkdepends = python-pytest-xdist
	checkdepends = python-regress
	checkdepends = python-uv
	checkdepends = yamllint
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = git
	depends = python
	depends = python-ansible-compat
	depends = python-click
	depends = python-click-help-colors
	depends = python-enrich
	depends = python-jinja
	depends = python-jsonschema
	depends = python-packaging
	depends = python-pluggy
	depends = python-pyyaml
	depends = python-rich
	depends = python-wcmatch
	optdepends = ansible: for the ansible verifier
	optdepends = ansible-navigator: to use navigator as playbook executor
	optdepends = molecule-docker: for the docker driver
	optdepends = molecule-podman: for the podman driver
	optdepends = molecule-vagrant: for the vagrant driver
	optdepends = python-pywinrm: for Windows support
	optdepends = python-pytest-testinfra: for the testinfra verifier
	source = git+https://github.com/ansible-community/molecule.git#tag=v26.2.0
	sha512sums = ac01476138e82b022c56dfb8d4d4a58bd52e3468a50abd6629d4942f8ab0772ca9df38bb6e1a82e2a6ee5b84b32f3b1bccea85e3dd6524850ad75a030c56b610
	b2sums = b84e6298120b50a6e3a5cd59f880423a6711c710251cbef426114904a4e66cf979da2917bd9951089c052e8af674d24b7d05f07314246917b4f5f5cda6c8b752

pkgname = molecule
