pkgbase = haskell-bower-json
	pkgdesc = Read bower.json from Haskell
	pkgver = 1.1.0.0
	pkgrel = 99
	url = https://github.com/hdgarrood/bower-json
	arch = x86_64
	license = MIT
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-aeson-better-errors
	depends = haskell-scientific
	depends = haskell-unordered-containers
	depends = haskell-vector
	source = https://hackage.haskell.org/packages/archive/bower-json/1.1.0.0/bower-json-1.1.0.0.tar.gz
	sha256sums = d435ffe94a774c1a4a262b6c17971cb38a3fe69c9f99c52c8b168db7e363d052

pkgname = haskell-bower-json
