pkgbase = ruby-oedipus_lex
	pkgdesc = This is not your father’s lexer
	pkgver = 2.6.2
	pkgrel = 5
	url = https://github.com/seattlerb/oedipus_lex
	arch = any
	license = MIT
	makedepends = ruby-hoe
	makedepends = ruby-minitest
	makedepends = ruby-rake
	depends = ruby
	depends = ruby-erb
	options = !emptydirs
	source = https://github.com/seattlerb/oedipus_lex/archive/v2.6.2/ruby-oedipus_lex-2.6.2.tar.gz
	sha256sums = 2ea91433cac258d76bd1aaec876b44218460ac2e276ee2da6c6ad3fb714e84d9

pkgname = ruby-oedipus_lex
