pkgbase = lib32-renderdoc
	pkgdesc = OpenGL and Vulkan debugging tool (capture-only, 32-bit)
	pkgver = 1.31
	pkgrel = 1
	url = https://github.com/baldurk/renderdoc
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python
	makedepends = ninja
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-mesa
	depends = lib32-libgl
	depends = lib32-xcb-util-keysyms
	provides = lib32-renderdoc-minimal
	conflicts = lib32-renderdoc-minimal
	replaces = lib32-renderdoc-minimal
	options = !lto
	source = https://github.com/baldurk/renderdoc/archive/v1.31.tar.gz
	source = https://github.com/baldurk/renderdoc/releases/download/v1.31/v1.31.tar.gz.asc
	source = lib32-vulkan-layer.patch
	validpgpkeys = 1B039DB9A4718A2D699DE031AC612C3120C34695
	b2sums = a51e2d380b61f462e29b97679b0c2014e26cf108e3d9bc70874fedfbee5a9f391e8693f54c76fae51b9459b70d2197c362b95054a54c5e2e889c8ce85ba74305
	b2sums = SKIP
	b2sums = 1efc51a3e13c12fe4ecee75db8311c5aabd9946123f485f27581a8d584f016492cb82ccbe24a65c259bcafc45fc0a6373d832ecf1039fa29d2d35610133a21db

pkgname = lib32-renderdoc
