pkgbase = hslua-cli
	pkgdesc = Command-line interface for Lua
	pkgver = 1.4.3
	pkgrel = 47
	url = https://hslua.org/
	arch = x86_64
	license = MIT
	makedepends = ghc
	makedepends = uusi
	depends = ghc-libs
	depends = haskell-hslua-core
	depends = haskell-hslua-marshalling
	depends = haskell-hslua-repl
	depends = haskell-lua
	source = https://hackage.haskell.org/packages/archive/hslua-cli/1.4.3/hslua-cli-1.4.3.tar.gz
	sha256sums = f573269f33099b1e4c81eb80bb60ad7727728730bae6532f60c8628a02abc8ea

pkgname = hslua-cli
