pkgbase = gnome-connections
	pkgdesc = Remote desktop client for the GNOME desktop environment
	pkgver = 48.0
	pkgrel = 1
	url = https://apps.gnome.org/Connections/
	arch = x86_64
	groups = gnome
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = gobject-introspection
	makedepends = itstool
	makedepends = meson
	makedepends = vala
	depends = cairo
	depends = dconf
	depends = freerdp
	depends = fuse3
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk-vnc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libhandy
	depends = libsecret
	depends = libxml2
	source = git+https://gitlab.gnome.org/GNOME/gnome-connections.git?signed#tag=48.0
	source = git+https://gitlab.gnome.org/GNOME/gtk-frdp.git
	validpgpkeys = F55CDAB508C3ACBCB1C8B930C910F152653B1688
	b2sums = c8da8891be51b2dd63bc528da5043f50695add5d478429704041a348ceb75f2022b3b3858b734740440bf1aaf27a8b1890b6a3812d650e2d2af9908ad1bfd7ea
	b2sums = SKIP

pkgname = gnome-connections
