pkgbase = haskell-monad-par-extras
	pkgdesc = Combinators and extra features for Par monads
	pkgver = 0.3.3
	pkgrel = 281
	url = https://github.com/simonmar/monad-par
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-abstract-par
	depends = haskell-cereal
	depends = haskell-random
	source = https://hackage.haskell.org/packages/archive/monad-par-extras/0.3.3/monad-par-extras-0.3.3.tar.gz
	sha512sums = 89811cbdb6ab6654f31a8c327b4d0299c27938b226e0e12b0917393b610d02ea5a62182bff513cdfd19c21165658f0f1ef1ea00bdae114fd84d524051dca4fe0

pkgname = haskell-monad-par-extras
