pkgbase = ruby-rspec-rerun
	pkgdesc = rerun failed RSpec examples for brittle tests
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/dblock/rspec-rerun
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-rubocop
	checkdepends = ruby-bump
	makedepends = git
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-rspec
	options = !emptydirs
	source = ruby-rspec-rerun::git+https://github.com/dblock/rspec-rerun.git#tag=v1.1.0
	sha512sums = 009a8ca9036a78d944fa1444484954be9f15f3683629c19cc50b004c7d4beb916a1c4ed3b2170e5d4e1b811f132ffcdd151cc5dbfaed3f7731fbdb875e71806d

pkgname = ruby-rspec-rerun
