pkgbase = weechat
	pkgdesc = Fast, light and extensible IRC client (curses UI)
	pkgver = 4.9.3
	pkgrel = 1
	url = https://www.weechat.org/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = enchant
	makedepends = guile
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = curl
	depends = gnutls
	depends = cjson
	depends = libgcrypt
	optdepends = enchant: spellchecker support
	optdepends = guile: support for guile scripts
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for python scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	source = https://www.weechat.org/files/src/weechat-4.9.3.tar.xz
	source = https://www.weechat.org/files/src/weechat-4.9.3.tar.xz.asc
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = 4829a1cb696813359fd66d0d82a64308d42c8a35b29bee7d7991fcb51af1cc6c4f9fb01d3af4ef7b3cde24f58503a885489c1f0bf73e197c46a5d72fc918165e
	sha512sums = SKIP
	b2sums = fcb3188ced7d8f6de70c3e3c4d1f25cd8d26b4b19bb7c1ef35ac96580449ffdd9d24179ff79d3359ea51c96835782e6bc756044971c63010ca2d8d64c2c2e678
	b2sums = SKIP

pkgname = weechat
