pkgbase = haskell-pantry
	pkgdesc = Content addressable Haskell package management
	pkgver = 0.8.2
	pkgrel = 8
	url = https://github.com/commercialhaskell/pantry
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = git
	checkdepends = mercurial
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-hedgehog
	makedepends = haskell-hspec
	makedepends = haskell-quickcheck
	makedepends = haskell-raw-strings-qq
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-ansi-terminal
	depends = haskell-casa-client
	depends = haskell-casa-types
	depends = haskell-conduit
	depends = haskell-conduit-extra
	depends = haskell-crypton
	depends = haskell-crypton-conduit
	depends = haskell-digest
	depends = haskell-filelock
	depends = haskell-generic-deriving
	depends = haskell-hackage-security
	depends = haskell-hpack
	depends = haskell-http-client
	depends = haskell-http-client-tls
	depends = haskell-http-conduit
	depends = haskell-http-download
	depends = haskell-http-types
	depends = haskell-memory
	depends = haskell-mono-traversable
	depends = haskell-network-uri
	depends = haskell-path
	depends = haskell-path-io
	depends = haskell-persistent
	depends = haskell-persistent-sqlite
	depends = haskell-primitive
	depends = haskell-resourcet
	depends = haskell-rio
	depends = haskell-rio-orphans
	depends = haskell-rio-prettyprint
	depends = haskell-tar-conduit
	depends = haskell-text-metrics
	depends = haskell-unix-compat
	depends = haskell-unliftio
	depends = haskell-unordered-containers
	depends = haskell-vector
	depends = haskell-yaml
	depends = haskell-zip-archive
	source = https://hackage.haskell.org/packages/archive/pantry/0.8.2/pantry-0.8.2.tar.gz
	sha512sums = 82cfafd335cbd72bcf3347cacda5d96853b7e8d9b81027f5e0ccb4742e8929a4f93d7ca35e3bd3764d89e717098d2427cd7aa8eb7b14c7166dd92b819316131a

pkgname = haskell-pantry
