pkgbase = fcitx5-configtool
	pkgdesc = Configuration Tool for Fcitx5
	pkgver = 5.1.1
	pkgrel = 2
	url = https://github.com/fcitx/fcitx5-configtool
	arch = x86_64
	groups = fcitx5-im
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdeclarative5
	makedepends = kirigami2
	makedepends = ninja
	makedepends = python
	makedepends = plasma-framework5
	depends = fcitx5-qt
	depends = kwidgetsaddons5
	depends = kitemviews5
	depends = qt5-x11extras
	optdepends = kdeclarative5: for KCM support
	optdepends = kirigami2: for KCM support
	optdepends = plasma-framework5: for fcitx5-plasma-theme-generator
	provides = fcitx5-config-qt
	provides = kcm-fcitx5
	conflicts = kcm-fcitx5
	replaces = kcm-fcitx5
	source = https://download.fcitx-im.org/fcitx5/fcitx5-configtool/fcitx5-configtool-5.1.1.tar.xz
	source = https://download.fcitx-im.org/fcitx5/fcitx5-configtool/fcitx5-configtool-5.1.1.tar.xz.sig
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = c3c91914e0975b643bc2cc2164410ee31204c2feb529fa25cec9240965ffba7e6b75a03c065afdc12b98ede92befa68eb42b9f63c94e9b23c486bde325a1d67d
	sha512sums = SKIP

pkgname = fcitx5-configtool
