pkgbase = cargo-auditable
	pkgdesc = A cargo-subcommand to make production Rust binaries auditable
	pkgver = 0.7.2
	pkgrel = 1
	url = https://github.com/rust-secure-code/cargo-auditable
	arch = x86_64
	license = Apache-2.0
	license = MIT
	depends = cargo
	depends = gcc-libs
	source = cargo-auditable-0.7.2.tar.gz::https://github.com/rust-secure-code/cargo-auditable/archive/v0.7.2.tar.gz
	sha512sums = b2f3c4d9edde7ab4f56b15627409cf3e4a83046c009c7836be9da947dc22b744d4984c19484ba5ce79a5d0628a57f62afa4113e60f0641fdfd003d2ed971adf7

pkgname = cargo-auditable
