pkgbase = systemctl-tui
	pkgdesc = A fast, simple TUI for interacting with systemd services and their logs
	pkgver = 0.5.2
	pkgrel = 1
	url = https://github.com/rgwood/systemctl-tui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = systemctl-tui-0.5.2.tar.gz::https://github.com/rgwood/systemctl-tui/archive/v0.5.2.tar.gz
	sha512sums = d99921d0d688a873c34fc3684c9041ca3b07629de1e1900a178532955b082e8e6dd972d779fb8a83822d2ddb9997f38f2aad4ccfb8bfd61e8fc6db02a18b9009

pkgname = systemctl-tui
