pkgbase = python-icalendar
	pkgdesc = A parser/generator of iCalendar files (RFC 2445)
	pkgver = 6.3.0
	pkgrel = 1
	url = https://github.com/collective/icalendar
	arch = any
	license = BSD-2-Clause
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytz
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python-dateutil
	source = git+https://github.com/collective/icalendar.git#tag=v6.3.0
	source = tzdata.patch
	b2sums = e371dd6abfa8d6b120951d9516c4a2dad25dcebf8c252fcbccb0526c9e56a8d44eba4a721ad9658c2622cad8b0badea6caa87f62db66df9f69c8d03d8940e3c1
	b2sums = 97090020758909ff25acd3eb42a426f6bbf763a4fce3fb798f615c04a4c177dd2d07112818495d3f00db8ad17a3098233211a1f53364f57528a887bd149dd1fa

pkgname = python-icalendar
