pkgbase = haskell-hoauth2
	pkgdesc = Haskell OAuth2 authentication client
	pkgver = 2.9.0
	pkgrel = 6
	url = https://github.com/freizl/hoauth2
	arch = x86_64
	license = BSD
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-hspec
	makedepends = haskell-hspec-discover
	depends = ghc-libs
	depends = haskell-aeson
	depends = haskell-base64
	depends = haskell-cryptonite
	depends = haskell-data-default
	depends = haskell-http-conduit
	depends = haskell-http-types
	depends = haskell-memory
	depends = haskell-microlens
	depends = haskell-uri-bytestring
	depends = haskell-uri-bytestring-aeson
	source = https://hackage.haskell.org/packages/archive/hoauth2/2.9.0/hoauth2-2.9.0.tar.gz
	sha256sums = ca75ba1d0f782bab3ae73b3d96cf6bdab3b25f862508d5738d4900e288cd16f9

pkgname = haskell-hoauth2
