pkgbase = brasero
	pkgdesc = CD/DVD mastering tool
	pkgver = 3.12.3+r24+gd01ba738
	pkgrel = 2
	url = https://wiki.gnome.org/Apps/Brasero
	arch = x86_64
	license = GPL
	makedepends = gtk-doc
	makedepends = yelp-tools
	makedepends = gnome-common
	makedepends = intltool
	makedepends = libburn
	makedepends = libisofs
	makedepends = gobject-introspection
	makedepends = itstool
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	depends = gtk3
	depends = gst-plugins-good
	depends = totem-plparser
	depends = cdrtools
	depends = cdrdao
	depends = shared-mime-info
	depends = libcanberra
	depends = dvd+rw-tools
	depends = dconf
	depends = libsm
	depends = libnotify
	depends = gvfs
	depends = tracker3
	optdepends = libburn: alternative back-end
	optdepends = libisofs: libburn back-end
	optdepends = dvdauthor: video project
	optdepends = vcdimager: video project
	source = git+https://gitlab.gnome.org/GNOME/brasero.git#commit=d01ba738eb22502852fdc6001d2422bc7af04116
	sha256sums = SKIP

pkgname = brasero
