pkgbase = intel-media-driver
	pkgdesc = Intel Media Driver for VAAPI — Broadwell+ iGPUs
	pkgver = 24.1.4
	pkgrel = 1
	url = https://github.com/intel/media-driver/
	arch = x86_64
	license = MIT
	license = BSD-3-Clause
	makedepends = cmake
	depends = gcc-libs
	depends = intel-gmmlib
	depends = libva
	source = https://github.com/intel/media-driver//archive/intel-media-24.1.4.tar.gz
	sha256sums = 7ea727b3e2890cf8f50307a3910664209bcbae1ce0d3d8f81bb9f522b0f66d59

pkgname = intel-media-driver
