pkgbase = legba
	pkgdesc = A multiprotocol credentials bruteforcer / password sprayer and enumerator
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/evilsocket/legba
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = cmake
	depends = libssl.so
	depends = smbclient
	options = !lto
	source = https://github.com/evilsocket/legba/archive/v0.7.1/legba-0.7.1.tar.gz
	sha256sums = 8d8e99d9ef147fbc5122cda8bec743edcf319d4f4accab1f883832044ebd3e9b
	b2sums = 0c9f516116cc6a583f72a6fbde0cc6cd7993ff09b8164977d99e5cd7d0384914cf8f5bcf67c5ac8490f97998fe6ae8c1111e1e30ef26e6eee4f4743539a0f74c

pkgname = legba
