pkgbase = lib32-libdatrie
	pkgdesc = Implementation of double-array structure for representing trie, as proposed by Junichi Aoe.
	pkgver = 0.2.13
	pkgrel = 3
	url = https://linux.thai.net/projects/datrie
	arch = x86_64
	license = LGPL
	depends = lib32-glibc
	depends = libdatrie
	provides = libdatrie.so
	source = https://linux.thai.net/pub/thailinux/software/libthai/libdatrie-0.2.13.tar.xz
	sha256sums = 12231bb2be2581a7f0fb9904092d24b0ed2a271a16835071ed97bed65267f4be

pkgname = lib32-libdatrie
