pkgbase = cargo-release
	pkgdesc = Cargo subcommand "release": everything about releasing a rust crate
	pkgver = 0.25.3
	pkgrel = 1
	url = https://github.com/crate-ci/cargo-release
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = rust
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = zlib
	options = !lto
	source = https://github.com/crate-ci/cargo-release/archive/v0.25.3/cargo-release-0.25.3.tar.gz
	sha512sums = f18fa22d306be6c186026e56da5dd7482b29e1e3ff765875c3674af416c4dbd1f8ffbb72b746700aabdbce9d7dfda2601f2e0026bb7da4a0e1ccb57f0d760ccb
	b2sums = c76120c2b40037741f7d76c1d7f81fcbc0738abf96e6d3c8dd670edf36cecf1053f460306ca399242101b1d0d241eb6ef7dcd020ed377c1af74a79144e7de344

pkgname = cargo-release
