pkgbase = deepin-appearance
	pkgdesc = Application resource management and control services for the dde desktop environment
	pkgver = 1.1.67
	pkgrel = 1
	url = https://github.com/linuxdeepin/dde-appearance
	arch = x86_64
	groups = deepin
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	depends = qt6-base
	depends = dtk6core
	depends = kconfig
	depends = kwindowsystem
	depends = kglobalaccel
	depends = libxcursor
	depends = libxfixes
	depends = libx11
	depends = gtk3
	depends = libxcb
	depends = xcb-util-cursor
	depends = fontconfig
	depends = openssl
	depends = glib2
	depends = dtk6gui
	depends = glibc
	depends = gcc-libs
	depends = deepin-daemon
	depends = deepin-service-manager
	source = git+https://github.com/linuxdeepin/dde-appearance.git#tag=1.1.67
	sha512sums = 2cb1a6a33f3b00f771df20f7d048602c93f738a5f8612f2972a5d9892633a3e4ebdda80fee8f97da8de7d79f82193b9b192540d231912bba450ca3cf664fc1d4

pkgname = deepin-appearance
