pkgbase = cosmic-comp
	pkgdesc = Compositor for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.6
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-comp
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = libdisplay-info
	depends = libseat.so
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = mesa
	depends = pixman
	depends = systemd-libs
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-comp.git#tag=e0f78da0aebeddd4d0444c019ea8a3d64f55ad29
	b2sums = e3c643e9a268345dd7b7b5f9cda97cb0480eb15506b27cd2a9191b49cd0afd2c4b746c73401da3f3b004e5983a505d701d6e98cfc02dafbe7b9a54957ec3dc6b

pkgname = cosmic-comp
