pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2026.0.3
	pkgrel = 1
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	checkdepends = git
	checkdepends = python-flaky
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2026.0.3.tar.gz::https://github.com/pypa/pipenv/archive/v2026.0.3.tar.gz
	b2sums = f9266c3d84e78dbb8fb330387c3a584cb5da7f48dc79b8cb0a0edcbb5e960df9409723f67dc7627121ec0d834375a7e84657db1481fe36b6e01ca0f627a05f74

pkgname = python-pipenv
