pkgbase = python-proxmoxer
	pkgdesc = Python Wrapper for the Proxmox 2.x API (HTTP and SSH)
	pkgver = 2.2.0
	pkgrel = 2
	url = https://github.com/proxmoxer/proxmoxer
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-requests: for https backend
	optdepends = python-paramiko: for ssh_paramiko backend
	source = https://files.pythonhosted.org/packages/source/p/proxmoxer/proxmoxer-2.2.0.tar.gz
	sha256sums = 3ed63a58e5c0822841afdb3801f9d913a4996955c1c54f7319b5842ba2615006

pkgname = python-proxmoxer
