pkgbase = oha
	pkgdesc = Ohayou(おはよう), HTTP load generator, inspired by rakyll/hey with tui animation
	pkgver = 1.12.1
	pkgrel = 1
	url = https://github.com/hatoo/oha
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = openssl
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = oha-1.12.1.tar.gz::https://github.com/hatoo/oha/archive/refs/tags/v1.12.1.tar.gz
	sha512sums = 41d7c16ac46f8fe92da472a61187d0013f9746569404a689a2e34c828a8eec0d430be9a76fc0cecef4cbd36c8928ce1d1c775bb7adf73e12c023c93db8879b92

pkgname = oha
