pkgbase = nwg-shell
	pkgdesc = Installer & meta-package for the nwg-shell project
	pkgver = 0.5.48
	pkgrel = 1
	url = https://nwg-piotr.github.io/nwg-shell/
	install = nwg-shell.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = foot
	depends = gnome-themes-extra
	depends = grim
	depends = imagemagick
	depends = jq
	depends = libappindicator-gtk3
	depends = network-manager-applet
	depends = papirus-icon-theme
	depends = playerctl
	depends = polkit-gnome
	depends = python
	depends = slurp
	depends = swappy
	depends = sway
	depends = swayidle
	depends = swaylock
	depends = swaybg
	depends = wl-clipboard
	depends = xorg-xwayland
	depends = wlsunset
	depends = azote
	depends = gopsuinfo
	depends = nwg-dock
	depends = nwg-drawer
	depends = nwg-menu
	depends = nwg-look
	depends = nwg-panel
	depends = nwg-hello
	depends = nwg-shell-config
	depends = nwg-shell-wallpapers
	depends = nwg-displays
	depends = nwg-clipman
	depends = nwg-readme-browser
	depends = nwg-icon-picker
	depends = swaync
	depends = gtklock
	depends = gtklock-userinfo-module
	depends = gtklock-powerbar-module
	depends = gtklock-playerctl-module
	depends = xdg-user-dirs
	optdepends = hyprland: Supported alternative Wayland compositor
	optdepends = nwg-dock-hyprland: nwg-dock for Hyprland
	optdepends = firefox: Suggested web browser
	optdepends = typobuster: Suggested text editor
	optdepends = thunar: Suggested file manager
	source = nwg-shell-0.5.48.tar.gz::https://github.com/nwg-piotr/nwg-shell/archive/v0.5.48.tar.gz
	sha256sums = ce1f6a249e86c7a20cadbf07fe3fc7b1ebb87905809ae89aec3941a092bfa124

pkgname = nwg-shell
