pkgbase = stalwart-cli
	pkgdesc = A schema-driven command line tool for administering Stalwart
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/stalwartlabs/cli
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = rust
	depends = glibc
	depends = libgcc_s.so
	options = !lto
	source = stalwart-cli::git+https://github.com/stalwartlabs/cli#tag=v1.0.8
	sha512sums = e7e517132924c5ce21f874e3520746f2d0ef5442ffb7c9a374c306feccdb51f5db37d155ba1bf15e8d042f5dfd3c9037a09e342cc2d5d7ec4b5a5be085c8e762
	b2sums = 5bcf816b0f7f83d70b67e6d6f76300c7e9e797adc079697b899354d24f00b286f26ee0f2c9930de20cc90379b139ffbbb84bfeae8655dcd0d513f95c5ff56ede

pkgname = stalwart-cli
