pkgbase = cockpit-machines
	pkgdesc = Cockpit UI for virtual machines
	pkgver = 317
	pkgrel = 1
	url = https://github.com/cockpit-project/cockpit-machines
	arch = any
	license = LGPL-2.1-or-later
	depends = cockpit
	depends = libvirt-dbus
	optdepends = virt-install: create new virtual machines
	optdepends = virt-viewer: open graphical display of virtual machines
	source = https://github.com/cockpit-project/cockpit-machines/releases/download/317/cockpit-machines-317.tar.xz
	sha256sums = fbd1ba03f1f0fb2d7370c32b72be7546ad02d766b23961614f5adb830ecbb709

pkgname = cockpit-machines
