pkgbase = asciidoctor
	pkgdesc = An implementation of AsciiDoc in Ruby
	pkgver = 2.0.21
	pkgrel = 1
	url = https://asciidoctor.org
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	noextract = asciidoctor-2.0.21.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/asciidoctor-2.0.21.gem
	sha512sums = 3fe064d9b00c84ff81803c0645ae522fa66b253b93957b4fe567a240ea77af5a94a47aae04fda4207e698d76f21b2a9bcd44daca388960cfd1cc4f24d03606f0

pkgname = asciidoctor
