pkgbase = qt6-grpc
	pkgdesc = Provides the modules QtGrpc and QtProtobuf
	pkgver = 6.6.2
	pkgrel = 2
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = grpc
	depends = protobuf
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.6/6.6.2/submodules/qtgrpc-everywhere-src-6.6.2.tar.xz
	sha256sums = bca05b2ab97a59fe2ad1e91369b30d4b79bc2a3864055d7f3752f05d24aa8eba

pkgname = qt6-grpc
