pkgbase = qt6-grpc
	pkgdesc = Provides the modules QtGrpc and QtProtobuf
	pkgver = 6.8.0
	pkgrel = 2
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = grpc
	makedepends = ninja
	makedepends = qt6-declarative
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = protobuf
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = git+https://code.qt.io/qt/qtgrpc#tag=v6.8.0
	sha256sums = 5f77eae22de1ec77fc9ed53fd94e1ced8cdeff05a4884321b7910348f438a152

pkgname = qt6-grpc
