pkgbase = clipcat
	pkgdesc = A clipboard manager
	pkgver = 0.19.0
	pkgrel = 1
	url = https://github.com/xrelkd/clipcat
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = libgit2
	makedepends = protobuf
	depends = gcc-libs
	options = !lto
	source = clipcat-0.19.0.tar.gz::https://github.com/xrelkd/clipcat/archive/refs/tags/v0.19.0.tar.gz
	sha256sums = 519270b78b43374ec70ac1f32779e4650bf2dcd7512d3ae97a68c430e0a0d7f3

pkgname = clipcat
