pkgbase = xorg-xlogo
	pkgdesc = Draw [old] X logo
	pkgver = 1.0.6
	pkgrel = 2
	url = https://xorg.freedesktop.org/
	arch = x86_64
	license = custom
	makedepends = xorg-util-macros
	depends = libsm
	depends = libxaw
	depends = libxmu
	depends = libxt
	depends = libxext
	depends = libx11
	depends = libxrender
	depends = libxft
	source = https://xorg.freedesktop.org/archive/individual/app/xlogo-1.0.6.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/app/xlogo-1.0.6.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = f0c921e0e34d2c0959d95ca0fcb7488395043280b8b35bcad4e8a528224f2b38581fbf60e82239d06760ecd637692cb29c3b1c0c46ac7f269f692a139d954ea0
	sha512sums = SKIP

pkgname = xorg-xlogo
