pkgbase = python-pybcj
	pkgdesc = BCJ (Branch-Call-Jump) filter for python
	pkgver = 1.0.2
	pkgrel = 2
	url = https://codeberg.org/miurahr/pybcj
	arch = x86_64
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-hypothesis
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	source = https://files.pythonhosted.org/packages/source/p/pybcj/pybcj-1.0.2.tar.gz
	sha256sums = c7f5bef7f47723c53420e377bc64d2553843bee8bcac5f0ad076ab1524780018

pkgname = python-pybcj
