pkgbase = python-faker
	pkgdesc = Faker generates fake data for you.
	pkgver = 40.22.0
	pkgrel = 1
	url = https://faker.readthedocs.io/en/master/
	arch = any
	license = MIT
	checkdepends = python-validators
	checkdepends = python-ukpostcodeparser
	checkdepends = python-freezegun
	checkdepends = python-pillow
	checkdepends = python-xmltodict
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-xmltodict: for xml provider
	source = git+https://github.com/joke2k/faker.git#tag=v40.22.0
	sha512sums = 9c93f764bfa5c07f5ea6244a511f1ab32e76dd06a729b8d16a673f88f1e9384decd5b5d6d8d5c6742030679a0e8f51e22c655b6309ec9f3864547fdece8e410e

pkgname = python-faker
