pkgbase = python-emoji
	pkgdesc = Emoji for Python
	pkgver = 2.14.0
	pkgrel = 2
	url = https://github.com/carpedm20/emoji
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/carpedm20/emoji.git#tag=v2.14.0
	sha512sums = 1bf088e5436951f526c90788ee45b19857189ca9ea33218a389fc53cbb2a6b644a431be40b941544fb57a95bd98d8495a1be65b2c5f43c54e15c00f5969d0d7a

pkgname = python-emoji
