pkgbase = pyright
	pkgdesc = Type checker for the Python language
	pkgver = 1.1.366
	pkgrel = 1
	url = https://microsoft.github.io/pyright
	arch = any
	license = MIT
	makedepends = git
	makedepends = npm
	depends = nodejs
	source = git+https://github.com/microsoft/pyright.git#tag=1.1.366
	b2sums = 6332aeb62332c55ea43a064e2a19e473090178210bd27644216440e41c34b8f930c233e07a7eb1e14e1b71e74ee3ab162903f5ab164d373dc43dad0b553c54a0

pkgname = pyright
