pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.1.8
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = https://github.com/astral-sh/ruff/archive/refs/tags/v0.1.8/ruff-0.1.8.tar.gz
	sha512sums = 1b962086e925761337ef95c8951a271a5bc26b16ae3ca2ea70d46d817d29167454b6b34f36e5d0424c7fb808bf65da11857fe1da7da876e07eb35e3ed654fd4e
	b2sums = 9095196ca50a240b478b2a2cd4273df12a1c1438fb32cbfafc7e6df0ef09ff4456e3d90406e70addc7867fff6317cdb8474379cfe7d9e68706a20b0f53d5beee

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
