pkgbase = opensearch-index-management-plugin
	pkgdesc = OpenSearch Index Management Plugin
	pkgver = 3.0.0.0
	pkgrel = 1
	url = https://opensearch.org/docs/latest/im-plugin
	arch = x86_64
	license = Apache-2.0
	makedepends = java-environment=21
	makedepends = unzip
	depends = opensearch=3.0.0
	depends = opensearch-notifications-plugin
	source = opensearch-index-management-plugin-3.0.0.0.tar.gz::https://github.com/opensearch-project/index-management/archive/3.0.0.0.tar.gz
	sha256sums = d70eda2b88279e5a6c4d01f829b2e5e186aabf39c733c8eca7b15c47e5859dec

pkgname = opensearch-index-management-plugin
