pkgbase = haskell-dbus
	pkgdesc = A client library for the D-Bus IPC system
	pkgver = 1.3.3
	pkgrel = 27
	url = https://john-millikin.com/software/haskell-dbus/
	arch = x86_64
	license = Apache-2.0
	checkdepends = dbus
	makedepends = ghc
	makedepends = uusi
	makedepends = haskell-extra
	makedepends = haskell-quickcheck
	makedepends = haskell-resourcet
	makedepends = haskell-tasty
	makedepends = haskell-tasty-hunit
	makedepends = haskell-tasty-quickcheck
	makedepends = haskell-temporary
	depends = ghc-libs
	depends = haskell-cereal
	depends = haskell-conduit
	depends = haskell-lens
	depends = haskell-network
	depends = haskell-random
	depends = haskell-split
	depends = haskell-th-lift
	depends = haskell-vector
	depends = haskell-xml-conduit
	depends = haskell-xml-types
	source = https://hackage.haskell.org/packages/archive/dbus/1.3.3/dbus-1.3.3.tar.gz
	sha512sums = 70b0514d5c5a59d17ef0f51c4d2f6be91e72517666d21d902d1411efc256e009f97d62f23a96137cdc2f4fb75399b92f7ffe4c6e6b4bdf19980f28bdb80ba548

pkgname = haskell-dbus
