pkgbase = bcachefs-tools
	pkgdesc = BCacheFS filesystem utilities
	pkgver = 1.38.8
	pkgrel = 2
	epoch = 3
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = fuse3
	makedepends = glibc
	makedepends = keyutils
	makedepends = libkeyutils.so
	makedepends = libaio
	makedepends = libaio.so
	makedepends = libgcc
	makedepends = libsodium
	makedepends = libsodium.so
	makedepends = libunwind
	makedepends = libunwind.so
	makedepends = liburcu
	makedepends = lz4
	makedepends = systemd-libs
	makedepends = libudev.so
	makedepends = udev
	makedepends = util-linux-libs
	makedepends = libblkid.so
	makedepends = libuuid.so
	makedepends = zlib
	makedepends = libz.so
	makedepends = zstd
	makedepends = libzstd.so
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = clang
	makedepends = git
	makedepends = jq
	makedepends = llvm
	makedepends = pkgconf
	makedepends = valgrind
	options = !lto
	source = git+https://github.com/koverstreet/bcachefs-tools.git#tag=v1.38.8
	b2sums = 661b7309099d3978116cd3dfe78a476ca17645f5ce51557623c2f2de75ce9251fdb43b2444c3a16e9d65b32ec73fe708a10472ac5a09691fb9f971aac7af704f

pkgname = bcachefs-tools
	depends = fuse3
	depends = glibc
	depends = keyutils
	depends = libkeyutils.so
	depends = libaio
	depends = libaio.so
	depends = libgcc
	depends = libsodium
	depends = libsodium.so
	depends = libunwind
	depends = libunwind.so
	depends = liburcu
	depends = lz4
	depends = systemd-libs
	depends = libudev.so
	depends = udev
	depends = util-linux-libs
	depends = libblkid.so
	depends = libuuid.so
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	depends = bash

pkgname = bcachefs-dkms
	depends = bash
	depends = dkms
	depends = rust
	depends = rust-bindgen
