pkgbase = bcachefs-tools
	pkgdesc = BCacheFS filesystem utilities
	pkgver = 1.39.0
	pkgrel = 2
	epoch = 3
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = fuse3
	makedepends = glibc
	makedepends = keyutils
	makedepends = libkeyutils.so
	makedepends = libaio
	makedepends = libaio.so
	makedepends = libgcc
	makedepends = libsodium
	makedepends = libsodium.so
	makedepends = libunwind
	makedepends = libunwind.so
	makedepends = liburcu
	makedepends = lz4
	makedepends = systemd-libs
	makedepends = libudev.so
	makedepends = udev
	makedepends = util-linux-libs
	makedepends = libblkid.so
	makedepends = libuuid.so
	makedepends = zlib
	makedepends = libz.so
	makedepends = zstd
	makedepends = libzstd.so
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = clang
	makedepends = git
	makedepends = jq
	makedepends = llvm
	makedepends = pkgconf
	makedepends = valgrind
	options = !lto
	source = git+https://github.com/koverstreet/bcachefs-tools.git#tag=v1.39.0
	source = 0001-do-not-load-binary-modules-for-dkms-package.patch
	b2sums = fe338be6a7b2937bf711541984145dc902ab3c8b33111d79fb1985e753c8077d7cdf5a0739c650ca8e259524cac412a0fdfcba3067b9f2f9b1a005fe54cf5ed5
	b2sums = 55cc2148c23a18f1d286fb77941a03b41ee4b3748728e517e5af06ec88fab41262c67b603907b0da8319bc5f08ff1667edc1480284bd4d3aca72c5412cb68e9f

pkgname = bcachefs-tools
	depends = fuse3
	depends = glibc
	depends = keyutils
	depends = libkeyutils.so
	depends = libaio
	depends = libaio.so
	depends = libgcc
	depends = libsodium
	depends = libsodium.so
	depends = libunwind
	depends = libunwind.so
	depends = liburcu
	depends = lz4
	depends = systemd-libs
	depends = libudev.so
	depends = udev
	depends = util-linux-libs
	depends = libblkid.so
	depends = libuuid.so
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	depends = bash

pkgname = bcachefs-dkms
	depends = bash
	depends = dkms
	depends = rust
	depends = rust-bindgen
