pkgbase = cargo-nextest
	pkgdesc = A next-generation test runner for Rust.
	pkgver = 0.9.95
	pkgrel = 1
	url = https://github.com/nextest-rs/nextest
	arch = x86_64
	license = Apache-2.0
	license = MIT
	depends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-nextest-0.9.95.tar.gz::https://github.com/nextest-rs/nextest/archive/refs/tags/cargo-nextest-0.9.95.tar.gz
	sha256sums = cfe167f9d71e54cd6eb3e9bb20791b8c28831dfeaf741ac3a08afdfbe3e09b08
	b2sums = 14d9bce4d2345524f83fbb6a442441898d602b1d1731bb36e018bc4577289cfd5d41d739b2c8898340593a1cc3dd1be870ada1f19239a0dcba1e4591fb9556e5

pkgname = cargo-nextest
