pkgbase = boinctui
	pkgdesc = Curses based fullscreen BOINC manager
	pkgver = 2.7.2
	pkgrel = 1
	url = https://sourceforge.net/projects/boinctui/
	arch = x86_64
	license = GPL
	makedepends = cmake
	depends = expat
	depends = gcc-libs
	depends = ncurses
	depends = openssl
	source = https://sourceforge.net/projects/boinctui/files/boinctui_2.7.2.tar.gz
	source = https://sourceforge.net/projects/boinctui/files/boinctui_2.7.2.tar.gz.asc
	validpgpkeys = 4D2DBBB4F06EC2C977B26BFD80878E59832BEC15
	sha512sums = ee0b93e3a4394907e46980f60b21e75264c8285414d009725533326067891660046464cc1a1bbd6f622bd9d77fb3023a3e1d08530b5d8ab73154774fb738524d
	sha512sums = SKIP

pkgname = boinctui
