pkgbase = perl-regexp-shellish
	pkgdesc = Perl/CPAN Module Regexp::Shellish : Shelllike regular expressions
	pkgver = 0.93
	pkgrel = 15
	url = https://search.cpan.org/dist/Regexp-Shellish
	arch = any
	license = GPL
	license = PerlArtistic
	source = https://www.cpan.org/authors/id/R/RB/RBS/Regexp-Shellish-0.93.tar.gz
	sha256sums = 39b4991192e6c6fcda39075b674515fdb3a0657c1cdccc8c2552e434233955f9

pkgname = perl-regexp-shellish
