pkgbase = jacktrip
	pkgdesc = Multi-machine audio network performance over the Internet
	pkgver = 2.2.2
	pkgrel = 1
	epoch = 1
	url = https://github.com/jacktrip/jacktrip
	arch = x86_64
	groups = pro-audio
	license = LGPL-3.0-only
	license = GPL-2.0-or-later
	license = GPL-3.0-or-later
	license = MIT
	makedepends = help2man
	makedepends = meson
	makedepends = jack
	makedepends = python-jinja
	makedepends = python-yaml
	makedepends = rtaudio
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quickcontrols2
	depends = qt6-shadertools
	depends = qt6-svg
	depends = qt6-webchannel
	depends = qt6-webengine
	depends = qt6-websockets
	depends = qt6-webview
	source = https://github.com/jacktrip/jacktrip/archive/v2.2.2/jacktrip-v2.2.2.tar.gz
	sha512sums = 6e679c2aad07f10ff67e1e401c311df2001cce839f43e0c92559694ca82d83a0c486827b3ab66af25ccca02cfc91060728bdd2be18fc481ffa96e664aa1bb1fe
	b2sums = c13dd6252afa1d0b1f8c659cdbf2907cb221582dce46e30771eb59a9c83073992b9cb1164f10f7a709bc4d5e521cb7f04fcfee9969d4efc552420970b4b5ed94

pkgname = jacktrip
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quickcontrols2
	depends = qt6-shadertools
	depends = qt6-svg
	depends = qt6-webchannel
	depends = qt6-webengine
	depends = qt6-websockets
	depends = qt6-webview
	depends = jack
	depends = libjack.so
	depends = rtaudio
	depends = librtaudio.so
